<div class="w-full mt-[15px] px-2 text-white pb-[75px] relative z-1">
    <div title="In Play" class="w-full">
        <div title="In Play" class=" w-full font-helvetica">
            <div class="inplay-heading bg-bg_competetionInPlayUpComingBg border-border_color_primary">
                <div class="img-wrapper text-text_color_primary2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                        <g clip-path="url(#clip0_1696_2272)">
                            <path
                                d="M14.5 2.83337C8.06004 2.83337 2.83337 8.06004 2.83337 14.5C2.83337 20.94 8.06004 26.1667 14.5 26.1667C20.94 26.1667 26.1667 20.94 26.1667 14.5C26.1667 8.06004 20.94 2.83337 14.5 2.83337ZM12.1667 19.75V9.25004L19.1667 14.5L12.1667 19.75Z"
                                fill="#fff"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_1696_2272">
                                <rect width="28" height="28" fill="white" transform="translate(0.5 0.5)"></rect>
                            </clipPath>
                        </defs>
                    </svg>
                    <span>In Play</span>
                </div>
            </div>

            <div class="inplay-content bg-bg_color_primary " *ngFor="let sport of inplayList?.data; index as i"
                [ngClass]="{'!border-t':i != 0}">
                <div class="eventHeadName grid grid-cols-12 borderColor">
                    <div class="event-title text-text_color_primary1">
                        <i class="sport-icon text-[#11e311]" [attr.sport]="sport.sportName.toLowerCase()"></i>
                        <div class="event-name text-text_color_primary1">
                            {{sport.sportName}}
                        </div>
                    </div>
                    <div class="event-score">
                        <span class="score">1</span>
                        <span class="score">X</span>
                        <span class="score">2</span>
                    </div>
                    <ng-container *ngFor="let market of sport?.data">
                        <div (click)="gotoMarket(market)" title="The Hundred"
                            class="market-title border-border_color_primary1 ">
                            <span id="inPlayTime" class="market-date">
                                <span class="date text-text_color_InPlayEventsScoreAndTime">
                                    {{market.eventTime | date:'dd-MM-yyyy hh:mm a'}}
                                </span>
                            </span>
                            <a title="The Hundred" id="inPlayTeamName" class="market-name border-border_color_primary">
                                <span class="market-text">
                                    <div class="text-wrapper">
                                        <span class="brand"></span>
                                        <span class="brand-text">
                                            {{market?.eventName}}
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </div>
                        @if(market?.oddsData?.status !== 'SUSPENDED'){
                        <span class="odd-boxes border-border_color_primary1">
                            <div class="lg:!grid !hidden odd-box-container">
                                <div class="col-span-4 grid grid-cols-2 h-full lg:gap-[2px]">
                                    <div class="w-full h-full">
                                        <div class="odd-box-wrapper bg-bg_color_backBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market.oddsData.runners[0].price.back[0] ?
                                                market.oddsData.runners[0].price.back[0].price : '0'}}</span>
                                            <span id="oddBtnSize">{{market.oddsData.runners[0].price.back[0] ?
                                                market.oddsData.runners[0].price.back[0].size : '0'}}</span>
                                        </div>
                                    </div>
                                    <div class="w-full h-full">
                                        <div class="odd-wrapper bg-bg_color_layBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market.oddsData.runners[0].price.lay[0] ?
                                                market.oddsData.runners[0].price.lay[0].price : '0'}}</span>
                                            <span id="oddBtnSize">{{market.oddsData.runners[0].price.lay[0] ?
                                                market.oddsData.runners[0].price.lay[0].size : '0'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 grid grid-cols-2 h-full lg:gap-[2px]">
                                    <div class="w-full h-full">
                                        <div class="odd-wrapper bg-bg_color_backBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                                                market.oddsData.runners[2].price.back[0].price : '-'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                                                market.oddsData.runners[2].price.back[0].size : '-'}}</span>
                                        </div>
                                    </div>
                                    <div class="w-full h-full">
                                        <div class="odd-wrapper bg-bg_color_layBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                                market?.oddsData?.runners[2]?.price?.lay[0]?.price : '-'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                                market?.oddsData?.runners[2]?.price?.lay[0]?.size : '-'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 grid grid-cols-2 h-full lg:gap-[2px]">
                                    <div class="w-full h-full">
                                        <div class="odd-wrapper bg-bg_color_backBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                                                market?.oddsData?.runners[1]?.price?.back[0]?.price : '0'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                                                market?.oddsData?.runners[1]?.price?.back[0]?.size : '0'}}</span>
                                        </div>
                                    </div>
                                    <div class="w-full h-full">
                                        <div class="odd-wrapper bg-bg_color_layBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                                                market?.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                                                market?.oddsData?.runners[1]?.price?.lay[0]?.size : '0'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="mob-odd-box lg:!hidden" id="hideScrollBar">
                                <div class="mob-odd-wrapper">
                                    <div class="col-span-4 w-full h-full">
                                        <div class="mob-odd-container bg-bg_color_backBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market.oddsData.runners[0]?.price.back[0] ?
                                                market.oddsData.runners[0].price.back[0]?.price : '0'}}</span>
                                            <span id="oddBtnSize">{{market.oddsData.runners[0]?.price.back[0] ?
                                                market.oddsData.runners[0].price.back[0]?.size : '0'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-span-4 w-full h-full">
                                        <div class="mob-odd-container bg-bg_color_backBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                                                market.oddsData.runners[2].price.back[0]?.price : '-'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                                market?.oddsData?.runners[2]?.price?.lay[0]?.size : '-'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-span-4 w-full h-full">
                                        <div class="mob-odd-container bg-bg_color_backBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                                                market?.oddsData?.runners[1]?.price?.back[0]?.price : '0'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                                                market?.oddsData?.runners[1]?.price?.back[0]?.size : '0'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mob-odd-wrapper">
                                    <div class="col-span-4 w-full h-full">
                                        <div class="mob-odd-container bg-bg_color_layBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market.oddsData.runners[0]?.price.lay[0] ?
                                                market.oddsData.runners[0]?.price.lay[0].price : '0'}}</span>
                                            <span id="oddBtnSize">{{market.oddsData.runners[0]?.price.lay[0] ?
                                                market.oddsData.runners[0]?.price.lay[0].size : '0'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-span-4 w-full h-full">
                                        <div class="mob-odd-container bg-bg_color_layBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                                market?.oddsData?.runners[2]?.price?.lay[0]?.price : '-'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                                market?.oddsData?.runners[2]?.price?.lay[0]?.size : '-'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-span-4 w-full h-full">
                                        <div class="mob-odd-container bg-bg_color_layBtnBg text-text_color_oddValue">
                                            <span id="oddBtnPrice">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                                                market?.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span>
                                            <span id="oddBtnSize">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                                                market?.oddsData?.runners[1]?.price?.lay[0]?.size : '0'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                        }@else {
                        <span class="suspended border-border_color_primary1">
                            <div title="Suspended" class="suspended-wrapper">
                                <span class="suspended-text bg-bg_color_suspendedBgColor">SUSPENDED</span>
                            </div>
                        </span>
                        }
                    </ng-container>
                    <!-- <div title="The Hundred" class="market-title border-border_color_primary1 ">
                        <span id="inPlayTime" class="market-date">
                            <span class="date text-text_color_InPlayEventsScoreAndTime">
                                05-08-2025 10:30 PM
                            </span>
                        </span>
                        <a title="The Hundred" id="inPlayTeamName" class="market-name border-border_color_primary"
                            href="/cricket/The%20Hundred/4/29510526">
                            <span class="market-text">
                                <div class="text-wrapper">
                                    <span class="brand"></span>
                                    <span class="brand-text">
                                        The Hundred
                                    </span>
                                </div>
                            </span>
                            <span class="absolute top-0.5 right-0.5">
                                <svg width="13" height="11" viewBox="0 0 13 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.8182 0H1.18182C0.525909 0 0 0.543889 0 1.22222V8.55556C0 9.22778 0.525909 9.77778 1.18182 9.77778H4.13636V11H8.86364V9.77778H11.8182C12.4682 9.77778 12.9941 9.22778 12.9941 8.55556L13 1.22222C13 0.543889 12.4682 0 11.8182 0ZM11.8182 8.55556H1.18182V1.22222H11.8182V8.55556ZM8.86364 4.88889L4.72727 7.33333V2.44444L8.86364 4.88889Z"
                                        fill="#11e311">
                                    </path>
                                </svg>
                            </span>
                        </a>
                    </div> -->

                </div>
            </div>

        </div>
    </div>
</div>