@media (max-width: 769px) {
  .page-title {
    height: 14vw;
    line-height: 14vw;
    padding: 0 6vw;
    font-size: 4.5vw;
    background-color: #111317;
    color: #95999b;
    font-weight: 400;
  }

  .page-title .arrow {
    float: left;
    font-size: 24px;
    line-height: 14vw;
  }

  .page-title * {
    vertical-align: middle;
    align-content: center;
  }

  .page-title .title {
    float: right;
  }

  .page-title .icon {
    float: right;
    line-height: 14vw;
    font-size: 24px;
    max-height: 6vw;
    margin-right: 1.1vw;
    color: #95999b;
  }

  .content {
    padding: 0 6vw;
    min-height: calc(100vh - 45vw);
    font-size: 3.5vw;
  }
}

@media (min-width: 770px) {
  .page-wrapper {
    position: relative;
    float: left;
    width: calc(100% - 253.125px);
    overflow: hidden;
    margin-left: 253.125px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .content {
    padding: 0;
  }
}

.table-container {
  background-color: #000;
  color: #95999b;
  @apply max-lg:p-[3vw];
}

table {
  width: 100%;
}

th,
td {
  padding: 8px;
}

thead tr th {
  background-color: #272d33;
  /* border: none !important; */
}

tbody,
thead,
th,
td {
  border: 1px solid #424546;
  white-space: nowrap;
}
