<div class="page-wrapper [@media(max-width:769px)]:!hidden">
    <div class="nav">
        <div class="rect">
            <div class="flex items-center">
                <span class="material-icons-outlined">account_balance_wallet</span>
                <span>Balance</span>
            </div>
            <div>
                <span class="amount">0.00</span>
                <span class="currency-str">USD</span>
            </div>
        </div>
        <a class="deposit rect ">
            <span class="material-icons-outlined">payment</span>
            <span class="font-bold">Deposit</span>
        </a>
    </div>
    <div class="content">
        <div class="half">
            <h2>User Profile</h2>
            <ul class="fields">
                <li>
                    <div class="username">Username</div>
                    <div class="info">jackey501</div>
                    <span class="material-icons locked">lock_outline</span>
                </li>

                <li>
                    <div class="username">Password</div>
                    <div class="info">************</div>
                    <span class="material-icons locked editable">edit</span>
                </li>

                <li>
                    <div class="username">First Name</div>
                    <div class="info">Jackey</div>
                    <span class="material-icons locked">lock_outline</span>
                </li>


                <li>
                    <div class="username">Last Name</div>
                    <div class="info">Chain</div>
                    <span class="material-icons locked">lock_outline</span>
                </li>

                <li>
                    <div class="username">Date of Birth</div>
                    <span class="material-icons locked editable">edit</span>
                </li>
            </ul>
        </div>

        <div class="half !pr-0">
            <h2>User Profile</h2>
            <ul class="fields">
                <li>
                    <div class="username">Username</div>
                    <div class="info">jackey501</div>
                    <span class="material-icons locked">lock_outline</span>
                </li>

                <li>
                    <div class="username">Password</div>
                    <div class="info">************</div>
                    <span class="material-icons locked editable">edit</span>
                </li>

                <li>
                    <div class="username">First Name</div>
                    <div class="info">Jackey</div>
                    <span class="material-icons locked">lock_outline</span>
                </li>


                <li>
                    <div class="username">Last Name</div>
                    <div class="info">Chain</div>
                    <span class="material-icons locked">lock_outline</span>
                </li>

                <li>
                    <div class="username">Date of Birth</div>
                    <span class="material-icons locked editable">edit</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bg-[#14161B] roboto-medium [@media(min-width:769px)]:!hidden " >
    <div class="page-title">
        <a class="material-icons arrow">arrow_back</a>
        <span class="title">PERSONAL INFO</span>
        <span class="material-icons icon">assignment_ind</span>
    </div>
    <div class="mb-content">
        <h2>User Profile</h2>
        <ul class="filled mb-fields">
            <li>
                <div class="desc">Username</div>
                <div class="info" field="username">jackey501</div>
            </li>
            <li>
                <div class="desc">FIRSTNAME</div>
                <div class="info">Jackey</div>
            </li>
            <li>
                <div class="desc">LASTNAME</div>
                <div class="info">Chain</div>
            </li>
            <li class="password">
                <div class="desc">Password</div>
                <div class="info">*****************</div>
                <span class="material-icons editable changepass">border_color</span>
            </li>
            <li>
                <div class="desc">Email</div>
                <div class="info">{{'info@chiraagonline.com'}}</div>
            </li>
            <li>
                <div class="desc">Country</div>
                <div class="info">India</div>
            </li>
            <li>
                <div class="desc">Mobile Number</div>
                <div class="info">8792065967</div>
            </li>
        </ul>

        <h2>ADD_YOUR_DETAILS</h2>

        <ul class="fill mb-fields">
            <li class="edit-mode">
                <div class="desc">Date of Birth</div>
                <input type="date" name="birthdate" placeholder="Date of Birth">
            </li>

            <li class="edit-mode">
                <div class="desc">City</div>
                <input type="text" name="city" placeholder="City">
            </li>

            <li class="edit-mode">
                <div class="desc">Address</div>
                <input type="text" name="address" placeholder="Address">
            </li>
        </ul>
        <div class="save btn"  bis_skin_checked="1">SAVE_DETAILS</div>
    </div>
</div>