<app-header></app-header>
<div class="bg-[#13161B] text-white h-screen overflow-y-auto main-container">

    <div class="relative w-full max-w-3xl lg:max-w-[100%] mx-auto overflow-hidden">
        <div class="flex transition-transform duration-500 ease-in-out"
            [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
            <div *ngFor="let img of images" class="min-w-full">
                <img [src]="img" class="w-full h-[142px] lg:h-auto lg:max-h-[300px] object-cover" />
            </div>
        </div>


        <div class="flex items-center justify-center absolute bottom-[8px] gap-[10px] w-full">
            <button (click)="prev()" [disabled]="isFirst()"
                class="flex items-center justify-center static w-[24.9744px] h-[24.9744px] bg-[rgba(25,19,9,.57)] text-white rounded-full disabled:opacity-30">
                &#10094;
            </button>

            <button (click)="next()" [disabled]="isLast()"
                class="flex items-center justify-center static w-[24.9744px] h-[24.9744px] bg-[rgba(25,19,9,.57)] text-white rounded-full disabled:opacity-30">
                &#10095;
            </button>
        </div>
    </div>

    <div class="log h-auto">
        <h2 class="title poppins-medium">Log In</h2>

        <form class="px-[1.17045rem] lg:max-w-[800px] lg:mx-auto" [formGroup]="loginForm" (submit)="onSubmit()">
            <input class="poppins-regular" formControlName="userName" type="text" name="username"
                placeholder="Username">
            <div class="err-text text-red-500 text-sm mt-1 pl-[6px]"
                *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched">Username is required
            </div>

            <div class="w-full relative">
                <input class="poppins-regular" formControlName="password" [type]="isEye ? 'text' : 'password'" name="password"
                    placeholder="Password">
                <i class="absolute right-4 top-[53%] cursor-pointer text-white"
                    [ngClass]="isEye ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="isEye = !isEye"></i>
            </div>

            <div class="err-text text-red-500 text-sm mt-1 pl-[6px]"
                *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is required
            </div>
            <span routerLink="/passwordrecovery" class="forget flex justify-end poppins-medium">Forgot Password?</span>
            <button type="submit" class="login-btn btn roboto-medium" [disabled]="loginForm.invalid"
                [ngClass]="{'opacity-[.5]':loginForm.invalid}">Log In</button>
            <p class="have-account">
                <span class="poppins-regular">Do not have an account?</span>
                <a class="poppins-medium text-[#11e311] ml-1">Sign Up</a>
            </p>
        </form>
        <app-footer></app-footer>
    </div>
</div>