<div class="overlay bg-[rgba(35,31,32,.9)] flex items-center justify-center z-[999] fixed w-full h-full top-0 left-0">
    <form class="w-[21.2890625rem] relative bg-[#030303] max-h-[90%] rounded-[0.1816rem]">
        <h2 class="poppins-bold">Forgot Password?</h2>
        <span (click)="closePass()" class="material-icons close">close</span>
        <ul class="h-auto">
            <li>
                <input type="email" name="email" placeholder="E-mail" required autocomplete="off">
            </li>
            <li>
                <button type="submit" class="btn">Send</button>
            </li>
        </ul>
        <p class="pb-[0.8516rem]"></p>
    </form>
</div>