<!-- Tenniss -->
<div class="pricing-page-top__match-centre">
    <div class="match-centre__score-and-events desktopView">
        <div class="item" *ngIf="totalSets?.length ==3">
            <div class="cricket mc-sc">
                <div class="mc-sc__ctnr">
                    <div class="mc-sc__tm-dtl">
                        <div class="mc-sc__add-inf">
                            <div style="font-size: 12px;text-transform: capitalize;font-weight: bold;"> Powered By
                                Universe Score </div>
                            <!-- <div class="mc-sc__info"></div> -->
                        </div>
                        <div class="mc-sc__tm-ctnr">
                            <div class="score-item pos1 bat-ball val-ball">
                               <span *ngIf="slider[0]?.score?.scoreItems[0]?.scoreData[totalSets?.length+2]?.value=='*'">
                                <img class="score-item__img ball bat-ball" src="./../../../../../assets/ball.svg">
                        </span>
                            </div>
                            <div class="team-kit">
                                <div class="team-strip small">
                                    <img [src]="'https://spxstatic.com/sports/assets/media/flags/'+slider[0]?.score?.teamInfo?.team1Flag" alt="">                                 
                                     <!-- [alt]="slider[0]?.score?.teamInfo?.team1Abbreviation" -->
                                </div>
                            </div>
                            <div class="mc-sc__tm-dtls-container">
                                <div class="mc-sc__team-and-score">
                                    <div class="mc-sc__team-name">
                                        {{slider[0]?.score?.teamInfo?.team1Name}}
                                    </div>

                                </div>
                                <div  class="mc-sc__team-extra-info">
                                
                                    <div  class="score-item pos4 currentBatsman ">
                                        <span class="score-item__value">
                                            {{slider[0]?.score?.scoreItems[0]?.scoreData[7]?.value}}
                                            <span  class="score-item__extra-info"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mc-sc__tm-ctnr">
                            <div class="score-item pos1 bat-ball val-ball">
                                <span *ngIf="slider[0]?.score?.scoreItems[1]?.scoreData[totalSets?.length+2]?.value=='*'">
                                    <img class="score-item__img ball bat-ball" src="./../../../../../assets/ball.svg">
                                </span>
                            </div>
                            <div class="team-kit">
                                <div class="team-strip small">
                                    <img class="btm-flg-img" [src]="'https://spxstatic.com/sports/assets/media/flags/'+slider[0]?.score?.teamInfo?.team2Flag"
                                    alt="">                                    <!-- [alt]="slider[0]?.score?.teamInfo?.team2Abbreviation" -->
                                </div>
                            </div>
                            <div class="mc-sc__tm-dtls-container">
                                <div class="mc-sc__team-and-score">
                                    <div class="mc-sc__team-name">

                                        {{slider[0]?.score?.teamInfo?.team2Name}}

                                    </div>
                                </div>
                                <div  class="mc-sc__team-extra-info">
                                
                                    <div  class="score-item pos4 currentBatsman ">
                                        <span class="score-item__value">
                                            {{slider[0]?.score?.scoreItems[1]?.scoreData[7]?.value}}
                                            <span  class="score-item__extra-info"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mc-sc__score-detail">
                        <div class="mc-sc__score-header">
                            <div class="cricket mc-sc__score-header-icons score">SETS</div>
                            <div class="cricket mc-sc__score-header-icons overs">1</div>
                            <div class="cricket mc-sc__score-header-icons runrate">2</div>
                            <div class="cricket mc-sc__score-header-icons score four-head">
                                <span class="text">3</span>
                            </div>
                            <div class="cricket mc-sc__score-header-icons score six-head" >
                                <span class="text">PTS</span>
                            </div>
                        </div>
                        <div>
                            <div class="mc-sc__score-values">
                                <div class="score-item pos0 sets">
                                    <span>{{slider[0]?.score?.scoreItems[0]?.scoreData[0]?.value}}</span>
                                </div>
                                <div class="score-item completed pos0 one">
                                    <!-- *ngFor="let item of FetchSets(slider[0]?.score?.scoreItems[0]?.scoreData)" -->
                                    <span class="" >{{slider[0]?.score?.scoreItems[0]?.scoreData[1]?.value}}</span>
                                </div>
                                <div class="score-item completed pos0 two">
                                    <span>{{slider[0]?.score?.scoreItems[0]?.scoreData[2]?.value}}</span>
                                    
                                </div>
                                <div class="score-item completed pos0 three">
                                    <span>{{slider[0]?.score?.scoreItems[0]?.scoreData[3]?.value}}</span>
                                </div>
                                <div class="score-item completed pos0 four crciket-end-data">
                                    <span>{{slider[0]?.score?.scoreItems[0]?.scoreData[4]?.value}}</span>
                                </div>
                            </div>
                            <div class="mc-sc__score-values">
                                <div class="score-item pos0 score">
                                    <span
                                        class="score-item__value">{{slider[0]?.score?.scoreItems[1]?.scoreData[0]?.value}}</span>
                                </div>
                                <div class="score-item completed pos0 overs">
                                    <span class="score-item__value">{{slider[0]?.score?.scoreItems[1]?.scoreData[1]?.value}}</span>
                                </div>
                                <div class="score-item completed pos0 runrate">
                                    <span
                                        class="score-item__value">{{slider[0]?.score?.scoreItems[1]?.scoreData[2]?.value}}</span>
                                </div>
                                <div class="score-item completed pos0 fours">
                                    <span class="score-item__value">{{slider[0]?.score?.scoreItems[1]?.scoreData[3]?.value}}</span>
                                </div>
                                <div class="score-item completed pos0 sixes crciket-end-data" >
                                    <span class="score-item__value">{{slider[0]?.score?.scoreItems[1]?.scoreData[4]?.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mc-sc__status-text">
                    <marquee direction="scroll" scrolldelay="100" class="pull-right fancy-marquee">
                        {{slider[0].score.statusCommentry}}
                    </marquee>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center" *ngIf="slider?.length === 0" style="height: 100%;">
            <img src="./../../../../../assets/loader.gif" alt="loader" />
        </div>
    </div>
</div>
