<div class="w-full py-[11.250px] flex bg-[#0A0C0E] lg:hidden">
<ul class="w-full flex px-[5.674vw] justify-between items-end relative">
    <li *ngFor="let item of menuItems" (click)="item.action ? actionsMap[item.action]() : null"
        [routerLink]="item.route ? item.route : null"
        class="flex flex-col items-center justify-center gap-[0.709vw] relative opacity-[0.6]">
        <img [src]="item.icon" alt="" aria-hidden="true">
        <span class="text-[#FFFFFF99] uppercase text-[13.125px] font-bold">{{ item.label }}</span>
    </li>

</ul>

</div>

@if(bets){
<div class="fixed left-0 right-0 bg-black z-50" style="top: 52px; bottom: 69px;">
    <div class="w-full h-full overflow-auto text-white flex flex-col gap-4">
        <div class="flex items-center justify-between p-4 bg-[#121519]">
            <h2 class="text-lg font-semibold tracking-wide text-text_color_primary1">Open Bets</h2>
            <button (click)="bets = false" type="button" aria-label="Close" title="Close"
                class="hover:scale-110 transition-transform">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#fff" viewBox="0 0 16 16">
                    <path
                        d="M9.46585 8.01314L15.6959 1.78287C16.1014 1.37762 16.1014 0.722377 15.6959 0.317124C15.2907 -0.0881297 14.6354 -0.0881297 14.2302 0.317124L7.99991 6.5474L1.76983 0.317124C1.36438 -0.0881297 0.709336 -0.0881297 0.304082 0.317124C-0.101361 0.722377 -0.101361 1.37762 0.304082 1.78287L6.53416 8.01314L0.304082 14.2434C-0.101361 14.6487 -0.101361 15.3039 0.304082 15.7092C0.506045 15.9113 0.771595 16.0129 1.03695 16.0129C1.30232 16.0129 1.56768 15.9113 1.76983 15.7092L7.99991 9.47889L14.2302 15.7092C14.4323 15.9113 14.6977 16.0129 14.9631 16.0129C15.2284 16.0129 15.4938 15.9113 15.6959 15.7092C16.1014 15.3039 16.1014 14.6487 15.6959 14.2434L9.46585 8.01314Z">
                    </path>
                </svg>
            </button>
        </div>

        <div class="wraper bg-[#121519] p-4 rounded-lg shadow-xl flex flex-col gap-4 mx-2.5">
            <div *ngFor="let item of openBetsData let i = index" class="bg-gray-800 rounded-md">
                <div (click)="toggleBet(item[0], i)"
                    class="flex items-center justify-between py-3 px-4 cursor-pointer transition-colors">
                    <div class="truncate font-medium">{{item[0].eventName}}</div>
                    <span [ngClass]="{'rotate-180': checkBoxIndex == i}" class="transition-transform duration-300">

                        <svg width="20" height="20" viewBox="0 0 30 30" fill="none">
                            <path
                                d="M15.7071 9.29289C15.3166 8.90237 14.6834 8.90237 14.2929 9.29289L7.92893 15.6569C7.53841 16.0474 7.53841 16.6805 7.92893 17.0711C8.31946 17.4616 8.95262 17.4616 9.34315 17.0711L15 11.4142L20.6569 17.0711C21.0474 17.4616 21.6805 17.4616 22.0711 17.0711C22.4616 16.6805 22.4616 16.0474 22.0711 15.6569L15.7071 9.29289Z"
                                fill="#fff"></path>
                        </svg>
                    </span>
                </div>

                <div *ngIf="loader" class="flex justify-center py-6">
                    <app-loader></app-loader>
                </div>

                <div *ngIf="checkBoxIndex == i" class="collapsible flex flex-col gap-2 p-3">
                    <span class="px-3 py-1 bg-black rounded-sm w-fit text-sm tracking-wide shadow-sm">Matched</span>
                    <div class="info-container text-[12px]">
                        <ul class="py-[9px] flex text-gray-400">
                            <li class="w-[42%] text-left">Back (Bet For)</li>
                            <li class="w-[16%] text-center">Odds</li>
                            <li class="w-[16%] text-center">Stake</li>
                            <li class="w-[25%] text-right">Profit</li>
                        </ul>

                        @for (bet of matchedBetList; track $index) {
                        <ul *ngIf="bet.type == 'B'"
                            class="py-[9px] back flex flex-col px-2 text-black text-[12px] justify-between rounded-md shadow-sm mt-1">
                            @if (betInfo) {
                            <span class="text-[11px]">Ref: {{ bet.updatedAt | date:'dd-MM-yyyy HH:mm:ss' }}</span>
                            }
                            <div class="flex">
                                <li class="w-[42%] flex items-center gap-1 truncate">
                                    <span
                                        [ngClass]="{'lay-box text-white': bet.type === 'L','back-box text-white': bet.type === 'B'}"
                                        class="px-1 py-0.5 rounded text-[11px]">
                                        {{bet.type === 'L' ? 'Lay' : 'Back'}}
                                    </span>
                                    <div class="flex flex-col truncate">
                                        <span class="truncate font-medium">{{bet.selectionName}}</span>
                                        <span class="truncate opacity-60 text-[11px]">{{bet.marketName}}</span>
                                    </div>
                                </li>
                                <li class="w-[16%] flex items-center justify-center font-semibold">
                                    {{bet.oddsPrice}}/{{bet.oddsRate}}</li>
                                <li class="w-[16%] flex items-center justify-center">{{bet.stake}}</li>
                                <li class="w-[25%] flex items-center justify-end font-semibold">{{bet.betPl}}</li>
                            </div>
                        </ul>
                        }

                        <ul class="py-[9px] flex text-gray-400">
                            <li class="w-[42%] text-left">Lay (Bet Against)</li>
                            <li class="w-[16%] text-center">Odds</li>
                            <li class="w-[16%] text-center">Stake</li>
                            <li class="w-[25%] text-right">Liability</li>
                        </ul>
                        @for (bet of matchedBetList; track $index) {
                        <ul *ngIf="bet.type == 'L'"
                            class="py-[9px] flex lay flex-col px-2 text-black text-[12px] justify-between rounded-md shadow-sm mt-1">
                            @if (betInfo) {
                            <span class="text-[11px]">Ref: {{ bet.updatedAt | date:'dd-MM-yyyy HH:mm:ss' }}</span>
                            }
                            <div class="flex">
                                <li class="w-[42%] flex items-center gap-1 truncate">
                                    <span
                                        [ngClass]="{'lay-box text-white': bet.type === 'L','back-box text-white': bet.type === 'B'}"
                                        class="px-1 py-0.5 rounded text-[11px]">
                                        {{bet.type === 'L' ? 'Lay' : 'Back'}}
                                    </span>
                                    <div class="flex flex-col truncate">
                                        <span class="truncate font-medium">{{bet.selectionName}}</span>
                                        <span class="truncate opacity-60 text-[11px]">{{bet.marketName}}</span>
                                    </div>
                                </li>
                                <li class="w-[16%] flex items-center justify-center font-semibold">
                                    {{bet.oddsPrice}}/{{bet.oddsRate}}</li>
                                <li class="w-[16%] flex items-center justify-center">{{bet.stake}}</li>
                                <li class="w-[25%] flex items-center justify-end font-semibold">{{bet.betPl}}</li>
                            </div>
                        </ul> }



                        <div class="flex items-center mt-2.5 gap-1.5">
                            <input (click)="betInfo = !betInfo" [checked]="betInfo" type="checkbox"
                                class="h-[13px] w-[13px] appearance-none rounded border border-gray-300 bg-white transition-all checked:border-[#11e311] checked:bg-[#11e311] focus:outline-none">
                            <span class="text-xs">Bet Info</span>
                        </div>
                    </div>
                </div>

               
            </div>
            <app-loader *ngIf="loader"></app-loader>
            <div class="no-data" style="display: block;" *ngIf="openBetsData <= 0 && !loader">
                <div class="material-icons icon">assignment</div>
                <div class="text">Data not found</div>
            </div>
        </div>

    </div>
</div>
}

<app-mobile-sidebar class="lg:hidden"></app-mobile-sidebar>