<div class="sb-right-content" style="overflow: hidden;">
    <div class="content-wrapper custom-scrollbar-content-wrapper"
        style="position: relative; width: calc(100% + 0px); height: 100%; overflow: hidden auto;"><!---->
        <div class="betslip">
            <section class="g-title betslip-title">
                <div class="bet-history"><span class="material-icons ico">history</span> <span class="text">My
                        Bets</span> <span class="count"></span></div> <!----> <span
                    class="material-icons arrow">keyboard_arrow_down</span> <span
                    class="material-icons settings">settings</span> <!---->
            </section> <!----> <!---->
            <section class="betslip-header"><!---->
                <ul class="sptabs">
                    <li class="active"><span>Single</span></li>
                    <li class=""><span>Multiple</span></li>
                    <li class=""><span>System</span></li>
                </ul>
                <div class="clear-all"><span icon="delete_forever" class="material-icons"></span></div>
            </section>
            <section class="betslip-body">
                <div class="user-odds single">
                    <ul>
                        <li class="price">
                            <p class="match-name"><span class="num">1</span> <a
                                    title="Red Bull Bragantino SP - Sao Paulo" class="name"><span>Red Bull Bragantino
                                        SP</span> <span> - </span> <span>Sao Paulo</span></a> <span
                                    class="material-icons remove">close</span></p> <!---->
                            <p class="market-name">Double chance</p>
                            <div class="odd"><span>Pick :</span> <span>12</span>
                                <div class="betslip-coef"><span>1.35</span></div>
                            </div>
                            <div class="with-inp"><span>Amount:</span> <input type="number" required="required"
                                    step="0.01"></div>
                            <div class="with-inp"><span>Possible winnings:</span> <input type="number"
                                    disabled="disabled"></div>
                        </li>
                        <li class="price">
                            <p class="match-name"><span class="num">2</span> <a title="Botafogo RJ - Vitoria BA"
                                    class="name"><span>Botafogo RJ</span> <span> - </span> <span>Vitoria BA</span></a>
                                <span class="material-icons remove">close</span></p> <!---->
                            <p class="market-name">Double chance</p>
                            <div class="odd"><span>Pick :</span> <span>12</span>
                                <div class="betslip-coef"><span>1.20</span></div>
                            </div>
                            <div class="with-inp"><span>Amount:</span> <input type="number" required="required"
                                    step="0.01"></div>
                            <div class="with-inp"><span>Possible winnings:</span> <input type="number"
                                    disabled="disabled"></div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="betslip-footer">
                <div class="single">
                    <div class="amounts">
                        <div class="bet-amount-wrapper"><input type="text" placeholder="Stake Per Bet"></div>
                        <p class="total-odds"><span>Total Odds:</span> <span>1.62</span></p>
                        <p class="potential-returns"><span>Possible winnings:</span> <span>0.00 USD</span></p>
                    </div>
                </div>
                <form class="actions">
                    <div class="btns">
                        <div class="btn dark save"><span icon="save" class="material-icons"></span> <span>Save</span>
                        </div> <!---->
                        <div class="btn bet">Place Bet</div>
                    </div> <!---->
                    <div class="accept-changes-settings"><label><input type="radio" name="accept-changes" value="0">
                            <span>Accept Changes</span></label> <label><input type="radio" name="accept-rise-changes"
                                value="0"> <span>Accept higher odds</span></label></div>
                </form> <!---->
            </section> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
        </div>
        <div class="three-plus-one-freebet">
            <div class="rects-wrapper">
                <div class="rect">
                    <div class="info">
                        <p>1</p>
                        <p><span>Bet: </span> <span>-</span></p> <span
                            class="material-icons arrow">keyboard_arrow_right</span>
                    </div>
                    <div class="footer"></div>
                </div>
                <div class="rect">
                    <div class="info">
                        <p>2</p>
                        <p><span>Bet: </span> <span>-</span></p> <span
                            class="material-icons arrow">keyboard_arrow_right</span>
                    </div>
                    <div class="footer"></div>
                </div>
                <div class="rect">
                    <div class="info">
                        <p>3</p>
                        <p><span>Bet: </span> <span>-</span></p> <span
                            class="material-icons arrow">keyboard_arrow_right</span>
                    </div>
                    <div class="footer"></div>
                </div>
                <div class="rect">
                    <div class="info">
                        <p><span>Claim FreeBet</span></p>
                        <p>Bet: -</p>
                    </div>
                    <div class="footer"></div>
                </div>
            </div> <!---->
        </div> <!---->
        <div class="banners">
            <div class="banner"><img src="https://static.inpcdn.com/120,22e4ce67f89d3d.webp" alt="Prematch banner">
            </div>
        </div>
    </div>
    <div class="custom-scrollbar vertical"
        style="position: absolute; z-index: 99; pointer-events: none; width: 8px; height: 100%; top: 0px; right: 0px; visibility: visible;">
        <div class="custom-scrollbar-btn"
            style="position: absolute; left: 0px; top: 96px; cursor: pointer; background-color: rgba(170, 170, 170, 0.85); pointer-events: all; width: 100%; height: 367px;">
        </div>
    </div>
</div>