<!-- Mobile -->

<div class=" market-wrapper p-[2vw_2.5vw] bg-[#101317] overflow-hidden" *ngIf="isMobile">
    <div class="first-line flex items-center h-[6vw]">
        <div class="start text-[4.5vw] mr-[1.2vw] h-full items-center">
            <span class="material-icons text-[#A0A1A2] text-[4vw]">equalizer</span>
        </div>
        <div class="date text-[#00aa30] text-[3vw] font-[200] h-full items-center flex">
            <span>{{market.eventTime | date:'dd/MM'}}</span>
            <span class="ml-[.8vw] ">{{market.eventTime | date:'HH:mm'}}</span>
        </div>
        <div class="champ-name relative ml-[2vw] h-full items-center flex">
            <span class="material-icons text-[#A0A1A2] text-[4vw]">error_outline</span>
            <div class="text hidden">{{market.tournamentName}}</div>
        </div>
        <div class="market-count text-[3vw] text-white ml-auto">
            <span class="[vertical-align:middle]">+407</span>
            <span class="material-icons text-[4.5vw] [vertical-align:middle]">keyboard_arrow_right</span>
        </div>
    </div>
    <div class="second-line mb-[-2vw] overflow-hidden flex items-center mt-[.5vw]">
        <div class="star-wrapper leading-[6vw] mr-[1vw] ml-[-1px] text-[5vw]">
            <span class="material-icons text-[#00aa30]">star_border</span>
        </div>
        <div class="match-name w-[calc(100%-7vw)] p-0 text-white leading-[6vw] text-[3.5vw]"
            routerLink="/market-detail">
            <span>{{market.eventName}}</span>
        </div>
    </div>

    <div class="w-full flex items-center mt-[0.56rem] justify-center gap-x-[0.44rem] ">
        <div class="w-full relative opacity-70 cursor-not-allowed">
            <div
                class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden">
                <button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4  font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">
                        {{market?.oddsData?.runners[0]?.price?.back[0] ?
                        market?.oddsData?.runners[0]?.price?.back[0]?.price : '0'}}
                    </span></button><button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">{{market?.oddsData?.runners[0]?.price?.lay[0] ?
                        market?.oddsData?.runners[0]?.price?.lay[0]?.price : '0'}}</span></button>
            </div>
            <div
                class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">
                0</div>
        </div>
        <div class="w-full relative opacity-70 cursor-not-allowed">
            <div
                class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden">
                <button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4  font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                        market?.oddsData?.runners[2]?.price?.back[0]?.price : '0.0'}}</span></button><button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                        market?.oddsData?.runners[2]?.price?.lay[0]?.price : '0.0'}}</span></button>
            </div>
            <div
                class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">
                2</div>
        </div>
        <div class="w-full relative opacity-70 cursor-not-allowed">
            <div
                class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden">
                <button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4  font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                        market?.oddsData?.runners[1]?.price?.back[0]?.price : '0'}}</span></button><button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                        market.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span></button>
            </div>
            <div
                class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">
                1</div>
        </div>
    </div>
</div>


<!-- Desktop -->

<div class="prematch-matches relative p-0 border-none" *ngIf="!isMobile">
    <div *ngIf="index==0"
        class="g-title [border-bottom-left-radius:0] [border-bottom-right-radius:0;] bg-[#070b10] h-[4rem] flex items-center rounded-[3px] leading-[2.5rem]">
        <div
            class="rect-title bg-[unset] w-[240px]  pl-[1rem] h-[100%] flex items-center text-[.9rem] text-[#fff] truncate">
            <div class="title">{{market?.sportName}}</div>
        </div>
        <div class="flex justify-end h-full items-center w-full !max-w-[calc(100%-200px)]">
            <div class="flex justify-between w-full  text-[#7B7D7F] pr-[3rem]">
                <div class="w-[33.33%] gap-2 px-5 text-center flex justify-center items-center flex-col">
                    <div class="market-name flex items-center gap-2 relative">
                        <svg class="cursor-pointer desc-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                            viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <div class="desc">The Regular Time result of the match is either win of one of the teams or a
                            draw.</div>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px] ">Match result</div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]"></div>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]">1</div>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]"></div>
                    </div>
                </div>
                <div class="w-[33.33%] gap-2 px-5  text-center flex justify-center items-center flex-col">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]">Match result</div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]"></div>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]">X</div>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]"></div>
                    </div>
                </div>
                <div class="w-[33.33%] gap-2 px-5   text-center flex justify-center items-center flex-col">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]">Match result</div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]"></div>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]">2</div>
                        <div class="text-[.8rem] text-[#7B7D7F] leading-[12px]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#121519]  w-full flex justify-between items-center px-2" routerLink="/market-detail">
        <div class="max-w-[140px]">
            <!-- <span class="text-[#7B7D7F] mr-2 truncate " routerLink="/market-detail">Ball By Ball</span>
                <span class="text-[#00A930] truncate">In-Paly</span> -->
            <div class="flex items-center h-full gap-3">
                <span class="material-icons text-[hsla(0,0%,100%,.6)] hover:text-[#11E311]">star_border</span>
                <div class="text-[hsla(0,0%,100%,.6)] flex flex-col py-1 marketType">
                    <div class="text-[12.32] text-center"> {{market?.eventTime | date: 'EEE'}}</div>
                    <div class="text-[12.32] text-center"> {{market?.eventTime | date: 'HH:mm'}}</div>
                </div>

                <div class="text-[hsla(0,0%,100%,.6)] flex flex-col py-1 marketName"
                    *ngIf="market.marketName=='Ball By Ball'">
                    <div class="text-[12.32] text-nowrap truncate">{{market.eventName}}</div>
                    <div class="text-[12.32]">In-Paly</div>
                </div>
                <div class="text-[hsla(0,0%,100%,.6)] flex flex-col py-1 marketName"
                    *ngIf="market.marketName!='Ball By Ball'">
                    <div class="text-[12.32] text-nowrap truncate">{{ getEventName(true,
                        market?.eventName)
                        }}</div>
                    <div class="text-[12.32]">{{ getEventName(false,
                        market?.eventName)
                        }}</div>
                </div>
            </div>
        </div>
        <div class=" flex items-center w-[calc(100%-200px)]">

            <div class="w-full flex items-center justify-center gap-x-[0.44rem]">
                <div title="1.12--" class="w-full relative cursor-pointer">
                    <div
                        class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden">
                        <button title="leftOption-1.12" scaleclass="active:scale-[98%]" class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4 disabled:opacity-80 font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">
                                {{market?.oddsData?.runners[0]?.price?.back[0] ?
                                market?.oddsData?.runners[0]?.price?.back[0]?.price : '0'}}
                            </span></button><button title="rightOption--" disabled="" scaleclass="active:scale-[98%]"
                            class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">
                                {{market?.oddsData?.runners[0]?.price?.lay[0] ?
                                market?.oddsData?.runners[0]?.price?.lay[0]?.price : '0'}}
                            </span></button>
                    </div>
                    <div
                        class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">
                        0</div>
                </div>
                <div title="---" class="w-full relative cursor-pointer">
                    <div
                        class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden">
                        <button title="leftOption--" disabled="" scaleclass="active:scale-[98%]" class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4 disabled:opacity-80 font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button">
                            <span class=" text-[13px]">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                                market?.oddsData?.runners[2]?.price?.back[0]?.price : '0.0'}}</span>
                        </button><button title="rightOption--" disabled="" scaleclass="active:scale-[98%]" class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                market?.oddsData?.runners[2]?.price?.lay[0]?.price : '0.0'}}</span></button>
                    </div>
                    <div
                        class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">
                        2</div>
                </div>
                <div title="5.8--" class="w-full relative cursor-pointer">
                    <div
                        class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden">
                        <button title="leftOption-5.8" scaleclass="active:scale-[98%]" class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4 disabled:opacity-80 font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                                market?.oddsData?.runners[1]?.price?.back[0]?.price : '0'}}</span></button><button
                            title="rightOption--" disabled="" scaleclass="active:scale-[98%]" class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                                market.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span></button>
                    </div>
                    <div
                        class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">
                        1</div>
                </div>
            </div>
            <!-- <div class="w-full grid grid-cols-3 gap-2">
                       <div class="flex">
                         <span class="count lay flex items-center justify-center">2.15</span>
                          <span class="count back flex items-center justify-center">0</span>
                       </div>

                        <div class="flex">
                         <span class="count lay flex items-center justify-center">2.15</span>
                          <span class="count back flex items-center justify-center">0</span>
                       </div>

                        <div class="flex">
                         <span class="count lay flex items-center justify-center">2.15</span>
                          <span class="count back flex items-center justify-center">0</span>
                       </div>
                     </div> -->
            <div class="w-[3rem] flex justify-center h-full items-center">
                <span class="material-icons text-[#898A8C] hover:text-[#fff] text-[1.2rem]">equalizer</span>
            </div>
        </div>

    </div>


</div>