
input:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(/assets/images/select_arrow.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2vw auto !important;
  background-position: right 2vw center !important;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  color: #fff;
  text-align: center;
  height: 20vw;
  line-height: 20vw;
  font-size: 4.5vw;
}

.title .material-icons {
  font-size: 7vw;
  margin-right: 2vw;
  display: inline-block;
  /* margin-top: -1vw; */
}

.title span {
  letter-spacing: -1px;
}

input {
  width: 100%;
  height: 2.601rem;
  box-sizing: border-box;
  color: #fff !important;
  background-color: #151414;
  padding-left: 1.04rem;
  border: 1px solid #242833;
  font-size: 0.91rem;
  position: relative;
  margin-top: 1.3005rem;
  border-radius: 0.65025rem;
}

input:first-child {
  margin-top: 0;
}

select {
  width: 100%;
  height: 2.601rem;
  box-sizing: border-box;
  color: #fff !important;
  background-color: #151414;
  padding-left: 1.04rem;
  border: 1px solid #242833;
  font-size: 0.91rem;
  position: relative;
  margin-top: 1.3005rem;
  border-radius: 0.65025rem;
}

.forget {
  margin-top: 0.39015rem;
  font-size: 0.7803rem;
  margin-right: 0.4877rem;
  color: #11e311;
}

.login-btn {
  margin-top: 1.8207rem !important;
  height: 3.1212rem;
  font-size: 1.0404rem;
  width: 100%;
}

.btn {
  position: relative;
  line-height: normal;
  border: 0;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4vw;
  background: #11e311;
  color: #030303;
  transition: 0.2s ease;
  border-radius: 0.65025rem;
}

.have-account {
  margin-top: 1.0406rem;
  margin-bottom: 0.4875rem;
  text-align: center;
  font-size: 0.8456rem;
}

.payment-methods {
  background: #0e1014;
  align-self: center;
  padding: 13px 18px;
}

.payment-methods ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7px 4px;
}

.payment-methods ul li {
  height: 31px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.payment-methods ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.payment-methods ul li img {
  height: 19px;
  width: 90%;
}

.payment-methods ul.cryptos {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13px;
}

.payment-methods ul.cryptos li {
  height: 38px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-methods ul.cryptos li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.payment-methods ul.cryptos li img {
  height: 26px;
  max-width: 26px;
  object-fit: contain;
}

.license {
  display: flex;
  padding: 0 0.7805rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.3008rem 0;
}

.f-terms {
  text-align: center;
  padding: 0 0.7805rem;
  font-size: 0.782rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.otp-input-group input {
  width: 40px;
  height: 48.09px;
  background: transparent;
  border: 1px solid #11e31233;
  border-radius: 0.5672rem;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
