<app-header></app-header>
<div class="bg-[#13161B] text-white h-screen overflow-y-auto">
    <div class="log h-auto">
        <h2 class="title poppins-medium flex items-center justify-center gap-1.5">
            <span class="material-icons">lock</span>
            <span class="roboto-bold">Forget Password?</span>
        </h2>

        <form [formGroup]="passForm" class="p-[6vw]">
            <input class="poppins-regular" type="text" name="username" formControlName="userName"
                placeholder="Username">
            <div *ngIf="passForm.get('userName')?.touched && passForm.get('userName')?.hasError('required')"
                class="text-red-500 text-[12px] pl-2">
                Username is required
            </div>
            <div class="flex">
                <select formControlName="areaCode" class="select !w-[90px] area-code" name="AreaCode" required="">
                    <option value="91">+91</option>
                </select>
                <input class="poppins-regular" type="text" name="mobileNo" formControlName="mobileNo"
                    placeholder="Phone Number">
            </div>
            <div *ngIf="passForm.get('mobileNo')?.touched && passForm.get('mobileNo')?.hasError('required')"
                class="text-red-500 text-[12px] pl-2">
                Phone number is required
            </div>
            <button type="submit" (click)="generateOtp()"
                class="btn roboto-medium !mt-[10vw] !h-[10vw] !text-[4.5vw] w-full">Generate
                Otp</button>
        </form>

        <form *ngIf="otpSent" [formGroup]="otpForm" (ngSubmit)="onSubmit()"
            class="px-[6vw] form-group c_form_group flex flex-col justify-between">
            <div>
                <label for="otpInput0" class="text-white mb-2 uppercase">Enter Otp</label>
                <div class="mt-4 otp-input-group flex items-center justify-between">
                    <input id="otpInput0" name="digit0" autocomplete="off" #otpInput0 formControlName="digit0"
                        type="text" class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 0)"
                        (keydown)="handleKeyDown($event, 0)" (paste)="handlePaste($event)">

                    <input id="otpInput1" name="digit1" autocomplete="off" #otpInput1 formControlName="digit1"
                        type="text" class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 1)"
                        (keydown)="handleKeyDown($event, 1)" (paste)="handlePaste($event)">

                    <input id="otpInput2" name="digit2" autocomplete="off" #otpInput2 formControlName="digit2"
                        type="text" class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 2)"
                        (keydown)="handleKeyDown($event, 2)" (paste)="handlePaste($event)">

                    <input id="otpInput3" name="digit3" autocomplete="off" #otpInput3 formControlName="digit3"
                        type="text" class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 3)"
                        (keydown)="handleKeyDown($event, 3)" (paste)="handlePaste($event)">
                    <input id="otpInput4" name="digit4" autocomplete="off" #otpInput4 formControlName="digit4"
                        type="text" class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 4)"
                        (keydown)="handleKeyDown($event, 4)" (paste)="handlePaste($event)">
                    <input id="otpInput5" name="digit5" autocomplete="off" #otpInput5 formControlName="digit5"
                        type="text" class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 5)"
                        (keydown)="handleKeyDown($event, 5)" (paste)="handlePaste($event)">
                </div>

            </div>

            <div class="py-[6vw]">
                <input formControlName="password" class="input pass-input" type="password" placeholder="Password"
                    name="Password" autocomplete="off">
                <ul class="password-rules text-[10px] mt-4 space-y-1 list-disc pl-4">
                    <li [ngClass]="getClass(passwordChecks.lengthValid)">
                        Password must have 8 to 15 alphanumeric without white space.
                    </li>
                    <li [ngClass]="getClass(passwordChecks.noSequence)">
                        Cannot include number sequences like 123456.
                    </li>
                    <li [ngClass]="getClass(passwordChecks.notSameAsUsername)">
                        Password cannot be the same as username/nickname.
                    </li>
                    <li [ngClass]="getClass(passwordChecks.hasUpperLowerNumber)">
                        Must contain at least 1 capital letter, 1 small letter and 1 number.
                    </li>
                    <li [ngClass]="getClass(passwordChecks.hasSpecialChar)">
                        Password must contain any special characters (!,&#64;,#, etc.).
                    </li>
                </ul>
            </div>

            <li class="finish-btn sm:!mb-8 list-none">
                <button type="submit" class="btn active:shadow-md roboto-medium !h-[10vw] !text-[4.5vw] w-full">
                    <span>Submit</span>
                </button>
            </li>
        </form>
    </div>
    <app-footer></app-footer>
</div>