@if(market.sportId != '7' && market.sportId != '4339'){
<!-- Mobile -->
<div class=" market-wrapper  mobile-main-container" *ngIf="isMobile && searchTab === 'line_style'"
    [ngClass]="{'!mt-0':index === 0}">
    <div class="first-line  market-tournamentName-wrapper">
        <div class="start mobile-star-wrapper">
            <span class="material-icons equalizer-text">equalizer</span>
        </div>
        <div class="date market-event-wrapper">
            <span>{{market.eventTime | date:'dd/MM'}}</span>
            <span class="ml-[.8vw] ">{{market.eventTime | date:'HH:mm'}}</span>
        </div>
        <div class="champ-name  error_outline_wrapper">
            <span class="material-icons  error_outline_icon">error_outline</span>
            <div class="text hidden">{{market.tournamentName
                }}</div>
        </div>
        <div class="market-count keyboard_arrow_wrapper flex items-center">
            <span class="[vertical-align:middle]" *ngIf="market.oddsData.inPlay">
                <span>
                    <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.8182 0H1.18182C0.525909 0 0 0.543889 0 1.22222V8.55556C0 9.22778 0.525909 9.77778 1.18182 9.77778H4.13636V11H8.86364V9.77778H11.8182C12.4682 9.77778 12.9941 9.22778 12.9941 8.55556L13 1.22222C13 0.543889 12.4682 0 11.8182 0ZM11.8182 8.55556H1.18182V1.22222H11.8182V8.55556ZM8.86364 4.88889L4.72727 7.33333V2.44444L8.86364 4.88889Z"
                            fill="#11e311"></path>
                    </svg>
                </span>
            </span>
            <span class="material-icons keyboard_arrow_icon">keyboard_arrow_right</span>
        </div>
    </div>
    <div class="second-line star-border-wrapper">
        <div class="star-wrapper star-icon-mb">
            <span class="material-icons text-[#00aa30]">star_border</span>
        </div>
        <div class="match-name marketWidth market-event-name" (click)="gotoMarket(market)">
            <span>{{market.eventName}}</span>
        </div>
    </div>

    <div class="mobile-market-box-wrapper">

        <div class="mobile-box-container">
            <div class="undefined text-text_secondary lay-back-box">

                <button class="bg-bg_backBtnBgColor back-box" type="button"><span class=" text-[13px]">
                        {{market?.oddsData?.runners[0]?.price?.back[0] ?
                        market?.oddsData?.runners[0]?.price?.back[0]?.price : '0'}}
                    </span>
                </button>

                <button class="bg-bg_layBtnBgColor back-box" type="button">
                    <span class="text-[13px]">{{market?.oddsData?.runners[0]?.price?.lay[0] ?
                        market?.oddsData?.runners[0]?.price?.lay[0]?.price : '0'}}</span>
                </button>

            </div>
            <div class="market-round-box bg-bg_secondary text-text_secondary2">0</div>
        </div>

        <div class="mobile-box-container">
            <div class="undefined text-text_secondary lay-back-box">
                <button class="bg-bg_backBtnBgColor back-box" type="button"><span
                        class=" text-[13px]">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                        market?.oddsData?.runners[2]?.price?.back[0]?.price : '0.0'}}</span>
                </button>
                <button class=" bg-bg_layBtnBgColor back-box" type="button">
                    <span class="text-[13px]">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                        market?.oddsData?.runners[2]?.price?.lay[0]?.price : '0.0'}}</span>
                </button>
            </div>
            <div class="market-round-box bg-bg_secondary text-text_secondary2">2</div>
        </div>

        <div class="mobile-box-container">
            <div class="undefined text-text_secondary lay-back-box">
                <button class="bg-bg_backBtnBgColor back-box" type="button">
                    <span class=" text-[13px]">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                        market?.oddsData?.runners[1]?.price?.back[0]?.price : '0'}}</span>
                </button>
                <button class="bg-bg_layBtnBgColor back-box" type="button">
                    <span class="text-[13px]">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                        market.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span>
                </button>
            </div>
            <div class="market-round-box bg-bg_secondary text-text_secondary2"> 1</div>
        </div>
    </div>
</div>

<div *ngIf="isMobile && searchTab === 'list'">

    <div class="header" *ngIf="index === 0">
        <select>
            <option value="448">

                Match result
            </option>
            <!-- <option value="476">
    
                    Double chance
                </option>
                <option value="451">
    
                    Handicap
                </option>
                <option value="537">
    
                    Total
                </option>
                <option value="422">
    
                    1st half - Total
                </option> -->
        </select>
        <div column-count="3" class="position-names">
            <div class="name">1</div>
            <div class="name">X</div>
            <div class="name">2</div>
        </div>
    </div>

    <div class=" market-wrapper p-[2vw_2.5vw] bg-[#101317] overflow-hidden" [ngClass]="{'!mt-0':index === 0}">
        <div class="first-line flex items-center h-[6vw]">
            <div class="start text-[4.5vw] mr-[1.2vw] h-full items-center">
                <span class="material-icons text-[#A0A1A2] text-[4vw]">equalizer</span>
            </div>
            <div class="date text-[#00aa30] text-[3vw] font-[200] h-full items-center flex">
                <span>{{market.eventTime | date:'dd/MM'}}</span>
                <span class="ml-[.8vw] ">{{market.eventTime | date:'HH:mm'}}</span>
            </div>
            <div class="champ-name relative ml-[2vw] h-full items-center flex">
                <span class="material-icons text-[#A0A1A2] text-[4vw]">error_outline</span>
                <div class="text hidden">{{market.tournamentName}}</div>
            </div>
            <div class="market-count text-[3vw] text-white ml-auto flex items-center" (click)="gotoMarket(market)">
                <span class="[vertical-align:middle]" *ngIf="market.oddsData.inPlay">
                    <span>
                        <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.8182 0H1.18182C0.525909 0 0 0.543889 0 1.22222V8.55556C0 9.22778 0.525909 9.77778 1.18182 9.77778H4.13636V11H8.86364V9.77778H11.8182C12.4682 9.77778 12.9941 9.22778 12.9941 8.55556L13 1.22222C13 0.543889 12.4682 0 11.8182 0ZM11.8182 8.55556H1.18182V1.22222H11.8182V8.55556ZM8.86364 4.88889L4.72727 7.33333V2.44444L8.86364 4.88889Z"
                                fill="#11e311"></path>
                        </svg>
                    </span>
                </span>
                <span class="material-icons text-[4.5vw] [vertical-align:middle]">keyboard_arrow_right</span>
            </div>
        </div>


        <div class="second-line">
            <div class="star-wrapper">
                <span icon="star_border" class="material-icons">star_border</span>
            </div>
            <div class="match-name p-[1vw_0px] !text-[3.5vw]" (click)="gotoMarket(market)"
                *ngIf="market.marketName!='Ball By Ball'">
                <div class="dotted-hidden team"><span class="dotted-hidden name">
                        {{ getEventName(true,
                        market?.eventName)
                        }}
                    </span></div>
                <div class="dotted-hidden team"><span class="dotted-hidden name"> {{ getEventName(false,
                        market?.eventName)
                        }}</span>
                </div>
            </div>
            <div class="match-name p-[1vw_0px] !text-[3.5vw]" *ngIf="market.marketName=='Ball By Ball'">
                <div class="dotted-hidden team">
                    <span class="dotted-hidden name">
                        {{ market?.eventName }}
                    </span>
                </div>

            </div>
            <div class="odds-wrapper">
                <div column-count="3" class="market-odds">
                    <div class="odd-rect"><span class="coef"> {{market?.oddsData?.runners[0]?.price?.back[0] ?
                            market?.oddsData?.runners[0]?.price?.back[0]?.price :
                            '0'}}/{{market?.oddsData?.runners[0]?.price?.lay[0] ?
                            market?.oddsData?.runners[0]?.price?.lay[0]?.price : '0'}} </span></div>
                    <div class="odd-rect"><span class="coef">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                            market?.oddsData?.runners[2]?.price?.back[0]?.price :
                            '0'}}/{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                            market?.oddsData?.runners[2]?.price?.lay[0]?.price : '0'}}</span></div>
                    <div class="odd-rect"><span class="coef">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                            market?.oddsData?.runners[1]?.price?.back[0]?.price :
                            '0'}}/{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                            market.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span></div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Mobile -->

<!-- Desktop -->
<div class="prematch-matches relative p-0 border-none" *ngIf="!isMobile">
    <div class="g-title match-result-container">
        <div class="rect-title lg-sc-sport-wrapper">
            <i class="sport-icon mr-2 text-[#05AA30] text-[18px]" [attr.sport]="market?.sportName.toLowerCase()"></i>
            <div class="title">{{market?.sportName}}</div>
        </div>
        <div class="match-result-wrapper">

            <div class="sport-inner-container">

                <div class="x12-wrapper">
                    <div class="market-name flex items-center gap-2 relative">
                        <svg class="cursor-pointer desc-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                            viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <div class="desc">The Regular Time result of the match is either win of one of the teams or a
                            draw.</div>
                        <div class="match-result-text ">Match result</div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <div class="match-result-text"></div>
                        <div class="match-result-text">1</div>
                        <div class="match-result-text"></div>
                    </div>
                </div>

                <div class="x12-wrapper">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <div class="match-result-text">Match result</div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <div class="match-result-text"></div>
                        <div class="match-result-text">X</div>
                        <div class="match-result-text"></div>
                    </div>
                </div>

                <div class="x12-wrapper">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <div class="match-result-text">Match result</div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <div class="match-result-text"></div>
                        <div class="match-result-text">2</div>
                        <div class="match-result-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lg-market-wrapper" (click)="gotoMarket(market)">

        <div class="max-w-[140px]">

            <!-- <span class="text-[#7B7D7F] mr-2 truncate " routerLink="/market-detail">Ball By Ball</span>
                    <span class="text-[#00A930] truncate">In-Paly</span> -->
            <div class="lg-market-name-wrapper">
                <span class="material-icons lg-star-icon">star_border</span>

                <div class="lg-market-event-name marketType">
                    <div class="text-[12.32] text-center"> {{market?.eventTime | date: 'EEE'}}</div>
                    <div class="text-[12.32] text-center"> {{market?.eventTime | date: 'HH:mm'}}</div>
                </div>

                <div class="lg-market-event-name marketName" *ngIf="market.marketName=='Ball By Ball'">
                    <div class="text-[12.32] text-nowrap truncate">{{market.eventName}}</div>
                    <div class="text-[12.32]">In-Paly</div>
                </div>
                <div class="lg-market-event-name marketName" *ngIf="market.marketName!='Ball By Ball'">
                    <div class="text-[12.32] text-nowrap truncate">{{ getEventName(true,
                        market?.eventName)
                        }}</div>
                    <div class="lg-market-name">{{ getEventName(false,
                        market?.eventName)
                        }}</div>
                </div>

            </div>
        </div>

        <div class="lg-market-box-wrapper">

            <div class="lg-box-container">

                <div class="lg-market-box">
                    <div class="undefined lg-box-wrapper text-text_secondary">
                        <button class="bg-bg_backBtnBgColor lg-market-box" type="button">
                            <span class=" text-[13px]">
                                {{market?.oddsData?.runners[0]?.price?.back[0] ?
                                market?.oddsData?.runners[0]?.price?.back[0]?.price : '0'}}
                            </span>
                        </button>
                        <button class="bg-bg_layBtnBgColor lg-market-box" type="button">
                            <span class="text-[13px]">
                                {{market?.oddsData?.runners[0]?.price?.lay[0] ?
                                market?.oddsData?.runners[0]?.price?.lay[0]?.price : '0'}}
                            </span>
                        </button>
                    </div>
                    <div class="text-text_secondary2 bg-bg_secondary lg-market-rounded-box">0</div>
                </div>

                <div class="lg-market-box">
                    <div class="undefined lg-box-wrapper text-text_secondary">
                        <button class=" bg-bg_backBtnBgColor lg-market-box" type="button">
                            <span class=" text-[13px]">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                                market?.oddsData?.runners[2]?.price?.back[0]?.price : '0.0'}}</span>
                        </button>
                        <button class="bg-bg_layBtnBgColor lg-market-box" type="button">
                            <span class="text-[13px]">{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                market?.oddsData?.runners[2]?.price?.lay[0]?.price : '0.0'}}</span>
                        </button>
                    </div>
                    <div class="text-text_secondary2 bg-bg_secondary lg-market-rounded-box">2</div>
                </div>

                <div class="lg-market-box">
                    <div class="undefined lg-box-wrapper text-text_secondary">
                        <button class="bg-bg_backBtnBgColor lg-market-box" type="button">
                            <span class=" text-[13px]">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                                market?.oddsData?.runners[1]?.price?.back[0]?.price : '0'}}</span>
                        </button>
                        <button class=" bg-bg_layBtnBgColor lg-market-box" type="button">
                            <span class="text-[13px]">{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                                market.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span>
                        </button>
                    </div>
                    <div class="text-text_secondary2 bg-bg_secondary lg-market-rounded-box">1</div>
                </div>

            </div>
            <!-- <div class="w-full grid grid-cols-3 gap-2">
                           <div class="flex">
                             <span class="count lay flex items-center justify-center">2.15</span>
                              <span class="count back flex items-center justify-center">0</span>
                           </div>
    
                            <div class="flex">
                             <span class="count lay flex items-center justify-center">2.15</span>
                              <span class="count back flex items-center justify-center">0</span>
                           </div>
    
                            <div class="flex">
                             <span class="count lay flex items-center justify-center">2.15</span>
                              <span class="count back flex items-center justify-center">0</span>
                           </div>
                         </div> -->
            <div class="lg-equalizer-wrapper">
                <span class="material-icons lg-equalizer-text">equalizer</span>
            </div>
        </div>

    </div>


</div>
}