.market-box {
    @apply p-[0_2vw] w-[calc(33.33%-1.33333px)] h-[10vw] text-[3.5vw] flex justify-between items-center relative float-left bg-[#23282a] text-[#fff] border border-transparent;
  }
  
  .title-desktop {
    float: left;
    padding-top: 0.7rem;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    font-weight: 200;
    font-size: 0.8rem;
  }
  
  @media (min-width: 820px) {
    .market-wrapper {
      @apply hidden;
    }
  }
  
  @media (max-width: 819px) {
    .top-events {
      @apply hidden;
    }
    .main-wrapper {
      @apply pb-[100px];
    }
  }
  
  .bg-bg_backBtnBgColor {
    background: var(--back-bg-clr);
    color: var(--back-txt-clr);
  }
  
  .bg-bg_layBtnBgColor {
    background: var(--lay-bg-clr);
    color: var(--lay-txt-clr);
  }
  
  .bg-bg_secondary {
    background-color: white;
  }
  
  .back {
    background: #72bbef;
    color: #1e1e1e;
    padding: 2px 10px;
    font-weight: 700;
  }
  
  .count {
    min-width: 50px;
    display: inline-flex;
    text-align: center;
    max-height: 20.5px;
    font-size: 9.35px;
  }
  
  .lay {
    background: #faa9ba;
    color: #1e1e1e;
    padding: 2px 10px;
    font-weight: 700;
  }
  
  .game-sportbook {
    font-weight: 700;
    padding: 0 5px;
    background: linear-gradient(180deg, #f26d1c 15%, #d14100 100%);
    color: #ffffff;
    font-style: italic;
    border-radius: 4px;
    font-size: 12px;
  }
  
  .marketName {
    font-size: 0.88rem;
  }
  
  .marketType {
    font-size: 0.7rem;
  }
  
  .first-line .champ-name .text,
  .match-result .desk-tooltip {
    position: absolute;
    left: -6px;
    top: calc(100% + 2px);
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 10px 0 hsla(0, 0%, 8%, 0.3);
    padding: 1vw 2vw;
    white-space: nowrap;
    z-index: 2;
    font-size: 3.5vw;
  }
  
  .first-line .champ-name .text:before,
  .match-result .desk-tooltip:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 8px;
    bottom: 100%;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  
  .champ-name:hover .text,
  .match-result:hover .desk-tooltip {
    display: block;
  }
  
  .market-name .desc {
    position: absolute;
    top: calc(100% + 8px);
    padding: 6px 18px;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
    display: none;
    line-height: 12px;
    font-weight: 300;
    font-size: 9.6px;
    min-width: 127.66px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .market-name .desc:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: 100%;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  
  .market-name .desc-icon:hover + .desc {
    display: block;
  }
  
  .header {
    height: 9vw;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
    background-color: #151a21;
    color: #fff;
    overflow: hidden;
  }
  
  .header select {
    background-color: #101317;
    height: 80%;
    width: 35vw;
    margin-left: 2vw;
    outline: 0;
    box-sizing: border-box;
    line-height: 4vw;
    border: 1px solid #404040;
    color: #fff;
    font-weight: 200;
    font-size: 3.5vw;
    padding-left: 2vw;
  }
  
  .header select {
    -webkit-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiA8Zz4KICA8dGl0bGU+YmFja2dyb3VuZDwvdGl0bGU+CiAgPHJlY3QgZmlsbD0ibm9uZSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBoZWlnaHQ9IjQwMiIgd2lkdGg9IjU4MiIgeT0iLTEiIHg9Ii0xIi8+CiA8L2c+CiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBhdGggZmlsbD0iIzk5OTk5OSIgaWQ9InN2Z18xIiBkPSJtOTguOSwxODQuN2wxLjgsMi4xbDEzNiwxNTYuNWM0LjYsNS4zIDExLjUsOC42IDE5LjIsOC42YzcuNywwIDE0LjYsLTMuNCAxOS4yLC04LjZsMTM1LjksLTE1Ni4ybDIuMywtMi42YzEuNywtMi41IDIuNywtNS41IDIuNywtOC43YzAsLTguNyAtNy40LC0xNS44IC0xNi42LC0xNS44bDAsMGwtMjg2LjgsMGwwLDBjLTkuMiwwIC0xNi42LDcuMSAtMTYuNiwxNS44YzAsMy4zIDEuMSw2LjQgMi45LDguOXoiLz4KIDwvZz4KPC9zdmc+);
    background-repeat: no-repeat;
    background-size: 2vw auto;
    background-position: right 2vw center;
  }
  
  .header .position-names {
    overflow: hidden;
    padding-right: 2.5vw;
    width: 50%;
    box-sizing: border-box;
    margin-left: auto;
  }
  
  .header .position-names .name {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  
  .second-line .star-wrapper {
    float: left;
    font-size: 5vw;
    line-height: 12vw;
    margin-right: 1vw;
    margin-left: -1px;
  }
  
  .star-wrapper span.material-icons {
    color: #00aa30;
    font-size: inherit;
  }
  
  .second-line .match-name {
    float: left;
    width: calc(50% - 7vw);
    /* padding: 1vw 0; */
    box-sizing: border-box;
  }
  
  .second-line .match-name .team {
    color: #fff;
    height: 5vw;
    line-height: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .marketWidth {
    width: calc(100% - 7vw) !important;
  }
  
  .second-line .match-name .team * {
    vertical-align: middle;
  }
  
  .second-line .odds-wrapper {
    position: relative;
    float: right;
    width: 50%;
    height: 12vw;
  }
  
  .market-odds {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .market-odds .odd-rect {
    position: relative;
    height: 12vw;
    line-height: 12vw;
    border-radius: 0.8vw;
    font-size: 4.5vw;
    width: calc(33.33% - 1vw);
    text-align: center;
  }
  
  .market-odds .odd-rect,
  #sportsbook .market-odds .odd-rect-wide {
    position: relative;
    display: inline-block;
    float: left;
    background-color: #23282a;
    color: #fff;
    border: 1px solid transparent;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .market-odds .odd-rect {
    line-height: 12vw;
    font-size: 3vw;
    text-align: center;
  }
  
  .market-odds .odd-rect:not(:first-child) {
    margin-left: 1.5vw;
  }
  
  .market-wrapper {
    margin-top: 2px;
  }
  
  .mobile-main-container {
    @apply p-[2vw_2.5vw] bg-[#101317] overflow-hidden;
  }
  
  .market-tournamentName-wrapper {
    @apply flex items-center h-[6vw];
  }
  
  .mobile-star-wrapper {
    @apply text-[4.5vw] mr-[1.2vw] h-full items-center;
  }
  .equalizer-text {
    @apply text-[#A0A1A2] text-[4vw];
  }
  
  .market-event-wrapper {
    @apply text-[#00aa30] text-[3vw] font-[200] h-full items-center flex;
  }
  
  .error_outline_wrapper {
    @apply relative ml-[2vw] h-full items-center flex;
  }
  
  .error_outline_icon {
    @apply text-[#A0A1A2] text-[4vw];
  }
  
  .keyboard_arrow_wrapper {
    @apply text-[3vw] text-white ml-auto;
  }
  
  .keyboard_arrow_icon {
    @apply text-[4.5vw] [vertical-align:middle];
  }
  
  .star-border-wrapper {
    @apply mb-[-2vw] overflow-hidden flex items-center mt-[.5vw];
  }
  
  .star-icon-mb {
    @apply leading-[6vw] mr-[1vw] ml-[-1px] text-[5vw] flex;
  }
  
  .market-event-name {
    @apply w-[calc(100%-7vw)] p-0 text-white leading-[6vw] text-[3.5vw];
  }
  
  .mobile-market-box-wrapper {
    @apply w-full flex items-center mt-[0.56rem] justify-center gap-x-[0.44rem];
  }
  .mobile-box-container {
    @apply w-full relative opacity-70 cursor-not-allowed;
  }
  
  .lay-back-box {
    @apply w-full rounded-[0.375rem] grid grid-cols-2 text-[13px]  overflow-hidden;
  }
  
  .back-box {
    @apply relative overflow-hidden transition duration-150 ease-in-out col-span-1 w-full h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4 font-bold cursor-pointer active:scale-[98%];
  }
  .market-round-box {
    @apply absolute top-1/2 z-[1] left-1/2 transform -translate-x-1/2 -translate-y-1/2  w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center  text-[13px] font-semibold;
  }
  
  .match-result-container {
    @apply [border-bottom-left-radius:0] [border-bottom-right-radius:0] bg-[#070b10] h-[4rem] flex items-center rounded-[3px] leading-[2.5rem];
  }
  
  .lg-sc-sport-wrapper {
    @apply bg-[unset] w-[240px]  pl-[1rem] h-[100%] flex items-center text-[.9rem] text-[#fff] truncate;
  }
  
  .match-result-wrapper {
    @apply flex justify-end h-full items-center w-full max-w-[calc(100%-210px)] xl:!max-w-[calc(100%-232px)];
  }
  
  .sport-inner-container {
    @apply flex justify-between w-full  text-[#7B7D7F] pr-[3rem];
  }
  
  .x12-wrapper {
    @apply w-[33.33%] gap-2 px-5 text-center flex justify-center items-center flex-col;
  }
  
  .match-result-text {
    @apply text-[.8rem] text-[#7B7D7F] leading-[12px];
  }
  
  .lg-market-wrapper {
    @apply bg-[#121519]  w-full flex justify-between items-center px-2;
  }
  
  .lg-market-name-wrapper {
    @apply flex items-center h-full gap-3;
  }
  
  .lg-star-icon {
    @apply text-[hsla(0,0%,100%,.6)] hover:text-[#11E311];
  }
  
  .lg-market-event-name {
    @apply text-[hsla(0,0%,100%,.6)] flex flex-col py-1;
  }
  
  .lg-market-name {
    @apply text-[12.32] truncate max-w-[125px] xl:max-w-[150px];
  }
  
  .lg-market-box-wrapper {
    @apply flex items-center w-[calc(100%-210px)] xl:w-[calc(100%-232px)];
  }
  
  .lg-box-container {
    @apply w-full flex items-center justify-center gap-x-[0.44rem];
  }
  
  .lg-market-box {
    @apply w-full relative cursor-pointer;
  }
  
  .lg-box-wrapper {
    @apply w-full rounded-[0.375rem] grid grid-cols-2 text-[13px]  overflow-hidden;
  }
  
  .lg-market-box {
    @apply relative overflow-hidden transition duration-150 ease-in-out col-span-1 w-full h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4 font-bold cursor-pointer active:scale-[98%];
  }
  
  .lg-market-rounded-box {
    @apply absolute top-1/2 z-[1] left-1/2 transform -translate-x-1/2 -translate-y-1/2  w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center  text-[13px] font-semibold;
  }
  
  .lg-equalizer-wrapper {
    @apply w-[3rem] flex justify-center h-full items-center;
  }
  
  .lg-equalizer-text {
    @apply text-[#898A8C] hover:text-[#fff] text-[1.2rem];
  }
  