<div class="live-header">
    <div class="tabs">
        <a href="/prematch" class="prematch-link">
            <span class="material-icons mr-[9.8px] opacity-40 text-[19.6px]">watch_later</span>
            <span>Prematch</span>
        </a>
        <a href="/live/overview" class="">
            <img class="mr-[9.8px] opacity-40 text-[19.6px]" src="/assets/images/live-navbar/overview.png"
                alt="Live overview">
            <span>Overview</span>
        </a>
        <a href="/live/event-view" class="router-link-active active">
            <img class="mr-[9.8px] opacity-40 text-[19.6px]" src="/assets/images/live-navbar/event-view.png"
                alt="Live eventview">
            <span>Event View</span>
        </a>
        <a href="/live/multyview" class="">
            <img class="mr-[9.8px] opacity-40 text-[19.6px]" src="/assets/images/live-navbar/multi-view.png"
                alt="Live multiview">
            <span>Multi-view</span>
        </a>
        <a href="/live/calendar" class="">
            <img class="mr-[9.8px] opacity-40 text-[19.6px]" src="/assets/images/live-navbar/calendar.png"
                alt="Live calendar">
            <span>Calendar</span>
        </a>
    </div>
    <div class="actions">
        <ul>
            <li class="enabled">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </li>
            <li class="">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </li>
            <li class="">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </li>
        </ul>
        <div class="toggle-markets flex items-center gap-1">
            <span>Hide All</span>
            <img src="/assets/images/live-navbar/eye.png" title="Hide All" alt="Hide all icon">
        </div>
    </div>
</div>