
<div class="w-full lg:hidden bg-[#14161B]">

    <div class="swiper mySwiper  max-w-[calc(100vw)]
        lg:mt-2 lg:rounded-md">
        <div class="swiper-wrapper forMedia max-h-[227.9px]">
            <div class="swiper-slide h-full" *ngFor=" let img of swiperImages">
                <img [src]="img" alt="slide" class="w-full max-h-[227.9px] imageMain object-cover " />
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <div class="p-[9.98976px]   poppins-medium top-padding-container">
        <div class=" bg-[#13161B]  text-[3.5vw]">
            <div class="logos max-h-0 overflow-hidden transition-all duration-500 "
                [ngClass]="{'max-h-[27px] duration-500 transition-all':!isProvider}">
                <ul>
                    <li class="vendor"><img class="max-h-[18.2px]" src="/assets/images/Playn Go.svg" alt=""></li>
                    <li class="vendor"><img class="max-h-[18.2px]" src="/assets/images/Hacksaw Gaming.svg" alt="">
                    </li>
                    <li class="see">
                        <div class="see-all" (click)="toggleProvider()">
                            <p text_key="CASINO__SEE_ALL "
                                class="text-[#000] text-[12.48px] !leading-[27PX] vertical-align-middle">See All</p>
                        </div>
                    </li>
                </ul>
            </div>


        </div>

        <div class=" bg-[#101317] mt-[8.3248px] mx-[-4.99px] mb-search-main-container">
            <div class="mt-[0] overflow-hidden rounded-[.4rem]">
                <div class=" ">
                    <div class="h-[53px] height-mb-search-wrapper w-full relative flex items-center slot-categories">
                        <div class="min-w-[51.17px] h-[58.2736px] flex justify-center items-center search-mb-btn"
                            (click)="toggleSearch()">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.16927 14.4999C11.6671 14.4999 14.5026 11.6644 14.5026 8.16659C14.5026 4.66878 11.6671 1.83325 8.16927 1.83325C4.67147 1.83325 1.83594 4.66878 1.83594 8.16659C1.83594 11.6644 4.67147 14.4999 8.16927 14.4999Z"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M15.1693 15.1666L13.8359 13.8333" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <ul class="flex w-full items-center  overflow-x-auto overflow-y-hidden mt-[2.5px]">
                            <li
                                class="w-[65.55px] text-center relative shrink-0 p-[4.99px_12.48px] all-nav-item padding-nav-item  padding-nav-item cursor-pointer border-b border-transparent">
                                <div class="text-[12.48px] text-nav-item text-white ">All</div>
                            </li>
                            <li
                                class="text-center relative shrink-0 p-[4.99px_12.48px] padding-nav-item  cursor-pointer border-b border-transparent">
                                <div class="text-[12.48px]  text-nav-item text-white ">Popular Slots</div>
                            </li>

                            <li
                                class="text-center relative shrink-0 p-[4.99px_12.48px] padding-nav-item  cursor-pointer border-b border-transparent">
                                <div class="text-[12.48px]  text-nav-item text-white ">Drops & Wins</div>
                            </li>
                            <li
                                class="text-center relative shrink-0 p-[4.99px_12.48px] padding-nav-item  cursor-pointer border-b border-transparent">
                                <div class="text-[12.48px]  text-nav-item text-white ">Bonus Buy</div>
                            </li>
                            <li
                                class="text-center relative shrink-0 p-[4.99px_12.48px] padding-nav-item  cursor-pointer border-b border-transparent">
                                <div class="text-[12.48px]  text-nav-item text-white ">Megaways</div>
                            </li>
                            <li
                                class="text-center relative shrink-0 p-[4.99px_12.48px] padding-nav-item  cursor-pointer border-b border-transparent">
                                <div class="text-[12.48px]  text-nav-item text-white ">New Games</div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="relative h-[30.492px]  px-[4.994px]  overflow-hidden  max-h-0 !duration-300 transition-all mt-0"
                [ngClass]="{'!duration-300 transition-all !max-h-[30.492px] mt-[13.068px] ':isSearch}">
                <input class="search-input" placeholder="Search games...">
            </div>
        </div>
    </div>

    <div class="block px-[5px] bg-[#111317] max-h-[0px] overflow-hidden duration-300 transition-all "
        [ngClass]="{'!max-h-[1000px] duration-300 transition-all ':isProvider}">
        <div class="relative w-[98%] h-[34.9642px] my-[14.9846px] flex">
            <div class="relative w-full">
                <input type="text" class="search-input" placeholder="Search Provider" name="provider" id="provider">
            </div>
            <span class="material-icons close" (click)="toggleProvider()">expand_less</span>
        </div>

        <ul class="gap-[9.3654px] pb-0 grid [grid-template-columns:repeat(2,_1fr)]">
            <li class="bg-[#fff] rounded-[4.99488px]">
                <div class="flex p-[6.55578px] items-center">
                    <div class="inline-flex items-center max-h-[25px] max-w-[30px]">
                        <img class="w-full" src="/assets/images/provider/117,218ddbcc73313b.svg" alt="">
                        <span class="text-[#141414] text-[12.4872px] text-nowrap">Play'n GO</span>
                    </div>
                </div>
            </li>

            <li class="bg-[#fff] rounded-[4.99488px]">
                <div class="flex p-[6.55578px] items-center">
                    <div class="inline-flex items-center max-h-[25px] max-w-[30px]">
                        <img class="w-full" src="/assets/images/provider/117,218e9eaf887dcc.svg" alt="">
                        <span class="text-[#141414] text-[12.4872px] text-nowrap">Yggdrasil</span>
                    </div>
                </div>
            </li>

            <li class="bg-[#fff] rounded-[4.99488px]">
                <div class="flex p-[6.55578px] items-center">
                    <div class="inline-flex items-center max-h-[25px] max-w-[30px]">
                        <img class="w-full" src="/assets/images/provider/117,218e5bb8facaf1.svg" alt="">
                        <span class="text-[#141414] text-[12.4872px] text-nowrap">Thunderkick</span>
                    </div>
                </div>
            </li>

            <li class="bg-[#fff] rounded-[4.99488px]">
                <div class="flex p-[6.55578px] items-center">
                    <div class="inline-flex items-center max-h-[25px] max-w-[30px]">
                        <img class="w-full" src="/assets/images/provider/117,218df795e48399.svg" alt="">
                        <span class="text-[#141414] text-[12.4872px] text-nowrap">EGT</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>




    <div class="bg-[#13161B] overflow-hidden px-[4.99px]" *ngIf="!seeAll">
        <div class="mt-[13px] game-images-container">
            <div class="heading mx-[9.98px] ">
                <h1 class="font-bold"> <span class="text-[#11e311] mr-[2.49744px]">Popular</span>Slots</h1>
                <div class="see-more " (click)="seeToggle()">
                    See More
                </div>
            </div>
            <div class="games-wrapper">
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/119,226731d95e6cb7.png" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/121,22c1dcfafe8871.png" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
            </div>
        </div>


        <div class="mt-[13px]">
            <div class="heading mx-[9.98px] ">
                <h1 class="font-bold"> <span class="text-[#11e311] mr-[2.49744px]">Popular </span> Slots</h1>
                <div class="see-more ">
                    See More
                </div>
            </div>
            <div class="games-wrapper">
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="bg-[#13161B]" *ngIf="seeAll">
        <div class="flex justify-center items-center py-[9.98976px] text-white">
            <div class="absolute left-[12.4872px] cursor-pointer text-[17.4821px] items-center" (click)="seeToggle()">
                <span class="material-icons !text-[17.4821px] [vertical-align:middle;]">arrow_back </span>
                <span class="ml-[1.78411px] text-[12.4872px] uppercase">Back</span>
            </div>
            <div>
                <h1 class="text-[21.4062px]  font-bold"> <span class="text-[#11e311]">Popular </span> Slots </h1>
            </div>
        </div>

        <ul class="p-[10.406px] overflow-hidden grid [grid-template-columns:repeat(3,_1fr);] gap-[10.406px]">
            <li class="rounded-[7.49232px] overflow-hidden">
                <div
                    class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                </div>
            </li>

            <li class="rounded-[7.49232px] overflow-hidden">
                <div
                    class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                </div>
            </li>

            <li class="rounded-[7.49232px] overflow-hidden">
                <div
                    class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                </div>
            </li>

            <li class="rounded-[7.49232px] overflow-hidden">
                <div
                    class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                </div>
            </li>

            <li class="rounded-[7.49232px] overflow-hidden">
                <div
                    class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                </div>
            </li>

            <li class="rounded-[7.49232px] overflow-hidden">
                <div
                    class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="max-lg:hidden max-w-[1213.33px] mx-auto">


    <div class="swiper mySwiper relative  max-w-[calc(100vw)] [375px]:max-h-[346px]
    lg:mt-2">
        <div class="swiper-wrapper forMedia max-h-[346px]">
            <div class="swiper-slide h-full" *ngFor=" let img of largeSwiperImages">
                <img [src]="img" alt="slide" class="w-full max-h-[346px] imageMain object-cover " />
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div
            class="absolute z-[1] left-[50%] top-[50%] px-[20px] translate-x-[-50%] translate-y-[-50%] flex w-full justify-between">
            <div class="swiper-prev swiper-button-prev"></div>
            <div class="swiper-next swiper-button-next"></div>
        </div>
    </div>



    <div class="overflow-hidden w-full -mt-[14.33px] px-[16.25px]">
        <div class="bg-[#14171c] p-[17.0625px_26.8125px] rounded-[26px] relative z-[1] mt-[0px] mb-[4px]">
            <div [ngClass]="{'!max-h-0 opacity-0 overflow-hidden' : isDeskProvider}"
                class="max-h-[34.66px] opacity-100 transition-all duration-500 ease-in-out flex justify-center mb-[16.5px] gap-[.875rem]">
                <div class="h-[34.6671px] flex gap-[4.875px] grow-[1] w-full">
                    <div class="rounded-[9.75px] flex justify-center items-center cursor-pointer h-full w-full">
                        <img class="max-h-[20.8px]" src="/assets/images/Playn Go.svg" alt="">
                    </div>
                    <div class="rounded-[9.75px] flex justify-center items-center cursor-pointer h-full w-full">
                        <img class="max-h-[20.8px]" src="/assets/images/Hacksaw Gaming.svg" alt="">
                    </div>
                    <div class="desktop-see-all" (click)="toggleDeskProvider()">See All</div>
                </div>
            </div>

            <div class="flex flex-col items-center gap-[4.875px]">
                <div class="desktop-search">
                    <input type="text" name="" id="" placeholder="Search games">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.6333 17.6C14.4809 17.6 17.6 14.4809 17.6 10.6333C17.6 6.78571 14.4809 3.66663 10.6333 3.66663C6.78571 3.66663 3.66663 6.78571 3.66663 10.6333C3.66663 14.4809 6.78571 17.6 10.6333 17.6Z"
                            stroke="#899194" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18.3333 18.3332L16.8666 16.8666" stroke="#899194" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="desktop-categories ">
                <div class="desktop-category-item desktop-active">All</div>
                <div class="desktop-category-item">Popular Slots</div>
                <div class="desktop-category-item">Drops & Wins</div>
                <div class="desktop-category-item">Bonus Buy</div>
                <div class="desktop-category-item">Megaways</div>
                <div class="desktop-category-item">New Games</div>
            </div>
        </div>


        <div [ngClass]="{'!max-h-[760px]' : isDeskProvider}"
            class="text-[0.8696rem] rounded-[0.6094rem] poppins-medium bg-[#ededed] relative mb-4 max-h-0 transition-all overflow-hidden duration-500 ease-in-out">
            <div class="p-[1.6839rem_1.3366rem_1.6839rem_2rem] w-full poppins-medium">
                <div class="desk-pro flex items-center relative justify-center">
                    <div class="absolute left-0">
                        <input
                            class="desk-search bg-white text-[#333] w-[12.75rem] rounded-[0.4643rem] h-[2.4938rem] px-[0.5119rem] poppins-regular"
                            type="text" placeholder="Search Provider">
                    </div>
                    <p class="text-[1.4464rem] text-[rgba(30,30,30,.6)]">Filter by provider</p>
                </div>
                <ul class="flex overflow-hidden h-full flex-wrap mt-[2.7194rem]">
                    @for (item of deskProviders; track $index) {
                    <li
                        class="w-[6.9643rem] inline-flex items-center shrink-0 py-[0.6384rem] basis-[calc(100%_/_7)] select-none h-[45.41px] text-[#868686] transition-[color_120ms_ease-in,margin_.4s_ease] relative ">
                        <div class="inline-block max-h-[25px] max-w-[30px] mr-1">
                            <img [src]="item.img" alt="" class="!w-full">
                        </div>
                        <span class="max-w-[132.42px] truncate leading-tight"> {{item.title}}</span>
                    </li>
                    }
                </ul>
            </div>
            <span (click)="toggleDeskProvider()"
                class="material-icons absolute top-[1.1429rem] right-[1.375rem] text-[2rem] text-[#5c5c5c] opacity-70 cursor-pointer transition-opacity duration-[0.3s] mt-[0.2857rem]">close</span>
        </div>




        <div>
            <ul class="desktop-games">
                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg group [background-image:url('/assets/images/119,226731d95e6cb7.png')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg group [background-image:url('/assets/images/121,22c1dcfafe8871.png')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg group [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
                        <div class="slot-hover">
                            <img src="/assets/images/play.svg" alt="">
                            <div class="star-wrapper">
                                <span class="material-icons text-[24px] float-right ">favorite_border</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="mt-[24.375px] text-[12.1875px] px-[16.25px] mx-auto w-[113.75px]">
                <div class="flex justify-center items-center">
                    <span class="text-[9.75px] block text-[#9A9A9A] "> 42 </span>
                    <span class="text-[9.75px] block text-[#9A9A9A] mx-[4.0625px]"> OF </span>
                    <span class="text-[9.75px] block text-[#9A9A9A]"> 7436</span>
                </div>
                <div class="overflow-hidden bg-[#464b58] rounded-[16.25px] mt-[5.6875px] w-full h-[4.0625px]">
                    <div class="bg-[#00f18c] rounded-[16.25px] h-full w-[10%]"></div>
                </div>
            </div>
            <div class="desktop-show-more">
                <span class="text-[#18233A]">Show More</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_89_476)">
                        <path opacity="0.3"
                            d="M13 6C13 5.44772 12.5523 5 12 5C11.4477 5 11 5.44772 11 6L11 18C11 18.5523 11.4477 19 12 19C12.5523 19 13 18.5523 13 18L13 6Z"
                            fill="#0F1727"></path>
                        <path
                            d="M6.70711 11.2929C6.31658 10.9024 5.68342 10.9024 5.29289 11.2929C4.90237 11.6834 4.90237 12.3166 5.29289 12.7071L11.2929 18.7071C11.6715 19.0857 12.2811 19.0989 12.6757 18.7372L18.6757 13.2372C19.0828 12.864 19.1103 12.2314 18.7372 11.8243C18.364 11.4172 17.7314 11.3897 17.3243 11.7628L12.0301 16.6159L6.70711 11.2929Z"
                            fill="#0F1727"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_89_476">
                            <rect width="24" height="24" fill="white" transform="translate(24) rotate(90)"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<div class="bottom-0 fixed w-full left-0 z-[10000] lg:hidden">
    <app-bottom-nav></app-bottom-nav>
</div>