<ul class="sport-list menu-slide tabs">
  <li class="active "><span sport="soccer" class="sport-icon pr-[0.9vw]"></span> <span>Soccer</span></li>
  <li class="">
    <span sport="basketball" class="sport-icon pr-[0.89vw]"></span>
    <span>Basketball</span>
  </li>
  <li class="">
    <span sport="tennis" class="sport-icon  pr-[0.9vw]"></span>
    <span>Tennis</span>
  </li>
  <li class="">
    <span sport="baseball" class="sport-icon  pr-[0.9vw]"></span>
    <span>Baseball</span>
  </li>
  <li class="">
    <span sport="formula1" class="sport-icon  pr-[0.9vw] text-[15px]"></span>
    <span>Formula 1</span>
  </li>
  <li class="">
    <span sport="leagueoflegends" class="sport-icon  pr-[0.9vw]"></span>
    <span>League of Legends</span>
  </li>
</ul>