<!-- Swiper container -->
<div class="swiper mySwiper  max-w-[calc(100vw)] [375px]:max-h-[112.55px]
 lg:mt-2 lg:rounded-md">
    <div class="swiper-wrapper forMedia max-h-[112.55px]">


     <div class="swiper-slide h-full" *ngFor=" let img of swiperImages">
            <img [src]="img.url" alt="slide" class="w-full max-h-[112.55px] imageMain object-cover " />
    </div>




    </div>
    <!-- Navigation arrows -->
    <div class="swiper-button-next !hidden lg:!block z-10"></div>
    <div class="swiper-button-prev !hidden lg:!block z-10"></div>

</div>