<header class="relative z-[10]">
    <div class="content">
        <div class="logo-area">
            <div class="logo flex items-center">
                <a>
                    <img src="/assets/header/112,1c3cd62c481703.png"
                        class="mobile-logo mt-0.5 max-h-[40px] max-w-[40px]" routerLink="/">
                    <img src="/assets/header/112,1c3cf09c739d87.png"
                        class="max-[819px]:hidden !h-[19px] lg:!h-[22px] xl:!h-[33px] desktop-logo" routerLink="/">
                </a>
                <div class="ml-[19.0357px]  flex items-center balance-main-container" *ngIf="token">
                    <ul class="flex items-center gap-2 md:gap-4 md:mt-[-7px]">
                        <li routerLink="/account/freespins">
                            <a class="gift-icon max-h-[40px] max-w-[40px]">
                                <img src="/assets/header/gifts.png" class="max-h-[40px] max-w-[40px]" alt="">
                            </a>
                        </li>

                        <li>
                            <a class="gift-icon max-h-[40px] max-w-[40px]">
                                <img src="/assets/header/notifications.png" class="max-h-[40px] max-w-[40px]" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex h-full items-center">


            @if (loader) {
            <div class="loader-wrapper w-full">
                <div class="loader"></div>
            </div>
            }@else {
            <form class="flex h-full items-center xl:gap-1" [formGroup]="loginForm" (submit)="onSubmit()">
                <div class="fields-wrapper max-[819px]:!hidden" *ngIf="!token">
                    <div>
                        <div class="field">
                            <input type="text" name="userName" placeholder_key="LOGIN__USERNAME" required=""
                                placeholder="Username" autocomplete="username" formControlName="userName">
                        </div>
                        <div class="field">
                            <input type="password" autocomplete="current-password" name="password"
                                placeholder_key="LOGIN__PASSWORD" required="" placeholder="Password"
                                formControlName="password">
                            <svg (click)="showPass()" width="26" height="26" viewBox="0 0 26 26" fill="none"
                                class="forgot-pass cursor-pointer" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_11_40)">
                                    <path
                                        d="M0.10812 12.9019C0.16771 19.8936 5.90432 25.5332 12.9019 25.4736C19.8995 25.4139 25.5391 19.6773 25.4795 12.6857C25.42 5.694 19.6774 0.0484767 12.6857 0.108066C5.69405 0.167656 0.0484798 5.90431 0.10812 12.9019ZM1.29315 12.8918C1.23901 6.54005 6.34407 1.34723 12.6958 1.29309C19.0476 1.23896 24.2404 6.34401 24.2945 12.6958C24.3487 19.0475 19.2435 24.2344 12.8918 24.2885C6.54006 24.3427 1.34723 19.2376 1.29315 12.8918Z"
                                        fill="white" fill-opacity="0.5"></path>
                                    <path
                                        d="M5.67641 16.8661C9.03495 18.8047 14.0837 18.1277 17.0781 14.1853C17.0839 14.1734 17.0956 14.1615 17.1014 14.1496L18.5245 14.9493C19.0128 15.2295 19.3604 14.9955 19.2904 14.4331L18.3872 7.18201C18.3172 6.6256 17.8409 6.35709 17.3273 6.58663L10.6689 9.59431C10.1554 9.82386 10.1353 10.2448 10.6294 10.519L12.243 11.4238C12.243 11.4238 12.2316 11.4772 12.2259 11.5069C11.8419 13.7322 9.41332 15.9217 6.12746 15.5586C5.09548 15.4489 4.12675 15.1134 4.02709 15.2387C3.92737 15.3581 4.56311 16.2534 5.67054 16.872L5.67641 16.8661ZM8.41778 16.6116C11.2094 15.9952 13.0275 13.7873 13.389 11.7043C13.5327 11.1817 13.297 10.6504 12.8208 10.3878L12.3623 10.131L17.2852 7.90247L17.9531 13.2653L17.6793 13.1136C17.4947 13.0085 17.2928 12.9628 17.0914 12.9646C16.7536 12.9674 16.4171 13.1184 16.1884 13.393C16.1708 13.4168 16.1415 13.4526 16.118 13.4824C14.5592 15.5223 12.2524 16.7033 9.78162 16.7244C9.31354 16.7284 8.85695 16.6908 8.41185 16.6116L8.41778 16.6116Z"
                                        fill="white" fill-opacity="0.5"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_11_40">
                                        <rect width="25.3664" height="25.3664" fill="white"
                                            transform="translate(0 0.216187) rotate(-0.488319)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <p class="err-text main-err"></p>
                </div>

                <div id="not-authorized" class="visible" *ngIf="!token">
                    <a (click)="showSignup()"
                        class="btn registration open-registration-popup min-[820px]:!h-[24px]  lg:!w-[89px] lg:!h-[26px] xl:!w-[134px] xl:!h-[40px]   sign-btn">Sign
                        Up</a>
                    <a (click)="gotoLogin()" type="submit"
                        class="btn login open-login-popup min-[820px]:!h-[24px] lg:!w-[89px] lg:!h-[26px] xl:!w-[126px] xl:!h-[40px]  log-btn">Log
                        In</a>
                </div>
                <div class="flex items-center gap-[9.39262px] after-login-mobile-balance" *ngIf="token">
                    <div class="flex items-center">
                        <div class="balance md:!text-[16px] md:!mr-[-1vw] flex flex-col">
                            <div>
                                <span class="amount userTotalBalance">Bal: {{ (this.userBalance?.data?.bankBalance -
                                    this.userBalance?.data?.exposure) | number :'1.2-2'}}</span>
                                <!-- <span class="currency">INR</span> -->
                            </div>
                            <a (click)="exposureModal = true">
                                <span class="amount userTotalExposure w-full text-end">Exp:
                                    {{this.userBalance?.data?.exposure ||
                                    '0.00'}}</span>
                                <!-- <span class="currency">INR</span> -->
                            </a>


                        </div>

                        <div (click)="toggleDeposit()">
                            <img src="/assets/header/deposit-money.svg" style="height: 18px;" alt="">
                        </div>
                    </div>
                    <a (click)="gotoAccNav()" class="user-icon authorized">
                        <span class="material-icons icon">person</span>
                    </a>
                </div>
            </form>
            }

            <ul class="large-login-content poppins-semibold [@media(max-width:819px)]:!hidden" *ngIf="token">
                <li class="user-notifications">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 5.3667V8.1417" stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10"
                            stroke-linecap="round">
                        </path>
                        <path
                            d="M10.0171 1.6665C6.9504 1.6665 4.46707 4.14984 4.46707 7.2165V8.9665C4.46707 9.53317 4.23374 10.3832 3.94207 10.8665L2.88374 12.6332C2.23374 13.7248 2.68374 14.9415 3.88374 15.3415C7.86707 16.6665 12.1754 16.6665 16.1587 15.3415C17.2837 14.9665 17.7671 13.6498 17.1587 12.6332L16.1004 10.8665C15.8087 10.3832 15.5754 9.52484 15.5754 8.9665V7.2165C15.5671 4.1665 13.0671 1.6665 10.0171 1.6665Z"
                            stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"></path>
                        <path
                            d="M12.7766 15.6831C12.7766 17.2081 11.5266 18.4581 10.0016 18.4581C9.24323 18.4581 8.54323 18.1414 8.04323 17.6414C7.54323 17.1414 7.22656 16.4414 7.22656 15.6831"
                            stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10"></path>
                    </svg>
                </li>

                <li class="user-notifications">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.638 8.3335H3.30469V15.0002C3.30469 17.5002 4.13802 18.3335 6.63802 18.3335H13.3047C15.8047 18.3335 16.638 17.5002 16.638 15.0002V8.3335Z"
                            stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                        <path
                            d="M17.9193 5.83317V6.6665C17.9193 7.58317 17.4776 8.33317 16.2526 8.33317H3.7526C2.4776 8.33317 2.08594 7.58317 2.08594 6.6665V5.83317C2.08594 4.9165 2.4776 4.1665 3.7526 4.1665H16.2526C17.4776 4.1665 17.9193 4.9165 17.9193 5.83317Z"
                            stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                        <path
                            d="M9.69705 4.16686H5.09705C4.81372 3.85853 4.82205 3.38353 5.12205 3.08353L6.30539 1.9002C6.61372 1.59186 7.12205 1.59186 7.43039 1.9002L9.69705 4.16686Z"
                            stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                        <path
                            d="M14.8891 4.16686H10.2891L12.5557 1.9002C12.8641 1.59186 13.3724 1.59186 13.6807 1.9002L14.8641 3.08353C15.1641 3.38353 15.1724 3.85853 14.8891 4.16686Z"
                            stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                        <path
                            d="M7.45312 8.3335V12.6168C7.45312 13.2835 8.18646 13.6752 8.74479 13.3168L9.52813 12.8002C9.81146 12.6168 10.1698 12.6168 10.4448 12.8002L11.1865 13.3002C11.7365 13.6668 12.4781 13.2752 12.4781 12.6085V8.3335H7.45312Z"
                            stroke="#DEAE26" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                    </svg>
                </li>

                <li class="username account-page">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.1302 9.05817C10.0469 9.04984 9.94687 9.04984 9.85521 9.05817C7.87187 8.9915 6.29688 7.3665 6.29688 5.3665C6.29687 3.32484 7.94687 1.6665 9.99687 1.6665C12.0385 1.6665 13.6969 3.32484 13.6969 5.3665C13.6885 7.3665 12.1135 8.9915 10.1302 9.05817Z"
                            stroke="#555F62" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M5.96563 12.1335C3.94896 13.4835 3.94896 15.6835 5.96563 17.0252C8.25729 18.5585 12.0156 18.5585 14.3073 17.0252C16.324 15.6752 16.324 13.4752 14.3073 12.1335C12.024 10.6085 8.26562 10.6085 5.96563 12.1335Z"
                            stroke="#555F62" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>

                    <div class="user">{{ toggle.username() }}</div>

                    <svg class="arrowdown" width="12" height="12" viewBox="0 0 12 12" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.95906 4.4751L6.69906 7.7351C6.31406 8.1201 5.68406 8.1201 5.29906 7.7351L2.03906 4.4751"
                            stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                    </svg>

                    <ul class="dropdown [@media(max-width:1440px)]:top-[34px]">
                        <!-- <li routerLink="/account/dashboard">
                            <a>Dashboard</a>
                        </li> -->

                        <li class="cursor-pointer" (click)="exposureModal = true">
                            <a>Exp : <span class="!text-red-500">({{this.userBalance?.data?.exposure+'.00' ||
                                    '0'}})</span></a>
                        </li>

                        <li class="cursor-pointer" routerLink="/account/personalinfo">
                            <a>Personal Information</a>
                        </li>

                        <!-- <li routerLink="/account/deposit">
                            <a>Deposit Money</a>
                        </li>

                        <li routerLink="/account/withdraw">
                            <a>Withdraw Money</a>
                        </li> -->

                        <!-- <li routerLink="/account/transactions">
                            <a>Transactions History</a>
                        </li>

                        <li routerLink="/account/freespins">
                            <a>Bonus with Promo Code</a>
                        </li> -->

                        <li routerLink="/account/profit-loss">
                            <a>Profit Loss</a>
                        </li>

                        <li routerLink="/account/bet-history">
                            <a>Bet History</a>
                        </li>

                        <li routerLink="/account/activity-log">
                            <a>Activity Log</a>
                        </li>

                        <li routerLink="/account/account-statement">
                            <a>Account Statement</a>
                        </li>

                        <li routerLink="/account/password-history">
                            <a>Password History</a>
                        </li>
                        <!-- 
                        <li routerLink="/account/kyc">
                            <a>Acount Verification</a>
                        </li> -->


                        <li (click)=" logout()">
                            <a class="logout">Log out</a>
                        </li>
                    </ul>
                </li>

                <li class="username cursor-pointer flex flex-col justify-center items-center">
                    <div class="max-h-[15px] flex justify-center items-center">
                        <span class="currency-str !text-[#ffdd55]">Bal : </span>
                        <span class="amount userTotalBalance !text-[#ffdd55]"> {{this.userBalance?.data?.bankBalance -
                            this.userBalance?.data?.exposure || '0.00'}}</span>
                    </div>
                    <div class="max-h-[15px] flex justify-center items-center" (click)="exposureModal = true">
                        <span class="currency-str !text-[#f36161]">Exp : </span>
                        <span class="amount userTotalBalance text-[#f36161]"> ({{this.userBalance?.data?.exposure+'.00'
                            ||
                            '0'}})</span>
                    </div>

                </li>

                <!-- <li class="li-height"> -->
                <a class="deposit btn">
                    DEPOSIT
                </a>
                <!-- </li> -->
            </ul>

            <div class="change-lang max-[810px]:!hidden" style="display: block;">
                <div class="current-lang"><span class="current-lang lang-text">en</span><img src="/assets/header/en.png"
                        lang="en"></div>

                <ul class="text-[12.53px]">


                    <li class="hover:bg-[#23282a]">
                        <a>
                            <span>BR - Portuguese</span>
                            <img src="/assets/images/flags/br.png">
                        </a>
                    </li>


                    <li class="hover:bg-[#23282a]">
                        <a>
                            <span>ES - Español</span>
                            <img src="/assets/images/flags/es.png">
                        </a>
                    </li>
                    <li class="hover:bg-[#23282a]">
                        <a>
                            <span>FR - Français</span>
                            <img src="/assets/images/flags/fr.png">
                        </a>
                    </li>

                    <li class="hover:bg-[#23282a]">
                        <a>
                            <span>DE - Deutsch</span>
                            <img src="/assets/images/flags/de.png">
                        </a>
                    </li>

                    <li class="hover:bg-[#23282a]">
                        <a>
                            <span>FI - Finnish</span>
                            <img src="/assets/images/flags/fi.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

@if (exposureModal) {
<div class="rules-overlay">
    <div class="rules-bg"></div>
    <div class="rule-wrapper px-2 md:px-4 popUpOpenAnimation1 !h-auto gap-4">
        <button class="flex justify-end" (click)="exposureModal = false" type="button" aria-label="Close" title="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16" fill="#fff"
                class="close-rules-btn">
                <g clip-path="url(#clip0_406_1676)">
                    <path
                        d="M9.46585 8.01314L15.6959 1.78287C16.1014 1.37762 16.1014 0.722377 15.6959 0.317124C15.2907 -0.0881297 14.6354 -0.0881297 14.2302 0.317124L7.99991 6.5474L1.76983 0.317124C1.36438 -0.0881297 0.709336 -0.0881297 0.304082 0.317124C-0.101361 0.722377 -0.101361 1.37762 0.304082 1.78287L6.53416 8.01314L0.304082 14.2434C-0.101361 14.6487 -0.101361 15.3039 0.304082 15.7092C0.506045 15.9113 0.771595 16.0129 1.03695 16.0129C1.30232 16.0129 1.56768 15.9113 1.76983 15.7092L7.99991 9.47889L14.2302 15.7092C14.4323 15.9113 14.6977 16.0129 14.9631 16.0129C15.2284 16.0129 15.4938 15.9113 15.6959 15.7092C16.1014 15.3039 16.1014 14.6487 15.6959 14.2434L9.46585 8.01314Z"
                        fill="#fff"></path>
                </g>
                <defs>
                    <clipPath id="clip0_406_1676">
                        <rect width="16" height="16" fill="#fff"></rect>
                    </clipPath>
                </defs>
            </svg>
        </button>
        <div class="wrapper">
            <table class="table text-[#95999b] w-full exposure-table-wrapper">
                <thead class="border-b border-white">
                    <tr class="whitespace-nowrap">
                        <th class="text-center">Sport Name</th>
                        <th class="text-center" style="width: 40%;">Event Name</th>
                        <th class="text-center">Market Name</th>
                        <th class="text-center">Trade</th>
                    </tr>
                </thead>
                <tbody class="ng-star-inserted">
                    <tr class="py-1 " *ngFor="let exposure of userExposureList">
                        <td class="text-center ">{{exposure?.sportName}}</td>
                        <td class="text-center ">
                            <a class="text-[#2789ce] cursor-pointer"
                                (click)="goToMarketByUrlExposure(exposure.sportId, exposure.eventId, exposure.sportName)">{{exposure?.eventName}}</a>
                        </td>
                        <td class="text-center ">
                            {{exposure?.marketName}}
                        </td>
                        <td class="text-center ">{{exposure?.betCounts}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
}

<app-login-modal></app-login-modal>
<app-deposit-modal [isDeposit]="isDeposit" (stateChange)="handleEvent($event)"></app-deposit-modal>