<app-header></app-header>
<app-sports-nav></app-sports-nav>
<div class="wrapper overflow-hidden min-h-[70vh] text-white relative px-[0.8516rem] mx-auto">
    <div class="page-title">

    </div>
    <ul class="min-h-[34.0625rem] pb-[0.4258rem] overflow-hidden">
        @for (item of promos; track $index) {
        <li>
            <div class="promo-img w-full bg-[#181818]">
                <img class="object-cover h-[6.8125rem]" [src]="item.img" alt="">
            </div>
            <div class="info">
                <h2 class="truncate poppins-bold">{{item.title}}</h2>
                <div class="text-content">
                    <p class="text-[#f1c40f] poppins-regular font-bold">{{item.more}}</p>
                </div>
                <div class="read-more poppins-regular">Read More</div>
                <span class="btn poppins-bold">Register</span>
            </div>
        </li>
        }
    </ul>
</div>
<app-footer></app-footer>