<div class="page-wrapper [@media(max-width:769px)]:!hidden">
    <div class="content">
        <div class="filter">
            <div class="list-wrapper">
                <ul class="filters">
                    <li>
                        <select class="operation-type">
                            <option value="" selected disabled hidden=""> Activity Type</option>
                            <option value="">All</option>
                            <option value="1">Deposit</option>

                            <option value="2">Withdraw</option>

                            <option value="3">Bet</option>

                            <option value="4">Win</option>

                            <option value="21">Cancel Bonus</option>

                            <option value="22">Bonus Activation</option>
                        </select>
                    </li>

                    <li>

                        <select class="operation-type">
                            <option selected="selected" disabled="disabled" hidden="">Status</option>
                            <option>All</option>
                            <option>Success</option>
                            <option value="2">Processing</option>
                            <option value="3">Rejected</option>
                        </select>
                    </li>

                    <li class="datepicker">
                        <input type="date" class="from-date" placeholder="From">
                        <!-- <div class="calendar"></div> -->
                    </li>

                    <li class="datepicker">
                        <input type="date" class="from-date" placeholder="From">
                        <!-- <div class="calendar"></div> -->
                    </li>

                    <li>
                        <div class="btn">Submit</div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="transactions-list">
            <div class="table-wrapper custom-scrollbar-content-wrapper"
                style="position: relative; width: 100%; height: 100%; overflow: hidden auto;">
                <table style="display: table;">
                    <thead>
                        <tr>
                            <th>Date/Time</th>
                            <th>Type</th>
                            <th style="width: 100px;"></th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Result</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="no-data" style="display: block;">
                    <div class="material-icons icon">assignment</div>
                    <div class="text" text_key="PROFILE_TRANSACTION__NO_TRANSACTIONS">Transactions Not Found</div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="bg-[#14161B] roboto-medium [@media(min-width:769px)]:!hidden ">

    <div class="page-title">
        <a class="material-icons arrow" (click)="goBack()">arrow_back</a>
        <span class="title">Transactions History</span>
        <span class="material-icons icon">history</span>
    </div>

    <div class="content-mb">
        <form class="filters-mb w-full">
            <ul>
                <li>
                    <div class="title">From Date</div>
                    <input name="from-date" type="date">
                </li>

                <li>
                    <div class="title">To Date</div>
                    <input name="from-date" type="date">
                </li>

                <li>
                    <div class="title">Activity Type</div>
                    <select name="operation-type">
                        <option value="">All</option>
                        <option value="1">Deposit</option>

                        <option value="2">Withdraw</option>

                        <option value="3">Bet</option>

                        <option value="4">Win</option>
                    </select>
                </li>

                <li>
                    <div class="title">Status</div>
                    <select name="operation-type">
                        <option value="">All</option>
                        <option value="1">Deposit</option>

                        <option value="2">Withdraw</option>

                        <option value="3">Bet</option>

                        <option value="4">Win</option>
                    </select>
                </li>
            </ul>

            <div class="flex w-full justify-center">
                <button type="submit" class="btn">Show</button>
            </div>
        </form>


        <div class="no-data-mb" style="display: block;">
            <div class="material-icons icon">assignment</div>
            <div class="text">Transactions Not Found</div>
        </div>
    </div>

</div>