<div class="live-header">
    <div class="tabs"><a href="#/prematch" class="prematch-link"><span class="material-icons">watch_later</span>
            <span>Prematch</span>

        </a>

        <a href="#/live/overview" class="">
            <img src="/assets/images/live-header/overview.png" alt="Live overview"> <span>Overview</span></a> <a
            href="#/live/eventview" class="router-link-active active"><img
                src="/assets/images/live-header/event-view.png" alt="Live eventview"> <span>Event
                View</span></a> <a href="#/live/multyview" class=""><img src="/assets/images/live-header/multi.png"
                alt="Live multiview">
            <span>Multi-view</span></a> <a href="#/live/calendar" class=""><img
                src="/assets/images/live-header/callender.png" alt="Live calendar">
            <span>Calendar</span></a>
    </div>
    <div class="actions">
        <ul>
            <li class="active">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </li>
            <li class="">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </li>
            <li class="">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </li>
        </ul>
        <div class="toggle-markets hidden"><span>Hide All</span> <img src="/assets/images/racing/eyehidden.png"
                title="Hide All" alt="Hide all icon"></div>


        <!-- <div class="toggle-markets"><span>Show All</span> <img src="/assets/images/racing/eye.png" title="Show All"
                alt="Show all icon"></div> -->

    </div>


</div>