
<div class="hero-section  poppins-semiBold">
    <div class="middle text-white">
        <div class="top-content ">
            <div class="heading poppins-semiBold dekstop-heading">
                <h1>VELOBET</h1>
                <h1>Affiliate System</h1>
            </div>
            <h1 class="heading poppins-semiBold mobile-headings">WELCOME_TO</h1>
            <h1 class="heading mobile-headings">VELOBET</h1>
            <h1 class="heading mobile-headings">AFFILIATES</h1>
            <p class="hero-desc poppins-regular">Joining the affiliate program at Velobet.com will let you earn money
                just by promoting
                our eye-catching casino that players will absolutely love from first sight!</p>
            <button class="hero-btn poppins-semiBold">Join Now <img class="arrow"
                    src="/assets/images/affliate-page/arrow_north_east.svg" alt=""></button>
        </div>
    </div>
</div>
<div class="comission-section">
    <div class="wraper poppins-semiBold">
        <div class="top-middle flex justify-between items-center">
            <h2 class="title text-white ">Commission Plans</h2>
            <img class="coin-1" src="/assets/images/affliate-page/coin1.png" alt="">
            <img src="/public/assets/images/affliate-page/" alt="">
        </div>
        <p class="text-white com-txt">Promote our stunning online casino and earn according to your performance! Drive
            clients to our platform and yield profits on the finest revenue share, CPA, or hybrid system basis. At
            Velobet, each of you will have a dedicated affiliate manager, always ready to provide support.</p>
    </div>
    <div class="cards-section">
        <div class="cards-grid">
            @for (item of cardarr; track $index) {
            <div class="card">
                <div class="top-row">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <h3 class="card-title ">{{item.title}}</h3>
                <img class="card-img" [src]="item.imgsrc" alt="">
            </div>
            }
        </div>
        <img class="coin-shadow" src="/assets/images/affliate-page/coin-shadow.png" alt="">
        <img class="black-coin" src="/assets/images/affliate-page/coin3 (1).png" alt="">
    </div>
</div>
<div class="testimonials w-[100%] overflow-hidden">
    <img class="coin" src="/assets/images/affliate-page/coin2.png" alt="">
    <div class="top-test poppins-semiBold">
        <h2 class="title-test poppins-semiBold">Testimonials</h2>
        <div class="swiper-navigation">
            <div class="nav nav-prev" tabindex="0" role="button" aria-label="Previous slide"
                aria-controls="swiper-wrapper-7ea5cbb94f87f5f3" aria-disabled="false">
                <span class="material-icons close">chevron_left</span>
            </div>
            <div class="nav nav-next" tabindex="0" role="button" aria-label="Next slide"
                aria-controls="swiper-wrapper-7ea5cbb94f87f5f3" aria-disabled="false">
                <span class="material-icons close">chevron_right</span>
            </div>
        </div>
    </div>
    <div class="test-wraper">
        <ul class="testimonial-wrapper swiper-wrapper">
            <li class="swiper-slide">
                <div class="testimonial ">
                    <div class="head">
                        <a class="dotted-hidden author">http://whichbookie.co.uk/</a>
                        <div class="dotted-hidden site">Whichbookie</div>
                    </div>
                    <div class="testimonial-text">
                        <p>The affiliate team at Velobet are a dream to work with, professional, courteous, and
                            creative. -
                            Mark McGuinness WhichBookie.</p>
                    </div>
                </div>
            </li>
        </ul>
        <div
            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
        </div>
        <img class="img-coin" src="/assets/images/affliate-page/coin3.png" alt="">
    </div>
</div>
<div class="testimonials promo-section  w-[100%] overflow-hidden">
    <div class="top-promo  poppins-semiBold">
        <h2 class="title-test poppins-semiBold">PROMOTIONS</h2>
        <div class="swiper-navigation">
            <div class="nav nav-prev" tabindex="0" role="button" aria-label="Previous slide"
                aria-controls="swiper-wrapper-7ea5cbb94f87f5f3" aria-disabled="false">
                <span class="material-icons close">chevron_left</span>
            </div>
            <div class="nav nav-next" tabindex="0" role="button" aria-label="Next slide"
                aria-controls="swiper-wrapper-7ea5cbb94f87f5f3" aria-disabled="false">
                <span class="material-icons close">chevron_right</span>
            </div>
        </div>
    </div>
    <div class="test-wraper-cards">

        <ul class="news-list swiper-wrapper" id="swiper-wrapper-181796e94463313f" aria-live="polite"
            style="transform: translate3d(0px, 0px, 0px);">
            @for (item of promarr; track $index) {
            <li class="swiper-slide swiper-slide-active" style="width: 409px;" role="group" aria-label="1 / 10">
                <img class="test-prom-img" [src]="item.src">
                <div class="text-wrapper">
                    <h3> {{item.title}}</h3>
                    <span class="description" style="color: #f1c40f;">{{item.dsc}}!</span>
                    <a class="btn !poppins-semiBold">Read More</a>
                </div>
            </li>
            }
            <img src="/public/assets/images/affliate-page/img0-3.jpg" alt="">

        </ul>
    </div>
</div>

<section class="contact  w-[100%] overflow-hidden">
    <div class="top middle contact-sec">
        <h2 class="title-mbl text-white poppins-semiBold">Contact Us</h2>
    </div>
    <div class="wrapper middle">
        <div class="social mailto poppins-regular">
            <div class="content">
                <img class="icons" src="/assets/images/affliate-page/mail.svg" alt="mail">
                <a class="copy-val text-white ">affiliatesvelobet.com</a>
            </div>
            <div class="copy-wrapper">
                <div class="copy copy-1">
                    <img class="copy-icon" src="/assets/images/affliate-page/copy.svg" alt="">
                    <span class="text-white copy-txt">Copy</span>
                </div>
            </div>
        </div>
        <div class="social skype poppins-regular">
            <div class="content ">
                <img class="icons" src="/assets/images/affliate-page/skype.svg" alt="skype">
                <a class="copy-val ">live:.cid.70aa3cc649393ad8</a>
            </div>
            <div class="copy-wrapper">
                <div class="copy copy-2">
                    <img class="copy-icon" src="/assets/images/affliate-page/copy.svg" alt="">
                    <span class="text-white copy-txt">Copy</span>
                </div>
            </div>
        </div>
        <div class="social telegram poppins-regular">
            <div class="content">
                <img class="icons" src="/assets/images/affliate-page/telegram.svg" alt="telegram">
                <a class="copy-val text-white text-[12px]">TheBeastPartners</a>
            </div>
            <div class="copy-wrapper">
                <div class="copy copy-3">
                    <img class="copy-icon" src="/assets/images/affliate-page/copy.svg" alt="">
                    <span class="text-white text-[7px] copy-txt">Copy</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="social-icons  w-[100%] overflow-hidden">
    <ul class="socials">
        <li>
            <a target="_blank">
                <img class="social-icon" src="https://static.inpcdn.com/92,17ab01d8b98203.webp"
                    alt="https://static.inpcdn.com/92,17ab01d8b98203.webp">
            </a>
        </li>

        <li>
            <a target="_blank">
                <img class="social-icon" src="https://static.inpcdn.com/105,1ae3fe540a8ad6.webp"
                    alt="https://static.inpcdn.com/105,1ae3fe540a8ad6.webp">
            </a>
        </li>

        <li>
            <a target="_blank">
                <img class="social-icon" src="https://static.inpcdn.com/66,11efadafc80cf5.webp"
                    alt="https://static.inpcdn.com/66,11efadafc80cf5.webp">
            </a>
        </li>
    </ul>
</section>