<app-header></app-header>
<app-sports-nav class="[@media(max-width:769px)]:hidden"></app-sports-nav>

<main class="middle">
    <nav class="account-sidebar [@media(max-width:769px)]:hidden">
        <div class="g-title poppins-medium ">Account Menu</div>
        <ul class="poppins-regular">

            <li routerLinkActive="nav-active" routerLink="/account/dashboard">
                <a class="nav-li">
                    <span class="material-icons-outlined">dashboard</span>
                    <span>Dashboard</span>
                </a>
            </li>

            <li routerLinkActive="nav-active" routerLink="/account/personalinfo">
                <a class="nav-li">
                    <span class="material-icons-outlined">assignment_ind</span>
                    <span>Personal Information</span>
                </a>
            </li>

            <li routerLinkActive="nav-active" routerLink="/account/deposit">
                <a class="nav-li">
                    <span class="material-icons-outlined">credit_card</span>
                    <span>Deposit Money</span>
                </a>
            </li>

            <li routerLinkActive="nav-active" routerLink="/account/withdraw">
                <a class="nav-li">
                    <span class="material-icons-outlined">directions</span>
                    <span>Withdraw Money</span>
                </a>
            </li>

            <li routerLinkActive="nav-active" routerLink="/account/transactions">
                <a class="nav-li">
                    <span class="material-icons-outlined">history</span>
                    <span>Transactions History</span>
                </a>
            </li>

            <li>
                <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/bonuses">
                    <span class="material-icons-outlined">card_giftcard</span>
                    <span>Bonus with Promo Code</span>
                </a>
            </li>

            <li>
                <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/freespins">
                    <span class="material-icons-outlined">local_play</span>
                    <span>My Bonuses/Gifts</span>
                </a>
            </li>

            <li>
                <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/kyc">
                    <span class="material-icons-outlined">check_box</span>
                    <span>Account Verification</span>
                </a>
            </li>

        </ul>
    </nav>

    <router-outlet></router-outlet>

</main>