@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.sport-item {
  @apply h-full inline-block leading-[15vw] text-[4vw] relative min-w-[19vw] align-middle overflow-hidden box-border text-center border-b-4 border-transparent;
}
.sport-icon {
  font-size: 6.5vw;
}
 .sport-icon[sport='basketball3x3'],  .sport-icon[sport='3x3basketball'],  .sport-icon[sport='formula1'],  .sport-icon[sport='playerunknownsbattlegrounds'] {
  font-size: 4vw !important;
}
ul {
  scrollbar-width: none;
}

.active {
  color: #11e311;
}

li {
  margin: 0;
  height: 100%;
}

.trans {
  transition: color 0.4s ease;
}

.new {
  position: absolute;
  right: -0.625rem;
  top: 6px;
  background: red;
  color: #fff;
  padding: 0 5px;
  font-weight: 400;
  font-size: 0.5rem;
  border-radius: 4px;
  animation: 0.5s newAnimation ease-in-out infinite alternate;
}

@keyframes newAnimation {
  0% {
    opacity: 0.3;
  }
}

@media screen and (min-width: 767px) {
  .sport-img {
    padding-top: 10px !important;
  }

  .sport-all {
    margin-right: 7px !important;
  }
}
