<!-- Swiper container -->
<div class="swiper mySwiper  max-w-[calc(100vw)]  min-h-auto lg:mt-2 lg:rounded-md">
    <div class="swiper-wrapper ">


        <div class="swiper-slide h-[190px]" *ngFor=" let img of swiperImages">
            <img [src]="img" alt="slide" class="w-full h-auto object-cover " />
        </div>




    </div>
    <!-- Navigation arrows -->
    <div class="swiper-button-next !hidden lg:!block z-10"></div>
    <div class="swiper-button-prev !hidden lg:!block z-10"></div>

</div>