html,
body {
  position: relative;
  height: 100%;
}

:host {
  display: block;
  height: 100%;
  background: #000;
  color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries for Responsive Heights */
@media (min-width: 320px) {
  .forMedia,
  .imageMain {
    max-height: 96px !important;
  }
}

@media (min-width: 360px) {
  .forMedia,
  .imageMain {
    max-height: 108px !important;
  }
}

@media (min-width: 390px) {
  .forMedia,
  .imageMain {
    max-height: 117.11px !important;
  }
}

@media (min-width: 412px) {
  .forMedia,
  .imageMain {
    max-height: 123.6px !important;
  }
}

@media (min-width: 414px) {
  .forMedia,
  .imageMain {
    max-height: 124.31px !important;
  }
}

@media (min-width: 430px) {
  .forMedia,
  .imageMain {
    max-height: 129.11px !important;
  }
}

@media (min-width: 540px) {
  .forMedia,
  .imageMain {
    max-height: 162px !important;
  }
}

@media (min-width: 768px) {
  .forMedia,
  .imageMain {
    max-height: 230.4px !important;
  }
}

@media (min-width: 820px) {
  .forMedia,
  .imageMain {
    max-height: 246px !important;
  }
}

@media (min-width: 912px) {
  .forMedia,
  .imageMain {
    max-height: 273.6px !important;
  }
}

@media (min-width: 1024px) {
  .forMedia,
  .imageMain {
    max-height: 307.2px !important;
  }
}

@media (min-width: 1080px) {
  .forMedia,
  .imageMain {
    max-height: 384px !important;
  }
}

@media (min-width: 1346px) {
  .forMedia,
  .imageMain {
    max-height: 146.78px !important;
  }
}

@media (min-width: 1440px) {
  .forMedia,
  .imageMain {
    max-height: 155.73px !important;
  }
}

@media (min-width: 2560px) {
  .forMedia,
  .imageMain {
    max-height: 338.18px !important;
  }
}
