
<div class="page-wrapper">

<div class="personal-info">

    <ul>
        <li>
            <div class="left">
                <span>Balance :</span>
                <p class="amount">
                    <span>0.00</span>
                    <span>USD</span>
                </p>
            </div>
            <a class="deposit">Deposit :</a>
        </li>

        <li>
            <a class="content">
                <span class="icon material-icons-outlined">assignment_ind</span>
                <span class="content-span">My Profile :</span>
            </a>
        </li>


        <li>
            <a class="content">
                <div class="icon material-icons-outlined !text-[red]">info</div>
                <div class="status">
                    <span class="verification">Verification</span>
                    <span class="isverified">Not Verified</span>
                </div>
            </a>
        </li>

    </ul>

    <div class="bonuses">
        <h3>Bonuses</h3>
        <div class="no-bonus" style="display: block;">
            <a class="btn rounded">My Bonuses</a>
        </div>
    </div>

    <div class="transactions">
        <h3>
            <span>Last Transactions</span>
            <a class="see-all-text">See All</a>
        </h3>

        <table>
            <thead>
                <tr>
                    <th>Descriptions</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
</div>