input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: white;
}

.border-layBtn {
  border-color: #f1bed2 !important;
}

.border-backBtn {
  border-color: #aed8ff;
}

.border-sportBtn {
  border-color: #86efac;
}

.text-text_color_primary1 {
  color: white;
}

.bg-bg_color_betSlipBgColor {
  background-color: #374151;
}

.bg-bg_color_input_bg {
  background-color: #101827;
}

.border-border_color_primary {
  border-color: #545454;
}

.text-text_brand_primary {
  color: #00aa30;
}

.active\:border-oddInputBorderActive:active {
  border-color: #00aa30;
}

.focus\:bg-bg_color_input_bg:focus {
  background-color: #101827;
  border-color: #00aa30 !important;
}

.text-text_color_primary2 {
  color: white;
}

.border-border_color_primary4 {
  border-color: #008c2b;
}

.border-border_color_brand_secondary {
  border-color: #00aa30;
}

.border-border_color_brand_primary {
  border-color: #00aa30;
}

.bg-bg_color_placeBetBtnGrd {
  background-image: linear-gradient(90deg, #00aa30, #00aa30);
}

.border-border_color_brand_primary {
  border-color: #00aa30;
}

.sr-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

.bg-bg_color_primary {
  background-color: #1f2c3d;
}

.border-border_color_primary1 {
  border-color: #676767;
}

.bg-bg_SwitchBtnRound {
  background-color: #fff;
}

.peer:checked ~ .peer-checked\:bg-bg_color_switchAfterCheck {
  background-color: #01a950;
}

.bg-bg_color_disableBackGroundColorfForPlaceBetBtn {
  background-color: #979797;
}

.bg-bg_color_minBtn {
  background-image: linear-gradient(90deg, #44b5d9, #2c8ba9);
}

.bg-bg_color_maxBtn {
  background-image: linear-gradient(90deg, #2e924b, #40af52);
}

.bg-bg_color_editStakes {
  background-image: linear-gradient(90deg, #b0b0b0, #747474);
}

.bg-bg_color_clearBtn {
  background-image: linear-gradient(90deg, #8d1d35, #cd3c5b);
}

.bg-bg_color_input_bg {
  background-color: #101827;
}

.bg-bg_color_betSlipOddIncDecrBtnsGrd {
  background-image: linear-gradient(62.57deg, #00aa30 34.17%, #1e4f36 104.5%);
}

.border-border_color_primary4 {
  border-color: #00aa30;
}

.edit-bg {
  background-image: linear-gradient(
    95deg,
    #00aa30 -8.6%,
    #00aa30 110.45%
  ) !important;
}

.editable-inp:focus {
  outline: #00aa30;
}

.rules-overlay {
  @apply fixed bottom-0 transform-gpu  left-0 right-0 top-0 overflow-hidden flex overflow-y-hidden z-[10000] h-[100dvh] w-dvw items-center justify-center;
}

.rules-bg {
  @apply fixed inset-0 w-full h-full bg-black/10 backdrop-blur-sm;
}

.rule-wrapper {
  @apply relative bg-[#22272a] w-[94%] h-[70%] max-w-[550px] flex justify-start overflow-y-auto flex-col rounded-lg py-4;
}

.close-rules-btn {
  @apply cursor-pointer rounded-full p-1 size-7 active:scale-95 transition-all duration-300;
}

.popUpOpenAnimation1 {
  animation: popUpOpenAnimation1 0.31s ease-in-out;
}

@keyframes popUpOpenAnimation1 {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
