@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nav {
  overflow: hidden;
  padding-bottom: 32.8125px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav .rect {
  height: 63.75px;
  line-height: 63.75px;
  font-size: 14.0625px;
  float: left;
  min-width: 35%;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 2.8125px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 18.75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.32);
  margin: 0 9.375px;
}

.nav .rect div {
  height: 100%;
}

.material-icons-outlined {
  color: #11e311;
  font-size: 30px;
  float: left;
  margin-right: 14.0625px;
}

.amount {
  margin-right: 4.6875px;
  font-size: 18.75px;
  color: #fff;
}

.currency-str {
  font-size: 18.75px;
  color: grey;
}

.deposit {
  background: #11e311 !important;
  color: #000 !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center !important;
  font-size: 18.75px !important;
}

.deposit .material-icons-outlined {
  margin-right: 9.375px;
  font-size: 33.75px;
  color: #000;
}

.page-wrapper {
  padding: 32.8125px 60.9375px;
  position: relative;
  float: left;
  width: calc(100% - 253.125px);
  overflow: hidden;
  margin-left: 253.125px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  overflow: hidden;
}

.half {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 37.5px;
}

.half h2 {
  color: #11e311;
  font-family: Poppins-Bold;
  font-size: 15.9375px;
  height: 5.25rem;
  line-height: 5.25rem;
}

.fields li {
  border-top: 0.9375px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: normal;
}

.fields li .info {
  width: calc(100% - 159.375px);
  padding-left: 14.0625px;
  overflow: hidden;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fields li .locked {
  float: right;
  font-size: 20.625px;
  -webkit-transition: opacity 0.3s;
  color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.3s;
  margin-left: auto;
  margin-right: 14.0625px;
  cursor: pointer;
}

.editable {
  position: relative;
  color: #11e311 !important;
  top: -0.25rem;
}

.editable:before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background: #11e311;
  opacity: 0.3;
  bottom: -0.3125rem;
}

.username {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14.062px;
}

.fields li {
  position: relative;
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  font-size: 14.0625px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.half:last-child {
  padding-left: 37.5px;
  padding-right: 0;
}

.page-title {
  height: 14vw;
  line-height: 14vw;
  padding: 0 6vw;
  font-size: 4.5vw;
  background-color: #111317;
  color: #fff;
  font-weight: 400;
}

.page-title .arrow {
  float: left;
  font-size: 8vw;
  line-height: 14vw;
}

.page-title * {
  vertical-align: middle;
  align-content: center;
}

.page-title .title {
  float: right;
}

.page-title .icon {
  float: right;
  line-height: 14vw;
  font-size: 6vw;
  max-height: 6vw;
  margin-right: 3vw;
  color: #fff;
}

.mb-content {
  padding: 6vw;
  padding-top: 0;
  min-height: calc(100vh - 45vw);
}

.mb-content h2 {
  color: #ffdd55;
  line-height: 20vw;
  font-size: 4.5vw;
  font-weight: 700;
}

.mb-fields {
  margin-bottom: 8.571vw;
}

.mb-fields li {
  font-size: 3.5vw;
  position: relative;
  overflow: hidden;
  height: 14.286vw;
  line-height: 14.286vw;
  border-top: 0.01em solid #393941;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

li .desc {
  width: 27vw;
  height: 100%;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
  padding-left: 1.143vw;
  line-height: initial;
  float: left;
  display: flex;
  align-items: center;
}

.mb-fields li .info {
  padding-left: 2.143vw;
  overflow: hidden;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  align-items: center;
  height: 100%;
}

.mb-fields li span.material-icons.editable {
  color: #ffdd55 !important;
  top: -0.572vw;
  position: relative;
  float: right;
  margin-right: 2.428vw;
  font-size: 4.3vw;
  cursor: pointer;
  height: 100%;
  align-content: center;
}

.mb-fields li span.material-icons.editable::before {
  background: none !important;
}

.mb-fields .edit-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 14.286vw;
  line-height: 14.286vw;
  border-top: 0.01em solid #393941;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.mb-fields input {
  width: calc(100% - 27vw);
  border-radius: 0;
  background-color: #14161b;
  padding-left: 4vw;
  color: #fff;
  border: none;
  outline: none;
  @apply placeholder:text-[#757575] placeholder:font-[300];
}

.mb-fields li:last-child {
  border-bottom: 0.01em solid #393941;
}

.save {
  position: relative;
  height: 13vw;
  line-height: normal;
  border: 0;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5vw;
  padding: 0 4vw;
  border-radius: 2px;
  background: #11e311;
  color: #030303;
  user-select: none;
  transition: 0.2s ease;
}
