<div class="page-wrapper">
    <ul class="payment-methods">
        <li class="info disabled">
            <div class="logo-wrapper">
                <img src="/assets/bank/101,19c7ea0064a724.png">
            </div>
            <div class="payment-name">
                <h4>Skrill</h4>
                <p class="deposit-with">
                    <span>Deposit with</span>
                    <span>Skrill</span>
                </p>
            </div>

            <div class="payment-name">
                <h4>Transaction fee</h4>
                <p class="deposit-with">
                    <span>0%</span>
                </p>
            </div>

            <div class="payment-name">
                <h4>Limit</h4>
                <p class="deposit-with">
                    <span>Min:% </span>
                    <span>10 USD</span>
                </p>
            </div>

            <div class="arrow">
                <span class="material-icons-outlined arrow-right">keyboard_arrow_right</span>
            </div>
        </li>

        <li class="info disabled">
            <div class="logo-wrapper">
                <img src="/assets/bank/36,0b29cacbc8c82f.svg">
            </div>
            <div class="payment-name">
                <h4>Skrill</h4>
                <p class="deposit-with">
                    <span>Deposit with</span>
                    <span>Skrill</span>
                </p>
            </div>

            <div class="payment-name">
                <h4>Transaction fee</h4>
                <p class="deposit-with">
                    <span>0%</span>
                </p>
            </div>

            <div class="payment-name">
                <h4>Limit</h4>
                <p class="deposit-with">
                    <span>Min:% </span>
                    <span>10 USD</span>
                </p>
            </div>

            <div class="arrow">
                <span class="material-icons-outlined arrow-right">keyboard_arrow_right</span>
            </div>
        </li>
    </ul>
</div>