/* .imageMain {
    max-height: 227px !important;
  } */

/* :host   {
  font-size: 10em;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.desk-search:focus {
  border: 0.0714rem solid #999;
  box-shadow: 0 0 0.7143rem rgba(0, 0, 0, 0.05);
  outline: none;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.logos ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.9375em 0.88em;
}

.logos ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.logos ul li img {
  height: 3.5em;
  vertical-align: middle;
}

.see-all {
  width: 12em;
  background-color: #11e311;
  border-radius: 2.0812px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  font-size: 2.4em;

  height: 27px;
  width: 62px;
}

.slot-categories:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #1e2224;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7.8px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  /* margin-left: 1.92em; */
  text-align: left;
  width: 22.5429em;
  font-size: 14.98px;
  color: white;
}

.games-wrapper {
  padding: 0 8.91898px;
  display: flex;
  overflow: auto;
}

.game {
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
  width: calc(100% / 2.5);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 4.99488px;
}

.desktop-see-all {
  background: #1f242b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34.6671px;
  min-width: 88px;
  color: #fff;
  border-radius: 9.75px;
  font-size: 11.375px;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.desktop-games {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 9.75px;
}

.desktop-games li {
  overflow: hidden;
  position: relative;
  border-radius: 26px;
  /* transform: scale(0);
  -webkit-animation: showAnim 250ms forwards;
  animation: showAnim 250ms forwards; */
}

.desktop-games li .bg {
  position: relative;
  padding-top: 80%;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  background-position: center;
}

.slot-hover {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1f242bbf;
  -webkit-transform: translateY(101%);
  transform: translateY(101%);
  -webkit-transition: -webkit-transform 180ms;
  transition: -webkit-transform 180ms;
  transition: transform 180ms;
  transition: transform 180ms, -webkit-transform 180ms;
  z-index: 1;
}

.group:hover .slot-hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 180ms;
  transition: -webkit-transform 180ms;
  transition: transform 180ms;
  transition: transform 180ms, -webkit-transform 180ms;
  z-index: 1;
}

.slot-hover img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}

.star-wrapper {
  position: absolute;
  top: 0.4088rem;
  right: 0;
  height: 33.8px;
  line-height: 33.8px;
  padding: 0 13px;
  color: #b1afa9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.desktop-show-more {
  overflow: hidden;
  margin-top: 8.125px !important;
  width: 138.938px;
  margin: auto;
  font-size: 11.375px;
  background: #00f18c !important;
  gap: 11.375px;
  position: relative;
  min-width: 113.75px;
  height: 42.25px;
  border-radius: 9.75px;
  color: #17233a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24.2671px;
}

.see-more {
  height: 32.82px;
  background-color: #11e311;
  border-radius: 4.99488px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  /* margin-right: 9.98976px; */
  font-size: 11.9877px;
  padding: 7.49232px;
  text-wrap: nowrap;
}

.search-input {
  border: 0;
  border-radius: 0.4rem;
  width: 100%;
  font-size: 10.89px;
  padding-left: 8.1675px;
  padding-right: 12.4459px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  color: #333;
  height: 100%;
  outline: none;
}

.swiper-prev {
  height: 2.7244rem;
  width: 2.7244rem;
  border-radius: 50%;
  background-image: url("https://velobet.win/assets/images/homepage/slider/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(3, 3, 3, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 9;
  transform: rotate(180deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.swiper-next {
  height: 2.7244rem;
  width: 2.7244rem;
  border-radius: 50%;
  background-image: url("https://velobet.win/assets/images/homepage/slider/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(3, 3, 3, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
  z-index: 9;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.desk-pro:after {
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 3.3rem;
  left: 0;
  height: 0.0571rem;
  width: 100%;
  background-color: rgba(112, 112, 112, 0.16);
}

.game-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.725rem;
  background: linear-gradient(
    to top,
    #191f2bf7 34%,
    #191f2bcf 50%,
    transparent
  );
  z-index: -2;
  pointer-events: none;
}

::ng-deep .swiper-button-prev:after {
  @apply opacity-0;
}

::ng-deep .swiper-button-next:after {
  @apply opacity-0;
}

::ng-deep .swiper-pagination-bullet {
  width: 9.36px;
  height: 9.36px;
  border: 2px solid #00ff00; /* green border */
  border-radius: 50%;
  background: transparent;
  opacity: 1; /* override default */
  margin: 0 2px !important;
}

::ng-deep .swiper-pagination {
  bottom: 2px !important;
}

::ng-deep .swiper-pagination-bullet-active {
  background: #00ff00; /* solid green for active */
  border: none;
}

.close {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 39.959px;
  font-size: 34.9642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4e4e4e;
}

.desktop-search {
  width: 100%;
  height: 2.1289rem;
  position: relative;
  margin-bottom: 0.9084rem;
}

.desktop-search input {
  height: 100%;
  width: 100%;
  border: 1px solid #899194;
  border-radius: 0.511rem;
  background: #14171c;
  color: #fff;
  padding-left: 1.1354rem !important;
  font-size: 0.5961rem;
  outline: none;
}

.desktop-search svg {
  position: absolute;
  right: 18.2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 1024px) {
  ::ng-deep .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    bottom: 40px !important;
  }

  ::ng-deep .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    opacity: 1; /* Remove default fading */
    transition: all 0.3s ease;
    border: none;
  }

  ::ng-deep .swiper-pagination-bullet-active {
    width: 36.36px;
    height: 12px;
    background-color: #ffd600; /* Yellow */
    border-radius: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .after-slider {
    @apply mt-[-14.33px];
  }

  .controls {
    @apply p-[17.0625px_26.8125px] rounded-[26px] relative z-[1] mt-[0px] mb-[19.5px];
  }

  .vendor-list {
    @apply max-h-[34.66px] opacity-100 transition-all duration-500 ease-in-out flex justify-center mb-[16.5px] gap-[.875rem];
  }

  .vendor-list img {
    @apply max-h-[20.8px];
  }

  .desktop-categories {
    width: 100%;
    display: flex;
    gap: 8.125px;
    height: 48.5329px;
  }

  .desktop-active {
    background: #11e311 !important;
    color: #0b0707 !important;
  }

  .desktop-category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.1329px;
    flex-grow: 1;
    background: #1f242b;
    border: 1px solid #1f242b;
    color: #e8e8e8;
    height: 100%;
    border-radius: 9.75px;
    padding: 0 17.875px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .desktop-search {
    width: 100%;
    height: 40.625px;
    position: relative;
    margin-bottom: 22px;
  }

  .desktop-search input {
    height: 100%;
    width: 100%;
    border: 1px solid #899194;
    border-radius: 9.75px;
    background: #14171c;
    color: #fff;
    padding-left: 21.6671px !important;
    font-size: 11.375px;
    outline: none;
  }

  .desktop-search svg {
    position: absolute;
    right: 18.2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
