/* .imageMain {
    max-height: 227px !important;
  } */

/* :host   {
  font-size: 10em;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.desk-search:focus {
  border: 0.0714rem solid #999;
  box-shadow: 0 0 0.7143rem rgba(0, 0, 0, 0.05);
  outline: none;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.logos ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.9375em 0.88em;
}

.logos ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.logos ul li img {
  height: 3.5em;
  vertical-align: middle;
}

.see-all {
  width: 12em;
  background-color: #11e311;
  border-radius: 2.0812px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  font-size: 2.4em;

  height: 27px;
  width: 62px;
}

.slot-categories:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #1e2224;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6.80625px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  /* margin-left: 0.5431rem; */
  text-align: left;
  width: 6.3985rem;
  font-size: 0.8179rem;
  color: white;
}

.games-wrapper {
  padding: 0 8.91898px;
  display: flex;
  overflow: auto;
}

.game {
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
  width: calc(100% / 2.5);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  /* margin-right: 4.99488px; */
  margin-right: 0.2723rem;
}

.desktop-see-all {
  background: #1f242b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34.6671px;
  min-width: 88px;
  color: #fff;
  border-radius: 9.75px;
  font-size: 11.375px;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.desktop-games {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 9.75px;
}

.desktop-games li {
  overflow: hidden;
  position: relative;
  border-radius: 26px;
  /* transform: scale(0);
  -webkit-animation: showAnim 250ms forwards;
  animation: showAnim 250ms forwards; */
}

.desktop-games li .bg {
  position: relative;
  padding-top: 80%;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  background-position: center;
}

.slot-hover {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1f242bbf;
  -webkit-transform: translateY(101%);
  transform: translateY(101%);
  -webkit-transition: -webkit-transform 180ms;
  transition: -webkit-transform 180ms;
  transition: transform 180ms;
  transition: transform 180ms, -webkit-transform 180ms;
  z-index: 1;
}

.group:hover .slot-hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 180ms;
  transition: -webkit-transform 180ms;
  transition: transform 180ms;
  transition: transform 180ms, -webkit-transform 180ms;
  z-index: 1;
}

.slot-hover img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}

.star-wrapper {
  position: absolute;
  top: 0.4088rem;
  right: 0;
  height: 33.8px;
  line-height: 33.8px;
  padding: 0 13px;
  color: #b1afa9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.desktop-show-more {
  overflow: hidden;
  margin-top: 8.125px !important;
  width: 138.938px;
  margin: auto;
  font-size: 11.375px;
  background: #00f18c !important;
  gap: 11.375px;
  position: relative;
  min-width: 113.75px;
  height: 42.25px;
  border-radius: 9.75px;
  color: #17233a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24.2671px;
}

.see-more {
  /* height: 0.9736rem; */
  height: 28.61px;
  background-color: #11e311;
  border-radius: 0.2723rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  /* margin-right: 9.98976px; */
  font-size: 0.6537rem;
  padding: 0.4087rem;
  text-wrap: nowrap;
}

.search-input {
  border: 0;
  border-radius: 0.4rem;
  width: 100%;
  font-size: 10.89px;
  padding-left: 8.1675px;
  padding-right: 12.4459px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  color: #333;
  height: 100%;
  outline: none;
}

.swiper-prev {
  height: 2.7244rem;
  width: 2.7244rem;
  border-radius: 50%;
  background-image: url("https://velobet.win/assets/images/homepage/slider/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(3, 3, 3, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 9;
  transform: rotate(180deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.swiper-next {
  height: 2.7244rem;
  width: 2.7244rem;
  border-radius: 50%;
  background-image: url("https://velobet.win/assets/images/homepage/slider/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(3, 3, 3, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
  z-index: 9;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.desk-pro:after {
  margin: 0 auto;
  position: absolute;
  content: "";
  top: 3.3rem;
  left: 0;
  height: 0.0571rem;
  width: 100%;
  background-color: rgba(112, 112, 112, 0.16);
}

.game-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.725rem;
  background: linear-gradient(
    to top,
    #191f2bf7 34%,
    #191f2bcf 50%,
    transparent
  );
  z-index: -2;
  pointer-events: none;
}

::ng-deep .swiper-button-prev:after {
  @apply opacity-0;
}

::ng-deep .swiper-button-next:after {
  @apply opacity-0;
}

::ng-deep .swiper-pagination-bullet {
  width: 9.36px;
  height: 9.36px;
  border: 2px solid #00ff00; /* green border */
  border-radius: 50%;
  background: transparent;
  opacity: 1; /* override default */
  margin: 0 2px !important;
}

::ng-deep .swiper-pagination {
  bottom: 2px !important;
}

::ng-deep .swiper-pagination-bullet-active {
  background: #00ff00; /* solid green for active */
  border: none;
}

.close {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 39.959px;
  font-size: 34.9642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4e4e4e;
}

.desktop-search {
  width: 100%;
  height: 2.1289rem;
  position: relative;
  margin-bottom: 0.9084rem;
}

.desktop-search input {
  height: 100%;
  width: 100%;
  border: 1px solid #899194;
  border-radius: 0.511rem;
  background: #14171c;
  color: #fff;
  padding-left: 1.1354rem !important;
  font-size: 0.5961rem;
  outline: none;
}

.desktop-search svg {
  position: absolute;
  right: 18.2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.see-more span {
  font-weight: 500 !important;
}

@media screen and (max-width: 375px) {
  .category-wrapper {
    max-height: 173.53px;
    padding: 7.25px 6.5625px;
    gap: 6.80625px;
  }

  .category-wrapper li {
    height: 48.94px;
    width: 83.19px;
  }

  .mob-view {
    padding-top: 3.5px;
  }

  .heading {
    padding: 6.80625px 0;
  }

  /* .heading span {
    margin-right: 2.178px;
  } */

  .heading .see-more {
    position: relative;
    bottom: 1px;
  }

  .games-wrapper {
    margin-top: -1px;
  }

  .see-more span {
    font-size: 10.4544px;
    font-weight: 500;
    position: relative;
    top: 1px;
  }
}

@media screen and (min-width: 390px) {
  #mob-img {
    min-height: 206.69px;
  }

  .wrap {
    margin: 4.53024px;
    padding: 4.53024px 0;
    border-radius: 1.8876px;
  }

  .mob-view {
    padding: 0;
  }

  .wrap > div:first-child > ul {
    gap: 7.0785px;
    padding: 6.825px;
    border-radius: 5.6628px;
  }

  .tab-menu li > div {
    font-size: 11.3256px;
  }

  .tab-menu li {
    min-width: 59.4594px;
    padding: 4.53024px 11.3256px;
  }

  .wrap > div:first-child > ul li {
    padding: 13.65px;
  }

  .wrap > div:first-child > ul li img {
    min-height: 23.595px;
  }

  .search-icon {
    height: 52.84px;
    min-width: 46.41px;
  }

  .slot-categories {
    height: 48.13px;
  }

  .other-filters {
    margin-top: 7.5504px;
  }

  .heading {
    margin: 0 9.06048px;
    padding: 7.0785px 0;
  }

  .heading h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    text-align: left;
    width: 22.5429em;
    font-size: 13.5907px;
    color: white;
    position: relative;
    top: 1px;
  }

  /* .see-more {
    min-height: 29.73px;
    border-radius: 4.53024px;
    font-size: 10.8726px;
    padding: 6.79536px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .see-more {
    height: 29.73px;
    border-radius: 4.80902px;
    padding: 0px;
    min-width: 59.25px;
  }

  .see-more span {
    font-size: 10.8726px;
    font-weight: 500;
    position: relative;
    top: 1px;
  }

  .games-wrapper {
    padding: 0 8.08931px;
    padding-top: 1px;
  }

  .games-wrapper > .game:first-child {
    position: relative;
    left: 1px;
  }

  .game {
    margin-right: 4.33024px;
  }

  .game-tabs {
    padding: 0 4.53px !important;
  }

  /* .game img {
    width: 154.89px;
    height: 125.97px;
  } */
}

@media screen and (min-width: 414px) {
  #mob-img {
    min-height: 218.91px;
  }

  .wrap {
    margin: 4.80902px;
  }

  .wrap > div:first-child > ul {
    gap: 7.5141px;
    padding: 7.425px;
  }

  .tab-menu li > div {
    font-size: 12.0226px;
  }

  .tab-menu li {
    min-width: 63.1184px;
    padding: 4.80902px 12.0226px;
  }

  .wrap > div:first-child > ul li {
    padding: 14.49px;
  }

  .wrap > div:first-child > ul li img {
    min-height: 25.047px;
  }

  .search-icon {
    height: 56.1053px;
    min-width: 49.27px;
  }

  .slot-categories {
    height: 51.0959px;
  }

  .other-filters {
    margin-top: 8.01504px;
  }

  .heading {
    margin: 0 9.61805px;
    padding: 7.5141px 0;
  }

  .heading h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    text-align: left;
    width: 22.5429em;
    font-size: 14.4271px;
    color: white;
    position: relative;
    top: 1px;
  }

  .see-more {
    height: 31.58px;
    border-radius: 4.80902px;
    font-size: 11.5417px;
    padding: 0px;
    min-width: 62.91px;
  }

  .see-more span {
    font-size: 11.5417px;
    font-weight: 500;
    position: relative;
    top: 1px;
  }

  .games-wrapper {
    padding: 0 8.58711px;
  }

  .game {
    margin-right: 4.80902px;
  }

  .game img {
    min-width: 154.89px;
    height: 125.97px;
  }

  .mob-view > div {
    padding: 4.809px 0;
  }

  /* .category-wrapper {
    padding: 7.245px !important;
  } */

  .slot-categories {
    margin-top: 1px;
  }

  .game-tabs {
    padding: 0 4.80902px;
  }

  .games-wrapper {
    margin-top: 0px;
  }
}

@media screen and (min-width: 430px) {
  #mob-img {
    min-height: 227.89px;
  }

  .category-wrapper {
    padding: 7.525px;
    gap: 7.8052px;
  }

  .wrap {
    margin: 4.99488px;
  }

  #cate-img {
    max-height: 26.015px;
    height: 26.015px;
  }

  .cat-li {
    padding: 15.015px !important;
  }

  .game-tabs > div {
    margin-top: 12.4872px;
    padding-left: 2.2px;
  }

  .other-filters {
    margin-top: 8.3248px;
  }

  .slot-categories {
    height: 53.06px;
  }

  .search-icon {
    width: 58.2736px;
    height: 58.2736px;
  }

  .other-filters ul li {
    min-width: 65.5578px;
    padding: 4.99488px 12.4872px;
    font-size: 12.4872px;
  }

  .other-filters ul {
    margin-top: 1px;
  }

  .other-filters ul li > div {
    font-size: 12.4872px !important;
  }

  .heading {
    margin: 0 10px;
    font-size: 14.9846px;
    padding: 7.8045px 0;
  }

  .heading h1 {
    font-size: 14.9846px;
    position: relative;
    left: -2px;
    top: -1px;
  }

  .game {
    margin-right: 3.99488px;
  }

  .games-wrapper {
    padding: 0 8.08931px;
    padding-top: 1px;
  }

  .game-tabs {
    padding: 0 4.99488px;
  }

  .see-more {
    height: 32.82px;
    border-radius: 4.99488px;
    font-size: 11.9877px;
    padding: 7.49232px;
    line-height: 1;
    font-weight: 500;
    width: 65.33px;
  }

  .see-more span {
    font-weight: 500;
  }

  .wrap > div:first-child > ul {
    min-height: 198.91px;
    gap: 7.8045px;
    padding: 7.525px;
  }

  .wrap > div:first-child > ul li {
    min-height: 56.09px;
  }

  .games-wrapper > .game:first-child {
    position: relative;
    left: 0px;
  }

  .game img {
    height: 130.84px;
  }
}

@media screen and (min-width: 768px) {
  .forMedia {
    max-height: 407.03px;
  }

  #mob-img {
    min-height: 407.03px;
  }

  .wrap {
    margin: 8.92109px;
    padding: 8.92109px 0;
    border-radius: 3.71712px;
  }

  .mob-view > div {
    padding: 8.92109px 0;
  }

  .mob-view {
    padding: 0;
  }

  .wrap > div:first-child > ul {
    gap: 13.9392px;
    padding: 13.44px !important;
    border-radius: 11.1514px;
  }

  .cat-li {
    padding: 26.88px !important;
    border-radius: 11.1514px;
  }

  #cate-img {
    max-height: 46.464px;
    height: 46.464px;
  }

  .tab-menu li > div {
    font-size: 22.3027px;
  }

  .tab-menu li {
    min-width: 59.4594px;
    padding: 4.53024px 11.3256px;
  }

  .other-filters ul li > div {
    font-size: 22.3027px !important;
  }

  .other-filters ul li {
    min-width: 117.089px;
    padding: 8.92109px 22.3027px;
  }

  .wrap > div:first-child > ul li {
    padding: 13.65px;
  }

  .wrap > div:first-child > ul li img {
    min-height: 23.595px;
  }

  .search-icon {
    height: 104.08px;
    min-width: 91.39px;
  }

  .slot-categories {
    height: 94.78px;
  }

  .other-filters {
    margin-top: 14.8685px;
  }

  .heading {
    margin: 0 17.8422px;
    padding: 13.9392px 0;
  }

  .heading h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    text-align: left;
    width: 22.5429em;
    font-size: 26.7633px;
    color: white;
    position: relative;
    left: 0;
    top: 0;
  }

  .heading h1 span {
    margin-right: 4.461px;
  }

  .see-more {
    min-height: 58.61px;
    border-radius: 9.92109px;
    font-size: 21.4106px;
    padding: 13.3816px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game-tabs {
    padding: 0 8.921px;
  }

  .game-tabs > div {
    margin-top: 22.3027px;
    border-radius: 3.71712px;
  }

  .games-wrapper {
    padding: 0 15.93px;
  }

  .game {
    margin-right: 8.92109px;
  }
}

@media screen and (min-width: 820px) {
  .forMedia {
    min-height: 240px;
  }

  #mob-img {
    min-height: 240px;
  }

  .controls {
    padding: 11.813px 18.563px;
  }

  .controls .vendor-list {
    gap: 3.375px;
    margin-bottom: 11.25px;
    height: 24.0003px;
  }

  .vendor-list img {
    max-height: 14.4px;
  }

  .desktop-search {
    max-height: 28.13px;
  }

  .desktop-category-item {
    max-height: 35.59px;
    padding: 0 12.375px;
    font-size: 8.3997px;
  }
}

@media (min-width: 1024px) {
  .after-slider {
    max-width: 933.333px;
    margin-top: -27.333px;
    padding: 0 12.5px;
  }

  .desk-swiper {
    min-height: 266.66px;
  }

  .controls {
    padding: 13.125px 20.625px;
    margin: 15px 0;
    border-radius: 20px;
  }

  .vendor-list img {
    max-height: 16px;
  }

  ::ng-deep .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    bottom: 40px !important;
  }

  ::ng-deep .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    opacity: 1; /* Remove default fading */
    transition: all 0.3s ease;
    border: none;
  }

  ::ng-deep .swiper-pagination-bullet-active {
    width: 36.36px;
    height: 12px;
    background-color: #ffd600; /* Yellow */
    border-radius: 20px;
  }

  .desktop-category-item {
    max-height: 35.59px;
    padding: 0 12.375px;
    font-size: 9.333px;
  }

  .desktop-search {
    max-height: 31.25px;
  }
}

@media screen and (min-width: 1440px) {
  .after-slider {
    @apply mt-[-14.33px];
  }

  .controls {
    @apply p-[17.0625px_26.8125px] rounded-[26px] relative z-[1] mt-[0px] mb-[19.5px];
  }

  .vendor-list {
    @apply max-h-[34.66px] opacity-100 transition-all duration-500 ease-in-out flex justify-center mb-[16.5px] gap-[.875rem];
  }

  .vendor-list img {
    @apply max-h-[20.8px];
  }

  .desktop-categories {
    width: 100%;
    display: flex;
    gap: 8.125px;
    height: 48.5329px;
  }

  .desktop-active {
    background: #11e311 !important;
    color: #0b0707 !important;
  }

  .desktop-category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.1329px;
    flex-grow: 1;
    background: #1f242b;
    border: 1px solid #1f242b;
    color: #e8e8e8;
    height: 100%;
    border-radius: 9.75px;
    padding: 0 17.875px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .desktop-search {
    width: 100%;
    height: 40.625px;
    position: relative;
    margin-bottom: 22px;
  }

  .desktop-search input {
    height: 100%;
    width: 100%;
    border: 1px solid #899194;
    border-radius: 9.75px;
    background: #14171c;
    color: #fff;
    padding-left: 21.6671px !important;
    font-size: 11.375px;
    outline: none;
  }

  .desktop-search svg {
    position: absolute;
    right: 18.2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
