<app-header></app-header>
<div class="swiper mySwiper  max-w-[calc(100vw)] [375px]:max-h-[227px]
 lg:mt-2 lg:rounded-md">
    <div class="swiper-wrapper forMedia max-h-[227px]">


        <div class="swiper-slide h-full" *ngFor=" let img of swiperImages">
            <img [src]="img" alt="slide" class="w-full max-h-[227px] imageMain object-cover " />
        </div>




    </div>
    <div class="swiper-pagination"></div>
</div>

<div class="p-[4.99px] bg-[#13161B]  texy-[3.5vw]">
    <div class="logos ">
        <ul>
            <li class="vendor" company="109"><img src="/assets/images/Playn Go.svg" alt=""></li>
            <li class="vendor" company="71"><img src="/assets/images/Hacksaw Gaming.svg" alt=""></li>
            <li class="see">
                <div class="see-all">
                    <p text_key="CASINO__SEE_ALL "
                        class="text-[#000] text-[12.48px] !leading-[27PX] vertical-align-middle">See All</p>
                </div>
            </li>
        </ul>
    </div>


</div>

<div class="p-[4.99px] bg-[#101317]">
    <div class="mt-[0] overflow-hidden rounded-[.4rem]">
        <div class=" ">
            <div class="h-[53px] w-full relative flex items-center slot-categories">
                <div class="w-[51.17px] h-[58.27px] flex justify-center items-center">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.16927 14.4999C11.6671 14.4999 14.5026 11.6644 14.5026 8.16659C14.5026 4.66878 11.6671 1.83325 8.16927 1.83325C4.67147 1.83325 1.83594 4.66878 1.83594 8.16659C1.83594 11.6644 4.67147 14.4999 8.16927 14.4999Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M15.1693 15.1666L13.8359 13.8333" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <ul class="flex w-full items-center  overflow-x-auto overflow-y-hidden">
                    <li
                        class="w-[65.55px] text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                        <div class="text-[12.48px] text-white ">All</div>
                    </li>
                    <li
                        class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                        <div class="text-[12.48px] text-white ">Popular Slots</div>
                    </li>

                    <li
                        class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                        <div class="text-[12.48px] text-white ">Drops & Wins</div>
                    </li>
                    <li
                        class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                        <div class="text-[12.48px] text-white ">Bonus Buy</div>
                    </li>
                    <li
                        class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                        <div class="text-[12.48px] text-white ">Megaways</div>
                    </li>
                    <li
                        class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                        <div class="text-[12.48px] text-white ">New Games</div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div class="bg-[#13161B] overflow-hidden px-[4.99px]">
  <div class="mt-[2.4rem]">
     <div class="heading mx-[9.98px] ">
        <h1>    <span class="text-[#11e311] mr-[.48rem]">Popular  </span> Slots</h1>
          <div class="see-all !h-[32px]">
                    <p text_key="CASINO__SEE_ALL "
                        class="text-[#000] text-[12.48px] !leading-[27PX] vertical-align-middle">See All</p>
                </div>
     </div>
  </div>
</div>