<app-header></app-header>
<div class="w-full lg:hidden">


    <div class="p-[4.99px] bg-[#13161B]  texy-[3.5vw]">
        <div class="logos ">
            <ul>
                <li class="vendor" company="109"><img src="/assets/images/Playn Go.svg" alt=""></li>
                <li class="vendor" company="71"><img src="/assets/images/Hacksaw Gaming.svg" alt=""></li>
                <li class="see">
                    <div class="see-all">
                        <p text_key="CASINO__SEE_ALL "
                            class="text-[#000] text-[12.48px] !leading-[27PX] vertical-align-middle">See All</p>
                    </div>
                </li>
            </ul>
        </div>


    </div>

    <div class="p-[4.99px] bg-[#101317]">
        <div class="mt-[0] overflow-hidden rounded-[.4rem]">
            <div class=" ">
                <div class="h-[53px] w-full relative flex items-center slot-categories">
                    <div class="w-[51.17px] h-[58.27px] flex justify-center items-center">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.16927 14.4999C11.6671 14.4999 14.5026 11.6644 14.5026 8.16659C14.5026 4.66878 11.6671 1.83325 8.16927 1.83325C4.67147 1.83325 1.83594 4.66878 1.83594 8.16659C1.83594 11.6644 4.67147 14.4999 8.16927 14.4999Z"
                                stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M15.1693 15.1666L13.8359 13.8333" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <ul class="flex w-full items-center  overflow-x-auto overflow-y-hidden">
                        <li
                            class="w-[65.55px] text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                            <div class="text-[12.48px] text-white ">All</div>
                        </li>
                        <li
                            class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                            <div class="text-[12.48px] text-white ">Popular Slots</div>
                        </li>

                        <li
                            class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                            <div class="text-[12.48px] text-white ">Drops & Wins</div>
                        </li>
                        <li
                            class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                            <div class="text-[12.48px] text-white ">Bonus Buy</div>
                        </li>
                        <li
                            class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                            <div class="text-[12.48px] text-white ">Megaways</div>
                        </li>
                        <li
                            class="text-center relative shrink-0 p-[4.99px_12.48px] cursor-pointer border-b border-transparent">
                            <div class="text-[12.48px] text-white ">New Games</div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="bg-[#13161B] overflow-hidden px-[4.99px]">
        <div class="mt-[2.4rem]">
            <div class="heading mx-[9.98px] ">
                <h1> <span class="text-[#11e311] mr-[.48rem]">Popular </span> Slots</h1>
                <div class="see-all !h-[32px]">
                    <p text_key="CASINO__SEE_ALL "
                        class="text-[#000] text-[12.48px] !leading-[27PX] vertical-align-middle">
                        See All</p>
                </div>
            </div>
            <div class="games-wrapper">
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/119,226731d95e6cb7.png" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/121,22c1dcfafe8871.png" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
            </div>
        </div>


        <div class="mt-[2.4rem]">
            <div class="heading mx-[9.98px] ">
                <h1> <span class="text-[#11e311] mr-[.48rem]">Popular </span> Slots</h1>
                <div class="see-all !h-[32px]">
                    <p text_key="CASINO__SEE_ALL "
                        class="text-[#000] text-[12.48px] !leading-[27PX] vertical-align-middle">
                        See
                        All</p>
                </div>
            </div>
            <div class="games-wrapper">
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
                <div class="game">
                    <img src="/assets/images/24,077b1a7b66f435.gif" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="payment-methods mt-[28.0962px]">
        <ul>
            <li>
                <a><img src="https://static.inpcdn.com/91,1721e6ed3a91ec.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/91,1721e9d8403b01.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/91,1721eab4566743.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc640ec4f266.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/89,1721f4614a7b6f.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc3defba5b19.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6636ea368f.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6a3c719800.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc69488eed1c.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6d119b6f53.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/89,1721ffa2f02a8f.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6ed23ee0b9.webp"></a>
            </li>
        </ul>
        <ul class="cryptos">
            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc5bb320e069.webp"></a>
            </li>

            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc621393e1e8.webp"></a>
            </li>

            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc6173a52ca7.webp"></a>
            </li>

            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc6067508a33.webp"></a>
            </li>
        </ul>
    </div>

    <div class="bg-black pt-6 min-h-[700px]">
        <div class="license">
            <a><img src="/assets/images/guru.png" alt="guru" width="60"></a>
            <div class="gcb flex justify-center">
                <a>
                    <img src="/assets/images/gcb.png" height="85" alt="gcb">
                </a>
            </div>
        </div>
        <div class="f-terms mt-4 text-white">
            <span class="leading-[1]">
                <p class="h-[90px]">
                    m.velobet.win is operated by Santeda International B.V., a company incorporated under the laws
                    of
                    Curaçao
                    with Company Number 151296 and is licensed by the Curaçao Gaming Control Board to offer games of
                    chance
                    under license number OGL/2024/1798/1048 in accordance with the National Ordinance on Offshore
                    Games
                    of Hazard (Landsverordening buitengaatse hazardspelen, P.B. 1993, no. 63) (NOOGH).
                </p>

                <p class="h-[45px]">
                    Santeda International Limited, with registered office at Poreias, 2 3011, Limassol, Cyprus, acts
                    as
                    a
                    payment agent of the license holder and parent company - Santeda International B.V.
                </p>

                <p class="h-[90px]">
                    In order to register for this Website, the user is required to accept the
                    <a href="#">Terms and Conditions</a>. In the event the
                    <a href="#">Terms and Conditions</a> are updated, existing users may choose to discontinue using
                    the
                    products and services before the said update shall become effective, which is a minimum of two
                    weeks
                    after it has been announced.
                </p>
            </span>
        </div>

    </div>
</div>

<div class="max-lg:hidden max-w-[1200px] mx-auto">
    <div class="swiper mySwiper  max-w-[calc(100vw)] [375px]:max-h-[346px]
    lg:mt-2 lg:rounded-md">
        <div class="swiper-wrapper forMedia max-h-[346px]">
            <div class="swiper-slide h-full" *ngFor=" let img of largeSwiperImages">
                <img [src]="img" alt="slide" class="w-full max-h-[346px] imageMain object-cover " />
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="overflow-hidden w-full -mt[17.33px]">
        <div class="bg-[#14171c] p-[17.0625px_26.8125px] rounded-[26px] relative z-[1] mt-[0px] mb-[19.5px]">
            <div class="flex justify-center mb-[19.5px] gap-[.875rem]">
                <div class="h-[34.6671px] flex gap-[4.875px] grow-[1] w-full">
                    <div class="rounded-[9.75px] flex justify-center items-center cursor-pointer h-full w-full">
                        <img class="max-h-[20.8px]" src="/assets/images/Playn Go.svg" alt="">
                    </div>
                    <div class="rounded-[9.75px] flex justify-center items-center cursor-pointer h-full w-full">
                        <img class="max-h-[20.8px]" src="/assets/images/Hacksaw Gaming.svg" alt="">
                    </div>
                    <div class="see-all" text_key="CASINO__SEE_ALL" bis_skin_checked="1">See All</div>
                </div>
            </div>

            <div class="flex flex-col items-center gap-[4.875px]">
                <div class="search">
                    <input type="text" name="" id="" placeholder="Search games">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.6333 17.6C14.4809 17.6 17.6 14.4809 17.6 10.6333C17.6 6.78571 14.4809 3.66663 10.6333 3.66663C6.78571 3.66663 3.66663 6.78571 3.66663 10.6333C3.66663 14.4809 6.78571 17.6 10.6333 17.6Z"
                            stroke="#899194" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18.3333 18.3332L16.8666 16.8666" stroke="#899194" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="categories">
                <div class="category-item active">All</div>
                <div class="category-item">Popular Slots</div>
                <div class="category-item">Drops & Wins</div>
                <div class="category-item">Bonus Buy</div>
                <div class="category-item">Megaways</div>
                <div class="category-item">New Games</div>
            </div>
        </div>

         <div>
             <ul>
                
             </ul>
         </div>
    </div>
</div>