
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.page-title {
  height: 14vw;
  line-height: 14vw;
  padding: 0 6vw;
  font-size: 4.5vw;
  background-color: #111317;
  color: #fff;
  font-weight: 400;
}

.page-title .arrow {
  float: left;
  font-size: 8vw;
  line-height: 14vw;
}

.page-title * {
  vertical-align: middle;
  align-content: center;
}

.page-title .title {
  float: right;
}

.page-title .icon {
  float: right;
  line-height: 14vw;
  font-size: 6vw;
  max-height: 6vw;
  margin-right: 3vw;
  color: #fff;
}

.content {
  padding: 1vw 6vw 4vw 6vw;
  min-height: calc(100vh - 45vw);
}

.content form {
  padding-top: 7vw;
  font-size: 3.5vw;
}

.content form input {
  width: 100%;
  height: 40.0752px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background-color: #151414;
  padding-left: 16.0301px;
  border: 1px solid #242833;
  font-size: 14.0263px;
  position: relative;
  margin-top: 20.0376px;
  outline: none;
  border-radius: 10.0188px;
  @apply placeholder:text-[#A7A7A7] placeholder:text-[15px] placeholder:font-[400];
}

.save {
  position: relative;
  border: 0;
  width: 100%;
  outline: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 4.5vw;
  padding: 0 4vw;
  background: #11e311;
  color: #030303;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border-radius: 10.0188px;
}

.disabled {
  opacity: 0.6;
}

.content form .btn {
  line-height: 10vw;
}

.btn {
  height: 10vw;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 375px) {
  .content form input {
    width: 100%;
    height: 36.3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #151414;
    padding-left: 16.0301px;
    border: 1px solid #242833;
    font-size: 14.0263px;
    position: relative;
    margin-top: 18.15px;
    border-radius: 10.0188px;
    @apply placeholder:text-[#A7A7A7] placeholder:text-[14px] placeholder:font-[400];
  }
}

@media (min-width: 376px) and (max-width: 390px) {
  .content form input {
    width: 100%;
    height: 37.75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #151414;
    padding-left: 16.0301px;
    border: 1px solid #242833;
    font-size: 14.0263px;
    position: relative;
    margin-top: 18.87px;
    border-radius: 10.0188px;
    @apply placeholder:text-[#A7A7A7] placeholder:text-[14px] placeholder:font-[400];
  }
}

@media (min-width: 415px) and (max-width: 430px) {
  .content form input {
    width: 100%;
    height: 41.62px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #151414;
    padding-left: 16.0301px;
    border: 1px solid #242833;
    font-size: 14.0263px;
    position: relative;
    margin-top: 20.812px;
    border-radius: 10.0188px;
    @apply placeholder:text-[#A7A7A7] placeholder:text-[16px] placeholder:font-[400];
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .content form input {
    width: 100%;
    height: 74.34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #151414;
    padding-left: 29.73px;
    border: 1px solid #242833;
    font-size: 14.0263px;
    position: relative;
    margin-top: 37.1712px;
    font-size: 26.0198px;
    border-radius: 17.0188px;
    @apply placeholder:text-[#A7A7A7] placeholder:text-[28px] placeholder:font-[400];
  }

  .save {
    border-radius: 17.0188px;
  }
}
