<div class="bg-[#14161B] roboto-medium [@media(min-width:769px)]:!hidden roboto-medium">
    <div class="page-title">
        <a class="material-icons arrow" (click)="goBack()">arrow_back</a>
        <span class="title">Change Password</span>
        <span class="material-icons icon">lock</span>
    </div>

    <div class="content">
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
            <div class="relative">
                <input [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword" name="currPass"
                    placeholder="Old Password" class="pr-10">
                <span class="absolute right-3 top-[49%] opacity-[0.7] cursor-pointer text-white"
                    (click)="togglePassword('old')">
                    <i [ngClass]="showOldPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                </span>
            </div>
            <div class="err-text text-red-500 text-sm mt-1 pl-[6px]"
                *ngIf="changePassword.get('oldPassword')?.invalid && changePassword.get('oldPassword')?.touched">
                Old password is required
            </div>

            <div class="relative">
                <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" name="newPass"
                    placeholder="New Password" class="pr-10">
                <span class="absolute right-3 top-[49%] opacity-[0.7] cursor-pointer text-white"
                    (click)="togglePassword('new')">
                    <i [ngClass]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                </span>
            </div>
            <div class="err-text text-red-500 text-sm mt-1 pl-[6px]"
                *ngIf="changePassword.get('newPassword')?.invalid && changePassword.get('newPassword')?.touched">
                New password is required
            </div>

            <div class="relative">
                <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                    name="confPass" placeholder="Confirm Password" (input)="checkMatchPassword()" class="pr-10">
                <span class="absolute right-3 top-[49%] opacity-[0.7] cursor-pointer text-white"
                    (click)="togglePassword('confirm')">
                    <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                </span>
            </div>
            <div class="err-text text-red-500 text-sm mt-1 pl-[6px]" *ngIf="confirmPasswordMatch">
                New Password and Confirm Password do not match.
            </div>
            <div class="err-text text-red-500 text-sm mt-1 pl-[6px]"
                *ngIf="changePassword.get('confirmPassword')?.invalid && changePassword.get('confirmPassword')?.touched">
                Confirm password is required
            </div>

            <button type="submit" class="btn save mt-[20.812px]"
                [disabled]="changePassword.invalid || confirmPasswordMatch"
                [ngClass]="{'disabled':changePassword.invalid || confirmPasswordMatch}">
                Save
            </button>
        </form>
    </div>
</div>