<div class="bg-[#14161B] roboto-medium [@media(min-width:769px)]:!hidden roboto-medium">
    <div class="page-title">
        <a class="material-icons arrow" (click)="goBack()">arrow_back</a>
        <span class="title">Change Password</span>
        <span class="material-icons icon">lock</span>
    </div>

    <div class="content">
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
            <input type="password" formControlName="oldPassword" name="currPass" placeholder="Old Password">
            <input type="password" formControlName="newPassword" name="newPass" placeholder="New Password">
            <input type="password" formControlName="confirmPassword" name="confPass" placeholder="Confirm Password">
            <div class="err-text" *ngIf="changePassword.errors?.['passwordMismatch'] && changePassword.touched">
                New Password and Confirm Password do not match.        </div>
            <button type="submit" class="btn save disabled">Save</button>
            <div class="err-text"></div>
        </form>
    </div>
</div>