<div class="bg-[#14161B] roboto-medium [@media(min-width:769px)]:!hidden roboto-medium">
    <div class="page-title">
        <a class="material-icons arrow" (click)="goBack()">arrow_back</a>
        <span class="title">Change Password</span>
        <span class="material-icons icon">lock</span>
    </div>

    <div class="content ">
        <form>
            <input type="password" name="currPass" placeholder="Old Password">
            <input type="password" name="newPass" placeholder="New Password">
            <input type="password" name="confPass" placeholder="Confirm Password">
            <button type="submit" class="btn save disabled">Save</button>
            <div class="err-text"></div>
        </form>
    </div>
</div>