
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semiBold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}






/* SE mobile Screen */

@media(min-width:320px) and (max-width:376px) {
    .hero-section {
        background: url(/assets/images/affliate-page/mobile-bg.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100%;
        margin-top: -123.25px !important;
        background-color: #030303;
        height: 63.3125rem;
        padding-bottom: 0%;
    }

    .top-content {
        width: 100%;
        padding: 0 33px;
        box-sizing: border-box;
        margin-top: 264px !important;
        margin-left: 0%;
    }

    .middle {
        padding: 0%;
        margin: 0%;
    }

    .heading {
        font-size: 38px !important;
        line-height: 53px !important;
        font-weight: 700 !important;
    }

    .mbl-hiding {
        display: none;
    }

    .hero-desc {
        font-size: 14px !important;
        color: #fff;
        margin-top: 26.8672px !important;
        width: 185.17px !important;
        line-height: 23px !important;
        font-weight: 600;
        text-align: start;
    }

    .hero-btn {
      color: #030303;
        margin-top: 47.3328px !important;
        width: 142.63px !important;
        height: 47px !important;
        border-radius: 14.0672px;
        display: flex;
        font-size: 17px;
        font-weight: 700;
        padding-left: 16.56px;
        padding-right: 16.56px;
    }

    .coin-1 {
        position: absolute;
        left: -31px;
        bottom: 867px;
        transform: translateY(80%);
        transform: rotate(12deg);
    }
    .title{
        font-size: 38px !important;
        width: 256.72px !important;
        text-transform: uppercase;
    }

    .comission-section {
        margin-top: -34px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 3.3333rem;
        position: relative;
        overflow: visible;
        padding-top: 0%;
    }

    .wraper {
        padding: 0 32.8041px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 42.25px;
    }

   

    .title-mbl {
        padding: 0 !important;
        /* width: 100% !important; */
        margin-bottom: 2rem;
        position: relative;
        text-align: left;
        font-size: 38px !important;
        font-weight: 700;
        color: white !important;
        display: block;
        margin-left: 33px;

    }

    .top-middle {
        margin-left: 0%;
    }

    .com-txt {
        font-size: 17px;
        color: #fff;
        line-height: 23px;
        text-align: center;
        width: 100%;
        margin-top: 5px;
        font-weight: 500 !important;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        /* gap: 0.5667rem; */
        padding: 13px;
        row-gap: 11px !important;
        column-gap: 6px !important;
        z-index: 10 !important;
        position: relative;
        z-index: 5;
    }

    .card {
        box-sizing: border-box;
        cursor: pointer;
        padding: 2rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 112.2px;
        width: 151.53px;
        border-radius: 22px;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e444f), to(#262a30));
        background: linear-gradient(180deg, #3e444f 0, #262a30 100%);
        position: relative;
        transition: .5s;
    }

    .card-img {
       margin-top: 15.0164px;
        height: 24.52px !important;
        width: 24.52px !important;
    }

    .card-title {
        display: none;
    }

    .top-row {
        display: none;
    }

    .coin-shadow {
        bottom: 7em;
        left: 0;
        position: absolute;
        -webkit-transform: translateY(25rem);
        transform: translateY(25rem);
        width: 100%;
        /* z-index: -1; */
    }

    .black-coin {
        bottom: 75px;
        left: 0;
        position: absolute;
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        z-index: 2;
    }

    .coin {
        display: none;
    }

    .top {
        margin-top: 28.25px;
        box-sizing: border-box;
        position: relative;
        padding-right: 8px;
    }

    .title-test {
        width: 553.42px !important;
        margin-left: auto;
        margin-right: auto;
        font-size: 38px;
        text-align: center;
        font-weight: 700;
        text-transform: lowercase;
        padding-right: 43px;
    }

    .nav {
        display: none;
    }

    ul.testimonial-wrapper li {
        margin-right: 0 !important;
        height: 333.27px;
        background-size: cover;
        width: 261px !important;
        overflow: hidden;
        cursor: pointer;
    }

    .testimonial {
        padding: 32px 2.5333rem 3.3333rem;
    }

    .testimonial .head {
        overflow: hidden;
        box-sizing: border-box;
        height: 108.753px;
    }

    li .testimonial .head .author {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 111px;
        font-size: 1.4667rem;
        color: #fff;
    }


    .testimonial-text {
        padding: 1.3125rem 0;
        padding-bottom: 2.1875rem;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        font-size: .8rem;
        line-height: 1.12rem;
    }

    ul.testimonial-wrapper li {
        height: 27.0333rem;
        background: url(/assets/images/affliate-page/testimonial-bg\ \(1\).png);
        overflow: hidden;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        width: 348.75px;
        margin-right: 15px;
    }

    .testimonial-text {
        padding: 1.3125rem 0;
        padding-bottom: 2.1875rem;
        overflow: scroll;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        font-size: .8rem;
        line-height: 1.12rem;
        width: 188.75px !important;
        height: 142.63px !important;
    }

    .swiper-pagination {
        height: .6667rem;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 96px !important;
        left: 0;
        grid-gap: 0;
        width: auto;
        margin: 1.6rem auto 1.4rem;
    }

    .swiper-pagination-bullet {
        width: .4rem !important;
        height: .4rem !important;
        border: none !important;
        margin: 0 !important;
        border-radius: 50% !important;
        background-color: #f7de26 !important;
    }

    .test-wraper {
        margin-top: 43px !important;
        width: 100%;
        overflow: hidden;
    }

    .img-coin {
        position: absolute;
        bottom: 118px;
        transform: translate(15%, 115%);
        width: 144px;
        height: 132px;
        left: -76px;
        z-index: 1;
    }

    .title-test {
        text-transform: capitalize;
    }

    .testimonial-wrapper::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 19rem;
        background-color: #0b0d10;
        bottom: 14px;
    }

    .testimonials {
        padding-bottom: 12%;
        box-sizing: border-box;
        position: relative;
    }

    .wrapper {
        position: relative;
        margin-top: 2.1333rem;
        overflow: hidden;
    }

    /* promotions cards */
    ul.news-list li {
        margin-right: 0 !important;
        height: 308.07px;
        background-color: #14171c;
        width: 256.72px !important;
        overflow: hidden;
        cursor: pointer;
        border-radius: 2rem;
    }

    .test-prom-img {
        height: 130.26px !important;
    }

    .text-wrapper {
        padding: 1.5333rem 1.2rem;
    }

    h3 {
        font-size: 15.2014px;
        color: #fff;
        font-weight: 400;
    }

    .description{
        overflow: hidden;
        height: 3rem;
        margin-top: .9333rem;
        text-align: left !important;
        font-size: 11.4101px;
    }

    a.btn {
        font-size: 11.4101px;
        height: 30.42px;
        width: 95.08px;
    }

    .wrapper.middle {
        width: unset;
        margin: 0 2.3rem;
    }

    .social {
        margin-bottom: 25px !important;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 15px !important;
    }

    .icons {
        width: 20px;
        height: 20px;
    }

    .copy-icon {
        width: 17px;
        height: 17px;
    }
    .skype{
        display: none !important;
    }

    .copy-txt {
        display: none;
    }
    .copy-1{
        margin-left: 50.4583px !important ;
    }
     .copy-3{
        margin-left: 73.4583px !important;
     }
    .contact .wrapper {
        padding: 4.6667rem 1.5rem 7.0667rem;
        height: 241.48px;
    }

    .social-icon {
        width: 28.52px !important;
        height: 28.52px !important;
    }
    .copy-val{
        font-size: 13px !important;
    }
}
/* XR mobile screen */
@media(min-width:376px) and (max-width:415px) {
    .hero-section {
        background: url(/assets/images/affliate-page/mobile-bg.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100% 173%;
        margin-top: -252.25px !important;
        background-color: #030303;
        height: 63.3125rem;
        padding-bottom: 0%;
        background-position: 0px -144px;
    }

    .top-content {
        width: 100%;
        padding: 0 36px;
        box-sizing: border-box;
        margin-top: 264px !important;
        margin-left: 0%;
        padding-top: 149px;
    }

    .middle {
        padding: 0%;
        margin: 0%;
    }

    .heading {
        font-size:42px !important;
        line-height: 59px !important;
        font-weight: 700 !important;
    }

    .mbl-hiding {
        display: none;
    }

    .hero-desc {
    font-size: 16px !important;
        color: #fff;
        margin-top: 26.8672px !important;
        width: 204.17px !important;
        line-height: 25px !important;
        font-weight: 400;
        text-align: start;
    }

    .hero-btn {
              color: #030303;
        margin-top: 55.3328px !important;
        width: 157.31px !important;
        height: 52.44px !important;
        border-radius: 14.0672px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18.63px;
        font-weight: 600;
        padding-left: 16.56px;
        padding-right: 16.56px;
        position: relative;
        height: 4.45rem;
        box-sizing: border-box;
        background-color: #11e311;
        border-radius: 18px;
        transition: .2s ease;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .arrow{
        height:11px ;
        width: 11px;
    }

    .coin-1 {
        position: absolute;
        left: -31px;
        bottom: 958px;
        transform: translateY(80%);
        transform: rotate(12deg);
    }
    .title{
        font-size: 42px !important;
        width: 256.72px !important;
        text-transform: uppercase;
    }

    .comission-section {
        margin-top: -65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 3.3333rem;
        position: relative;
        overflow: visible;
        padding-top: 0%;
    }

    .wraper {
        padding: 0 35.8041px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 48.25px;
    }

   

    .title-mbl {
        padding: 0 !important;
        /* width: 100% !important; */
        margin-bottom: 2rem;
        position: relative;
        text-align: left;
        font-size: 42px !important;
        font-weight: 700;
        color: white !important;
        display: block;
        margin-left: 33px;

    }

    .top-middle {
        margin-left: 0%;
    }

    .com-txt {
       font-size: 19px;
        color: #fff;
        line-height: 25.25px;
        text-align: center;
        width: 100%;
        margin-top: 27px;
        font-weight: 400 !important;
    }

    .cards-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        padding: 13px;
        row-gap: 11px !important;
        column-gap: 8px !important;
        z-index: 10 !important;
        position: relative;
        z-index: 5;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
               box-sizing: border-box;
        cursor: pointer;
        padding: 2rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 123.75px;
        width: 167.16px;
        border-radius: 22px;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e444f), to(#262a30));
        background: linear-gradient(180deg, #3e444f 0, #262a30 100%);
        position: relative;
        transition: .5s;
    }

    .card-img {
       margin-top: 15.0164px;
        height: 24.52px !important;
        width: 24.52px !important;
    }

    .card-title {
        display: none;
    }

    .top-row {
        display: none;
    }

    .coin-shadow {
        bottom: 7em;
        left: 0;
        position: absolute;
        transform: translateY(25rem);
        width: 100%;
        /* z-index: -1; */
    }

    .black-coin {
        bottom: 75px;
        left: 0;
        position: absolute;
        transform: translateY(5rem);
        z-index: 2;
    }

    .coin {
        display: none;
    }

    .top {
        margin-top: 48px;
        box-sizing: border-box;
        position: relative;
        padding-right: 8px;
    }

    .title-test {
    width: 553.42px !important;
        margin-left: auto;
        margin-right: auto;
        font-size: 42px;
        text-align: start;
        font-weight: 700;
        text-transform: lowercase;
        color: white;
        padding-left: 36px;
    }

    .nav {
        display: none;
    }

    ul.testimonial-wrapper li {
        margin-right: 0 !important;
        height: 367.6px !important;
        background-size: cover;
        width: 261px !important;
        overflow: hidden;
        cursor: pointer;
    }

    .testimonial {
        padding: 32px 2.5333rem 3.3333rem;
        height: 367.6px;
    }

    .testimonial .head {
        overflow: hidden;
        box-sizing: border-box;
        height: 108.753px;
    }

    li .testimonial .head .author {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 111px;
        font-size: 1.4667rem;
        color: #fff;
    }


    .testimonial-text {
        padding: 1.3125rem 0;
        padding-bottom: 2.1875rem;
        overflow: hidden;
        box-sizing: border-box;
        color: #fff;
        font-size: .8rem;
        line-height: 1.12rem;
    }

    ul.testimonial-wrapper li {
        height: 367.6px !important;
        background: url(/assets/images/affliate-page/testimonial-bg\ \(1\).png);
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        width: 287.89px !important;
        background-position: center;
        margin-left: 20px;
        border-radius: 24px;
    }

    .testimonial-text {
        padding: 1.3125rem 0;
        padding-bottom: 2.1875rem;
        overflow: scroll;
        box-sizing: border-box;
        color: #fff;
        font-size: .8rem;
        line-height: 1.12rem;
        width: 188.75px !important;
        height: 142.63px !important;
    }

    .swiper-pagination {
        height: .6667rem;
        align-items: center;
        position: absolute;
        right: 0;
        bottom:100px !important;
        left: 0;
        grid-gap: 0;
        width: auto;
        margin: 1.6rem auto 1.4rem;
        display: flex;
        justify-content: end;
    }

    .swiper-pagination-bullet {
        width: .4rem !important;
        height: .4rem !important;
        border: none !important;
        margin: 0 !important;
        border-radius: 50% !important;
        background-color: #f7de26 !important;
        opacity: 1;
    }

    .test-wraper {
        margin-top: 55px !important;
        width: 100%;
        overflow: hidden;
    }

    .img-coin {
        position: absolute;
        bottom: 129px;
        transform: translate(15%, 115%);
        width: 144px;
        height: 132px;
        left: -76px;
        z-index: 1;
    }

    .title-test {
        text-transform: capitalize;
    }

    .testimonial-wrapper::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 19rem;
        background-color: #0b0d10;
        bottom: 14px;
    }

    .testimonials {
        padding-bottom: 159px;
        box-sizing: border-box;
        position: relative;
    }

    .wrapper {
        position: relative;
        margin-top: 2.1333rem;
        overflow: hidden;
    }

    /* promotions cards */
    ul.news-list li {
     margin-right: 0 !important;
    height: 21.6rem;
    background-color: #14171c;
    width: 18rem !important;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2rem;
    }
 ul.news-list {
    gap: 1.6rem !important;
}
 li .text-wrapper a.btn {
    background-color: #f7de26;
    font-family: Poppins-Bold;
    color: #030303;
    font-size: .8rem;
    height: 2.1333rem;
    width: 6.6667rem;
    border-radius: .5333rem;
    margin-top: 1.6rem;
}
.btn {
        position: relative;
    height: 13vw;
    line-height: normal;
    border: 0;
    outline: 0;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
    padding: 0 4vw;
    border-radius: 2px;
    background: #11e311;
    color: #030303;
    font-family: Roboto-Medium;
    user-select: none;
    transition: .2s ease;
}
    .test-prom-img {
        height: 130.26px !important;
    }

    .text-wrapper {
        padding: 1.5333rem 1.2rem;
    }

    h3 {
        font-size: 15.2014px;
        color: #fff;
        font-weight: 400;
    }

    .description{
        overflow: hidden;
        height: 3rem;
        margin-top: .9333rem;
        text-align: left !important;
        font-size: 11.4101px;
    }

    a.btn {
        font-size: 11.4101px;
        height: 30.42px;
        width: 95.08px;
    }

    .wrapper.middle {
        width: unset;
        margin: 0 2.3rem;
    }

    .social {
        margin-bottom: 25px !important;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 15px !important;
    }

    .icons {
        width: 20px;
        height: 20px;
    }

    .copy-icon {
        width: 17px;
        height: 17px;
    }
    .skype{
        display: none !important;
    }

    .copy-txt {
        display: none;
    }
    .copy-1{
        margin-left: 65.4583px !important ;
    }
     .copy-3{
        margin-left: 90.4583px !important;
     }
    .contact .wrapper {
        padding: 4.6667rem 2rem 7.0667rem;
        height: 241.48px;
    }

    .social-icon {
        width: 28.52px !important;
        height: 28.52px !important;
    }
    .copy-val{
        font-size: 15px !important;
    }
 
 .testimonial .head .site {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(.1%, #f7de26), color-stop(100.1%, #04f06a));
    background: linear-gradient(90deg, #f7de26 .1%, #04f06a 100.1%);
    width: 13.0667rem;
    height: 3.3333rem;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030303;
    font-family: Poppins-Bold;
    font-size: 1.0667rem;
    margin-bottom: 2.1333rem;
}   
.dks-title{
    display: none;
}
.contact{
    margin-top: -103px;
}
.mailto{
 display: flex;
}
.telegram{
 display: flex;
}
section.social-icons {
    margin-top: 5.6667rem;
    padding-bottom: 10rem;
}
section.social-icons .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
section.social-icons .socials li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f242b;
    border-radius: 4.2667rem;
    width: 3.0667rem;
    height: 3.0667rem;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s;
}

}