@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.payment-methods {
    background: #0e1014;
    align-self: center;
    padding: 13px 18px;
  }
  
  .payment-methods ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px 4px;
  }
  
  .payment-methods ul li {
    height: 31px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .payment-methods ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .payment-methods ul li img {
    height: 19px;
    width: 90%;
  }
  
  .payment-methods ul.cryptos {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
  }
  
  .payment-methods ul.cryptos li {
    height: 36px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .payment-methods ul.cryptos li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .payment-methods ul.cryptos li img {
    height: 26px;
    max-width: 26px;
    object-fit: contain;
  }
  
  .license {
    display: flex;
    padding: 0 0.7805em;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.3008em 0;
  }
  
  .f-terms {
    text-align: center;
    padding: 0 0.7805em;
    font-size: 0.782em;
    overflow: hidden;
    text-overflow: ellipsis;
  }