<div class="lg:hidden">
    <div class="payment-methods mt-[28.0962px]">
        <ul>
            <li>
                <a><img src="https://static.inpcdn.com/91,1721e6ed3a91ec.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/91,1721e9d8403b01.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/91,1721eab4566743.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc640ec4f266.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/89,1721f4614a7b6f.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc3defba5b19.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6636ea368f.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6a3c719800.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc69488eed1c.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6d119b6f53.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/89,1721ffa2f02a8f.webp"></a>
            </li>

            <li>
                <a><img src="https://static.inpcdn.com/92,17cc6ed23ee0b9.webp"></a>
            </li>
        </ul>
        <ul class="cryptos">
            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc5bb320e069.webp"></a>
            </li>

            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc621393e1e8.webp"></a>
            </li>

            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc6173a52ca7.webp"></a>
            </li>

            <li>
                <a href="/account/deposit"><img src="https://static.inpcdn.com/92,17cc6067508a33.webp"></a>
            </li>
        </ul>
    </div>

    <div class="bg-black pt-6 min-h-[500px]">
        <div class="license">
            <a><img src="/assets/images/guru.png" alt="guru" width="60"></a>
            <div class="gcb flex justify-center">
                <a>
                    <img src="/assets/images/gcb.png" height="85" alt="gcb">
                </a>
            </div>
        </div>
        <div class="f-terms mt-4 text-white">
            <span class="leading-[1]">
                <p class="h-[90px]">
                    m.velobet.win is operated by Santeda International B.V., a company incorporated under the laws
                    of
                    Curaçao
                    with Company Number 151296 and is licensed by the Curaçao Gaming Control Board to offer games of
                    chance
                    under license number OGL/2024/1798/1048 in accordance with the National Ordinance on Offshore
                    Games
                    of Hazard (Landsverordening buitengaatse hazardspelen, P.B. 1993, no. 63) (NOOGH).
                </p>

                <p class="h-[45px]">
                    Santeda International Limited, with registered office at Poreias, 2 3011, Limassol, Cyprus, acts
                    as
                    a
                    payment agent of the license holder and parent company - Santeda International B.V.
                </p>

                <p class="h-[90px]">
                    In order to register for this Website, the user is required to accept the
                    <a href="#">Terms and Conditions</a>. In the event the
                    <a href="#">Terms and Conditions</a> are updated, existing users may choose to discontinue using
                    the
                    products and services before the said update shall become effective, which is a minimum of two
                    weeks
                    after it has been announced.
                </p>
            </span>
        </div>

    </div>
</div>

<footer class="max-lg:hidden bg-[#030303] mt-[55.4671px] pb-[62.4px] overflow-hidden">
    <div class="bg-[#0c0e11] h-[108.333px] flex items-center">
        <div class="flex gap-[26px] justify-center relative max-[1213.33px] mx-auto">
            <div class="flex rounded-[1.7329px] items-center">
                <a class="flex justify-center items-center">
                    <img class="h-[20.8px] align-middle"
                        src="https://velobet.win/assets/images/footer/payments/visa.svg?v3" alt="">
                </a>
            </div>

            <div class="flex rounded-[1.7329px] items-center">
                <a class="flex justify-center items-center">
                    <img class="h-[20.8px] align-middle"
                        src="https://velobet.win/assets/images/footer/payments/mastercard.svg?v3" alt="">
                </a>
            </div>

            <div class="flex rounded-[1.7329px] items-center">
                <a class="flex justify-center items-center">
                    <img class="h-[20.8px] align-middle"
                        src="https://velobet.win/assets/images/footer/payments/astropay.svg?v3" alt="">
                </a>
            </div>

            <div class="flex rounded-[1.7329px] items-center">
                <a class="flex justify-center items-center">
                    <img class="h-[20.8px] align-middle"
                        src="https://velobet.win/assets/images/footer/payments/skrill.svg?v3" alt="">
                </a>
            </div>


            <div class="flex rounded-[1.7329px] items-center">
                <a class="flex justify-center items-center">
                    <img class="h-[20.8px] align-middle"
                        src="https://velobet.win/assets/images/footer/payments/interac.png?v3" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="max-w-[1213.33px] px-[16.25px] mx-auto relative mt-[36.4px]">
        <div
            class="grid [grid-template-columns:repeat(10,_1fr);] gap-[9.5329px] mb-[34.6671px] pb-[34.6671px] border-b border-[#14171c]">
            <div class="rounded-[1.7329px] block h-full">
                <a class="h-[45.0671px] flex justify-center items-center">
                    <img src="https://velobet.win/assets/images/footer/vendors/pragmatic.svg?v3"
                        class="max-h-[22.9671px] " alt="">
                </a>
            </div>

            <div class="rounded-[1.7329px] block h-full">
                <a class="h-[45.0671px] flex justify-center items-center">
                    <img src="https://velobet.win/assets/images/footer/vendors/playson.svg?v3"
                        class="max-h-[22.9671px] " alt="">
                </a>
            </div>

            <div class="rounded-[1.7329px] block h-full">
                <a class="h-[45.0671px] flex justify-center items-center">
                    <img src="https://velobet.win/assets/images/footer/vendors/playson.svg?v3"
                        class="max-h-[22.9671px] " alt="">
                </a>
            </div>


            <div class="rounded-[1.7329px] block h-full">
                <a class="h-[45.0671px] flex justify-center items-center">
                    <img src="https://velobet.win/assets/images/footer/vendors/relax-gaming.svg?v3"
                        class="max-h-[22.9671px] " alt="">
                </a>
            </div>

            <div class="rounded-[1.7329px] block h-full">
                <a class="h-[45.0671px] flex justify-center items-center">
                    <img src="https://velobet.win/assets/images/footer/vendors/gameart.svg?v3"
                        class="max-h-[22.9671px] " alt="">
                </a>
            </div>

        </div>
        <nav>
            <ul class="overflow-hidden py-[52px] flex justify-between">
                <li class="text-[rgba(255,255,255,.4)] whitespace-nowrap">
                    <p class="text-[14.3871px] mb-[13.8671px] text-[#fff]">Our Products</p>
                    <ul class="text-[10.4px] leading-[17.3329px]">
                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Sports Betting</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Virtual Sports</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">E-Sport</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Mini Games</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Live Casino</a>
                        </li>
                    </ul>
                </li>


                <li class="text-[rgba(255,255,255,.4)] whitespace-nowrap">
                    <p class="text-[14.3871px] mb-[13.8671px] text-[#fff]">Information</p>
                    <ul class="text-[10.4px] leading-[17.3329px]">
                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Company Details</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Responsible Gaming</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Privacy Policy</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Affiliate</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Sportsbook Terms</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">
                                <img class="max-h-[78px] mt-[13px]"
                                    src="https://velobet.win/assets/images/footer/guru.png" alt="">
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="text-[rgba(255,255,255,.4)] whitespace-nowrap">
                    <p class="text-[14.3871px] mb-[13.8671px] text-[#fff]">Help</p>
                    <ul class="text-[10.4px] leading-[17.3329px]">
                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Terms & Conditions</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">F.A.Q (Frequently Asked Questions)</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">KYC/AML Policy</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Refund Policy</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Dispute Resolution</a>
                        </li>
                    </ul>
                </li>



                <li class="text-[rgba(255,255,255,.4)] whitespace-nowrap">
                    <p class="text-[14.3871px] mb-[13.8671px] text-[#fff]">Contact Us</p>
                    <ul class="text-[10.4px] leading-[17.3329px]">
                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">{{'Support@velobet.com'}}</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Live Chat</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">{{'affiliates@velobet.com'}}</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">VIP</a>
                        </li>

                        <li class="mt-[6.9329px]">
                            <a class="text-[#899194]">Dispute Resolution</a>
                        </li>
                    </ul>
                    <ul class="mt-[69.3329px] flex gap-[10.4px] items-center">
                        <li>
                            <a> <img class="h-[29.0329px]" src="https://static.inpcdn.com/92,17ab01d8b98203.webp"
                                    alt=""></a>
                        </li>
                        <li>
                            <a> <img class="h-[29.0329px]" src="https://static.inpcdn.com/105,1ae3fe540a8ad6.webp"
                                    alt=""></a>
                        </li>
                        <li>
                            <a> <img class="h-[29.0329px]" src="https://static.inpcdn.com/66,11efadafc80cf5.webp"
                                    alt=""></a>
                        </li>
                    </ul>
                </li>


                <li class="text-[rgba(255,255,255,.4)] whitespace-nowrap">
                    <div class="flex justify-center">
                        <a>
                            <img src="https://seal.cgcb.info/1c0246df-1aa7-485a-a24c-21ae5e730000" height="85" alt="">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div
            class="flex justify-center items-center h-[76.2671px] mb-[34.6671px] border-b border-t border-[#20262e] font-[Poppins-SemiBold]">
            <div class="flex">
                <img class="h-[34.6671px]" src="https://velobet.win/assets/images/footer/trustlogos/18plus.png?v2?v3"
                    alt="">
                <img class="h-[34.6671px] ml-[36.4px]"
                    src="https://velobet.win/assets/images/footer/trustlogos/ssl.png?v2?v3" alt="">
            </div>
            <div class="text-[#fff] text-[12.1329px] ml-[68.4671px] flex justify-center items-center">
                <p>Attention! It is gambling advertising. Gambling is not suitable for solving financial problems.
                    Please read terms and
                    conditions and play responsibly.</p>
            </div>
        </div>

        <div class="text-[12.1329px] text-[#899194] font-[Poppins-SemiBold]">
            <p>velobet.win is operated by Santeda International B.V., a company incorporated under the laws of Curaçao
                with Company Number 151296 and is licensed by the Curaçao Gaming Control Board to offer games of chance
                under license number OGL/2024/1798/1048 in accordance with the National Ordinance on Offshore Games of
                Hazard (Landsverordening buitengaatse hazardspelen, P.B. 1993, no. 63) (NOOGH).</p>
            <p>Santeda International Limited, with registered office at Poreias, 2 3011, Limassol, Cyprus, acts as a
                payment agent
                of the license holder and parent company - Santeda International BV.</p>
            <p>
                <span lang="GEO/KAT">In order to register for this Website, the user is required to accept the&nbsp;
                    <a href="https://velobet.com/en/static/terms/generalterms">Terms and Conditions&nbsp;</a>
                    . In the event
                    the&nbsp;<a href="https://velobet.com/en/static/terms/generalterms">Terms and Conditions</a> are
                    updated,
                    existing users may choose to discontinue using the products and services before the said update
                    shall become
                    effective, which is a minimum of two weeks after it has been announced.<br><br></span>
            </p>
        </div>
    </div>
</footer>