<div class="d-flex position-relative" style="margin-bottom: 2px;">
    <!-- *ngIf="this.streamingAppName != null && this.streamingURl != null && this.streamingName != null" -->
    <div class="upperDiv">

        <div id="video_info">

            <div class="error-screen">
                <div class="brand">Real Media</div>
                <img src="/assets/Loading-Bar.gif" alt="">
                <div class="message">
                    <h2>Stream Starting Soon!</h2>
                    <p>We'll be live shortly <br />stay tuned!
                    </p>
                </div>
            </div>
        </div>

        <div id="video_container">
            <video id='video-player' class='video-js vjs-default-skin vjs-big-play-centered' muted autoplay controls
                playsinline></video>
        </div>

        <img id="play-video" class="play-video" style="display: none;" src="/assets/video/play.svg" />


        <!-- Mute/Unmute Video Button for 360 playback -->
        <button id="unmuteButton" title="Mute/Unmute Video">
            <img src="/assets/video/VolumeOff.svg" style="width: 4vh;height: 4vh;" alt="Volume Off" />
        </button>


    </div>

</div>