<div class="lg:hidden p-[1vw_1vw_0] text-white bg-black">
    <nav class="overflow-hidden h-[15vw] flex justify-between font-[Roboto,_sans-serif]">
        <span
            class="flex items-center justify-center relative h-full w-[calc(20%_-_.8vw)] px-[4vw] font-semibold bg-[#151a21] rounded-[3px]">
            <span
                class="inline-block rounded-[3px] p-[0.06vw_2vw] bg-[#00aa30] text-white whitespace-nowrap text-[3.5vw]"
                routerLink="/racing">Live</span>
        </span>

        <span class="relative h-full w-[calc(20%_-_.8vw)] px-[4vw] bg-[#151a21] rounded-[3px]">
            <span class="casino block h-[10vw] w-full bg-no-repeat bg-[50%] bg-auto brightness-[6]"></span>
            <span
                class="flex items-center justify-center text-[2.7vw] whitespace-nowrap leading-[1.159] min-[429]:!leading-[1.206] font-semibold text-[rgb(255_255_255_/_0.6)]"
                routerLink="/casino">Casino</span>
        </span>

        <span class="relative h-full w-[calc(20%_-_.8vw)] px-[4vw] bg-[#151a21] rounded-[3px]">
            <span class="live-casino block h-[10vw] w-full bg-no-repeat bg-[50%] bg-auto brightness-[6]"></span>
            <span
                class="flex items-center justify-center text-[2.7vw] whitespace-nowrap leading-[1.159] min-[429]:!leading-[1.206] font-semibold text-[rgb(255_255_255_/_0.6)]">Live
                Casino</span>
        </span>

        <span class="relative h-full w-[calc(20%_-_.8vw)] px-[4vw] bg-[#151a21] rounded-[3px]">
            <span class="virtual block h-[10vw] w-full bg-no-repeat bg-[50%] bg-auto brightness-[6]"></span>
            <span
                class="flex items-center justify-center text-[2.7vw] whitespace-nowrap leading-[1.159] min-[429]:!leading-[1.206] font-semibold text-[rgb(255_255_255_/_0.6)]">Virtual</span>
        </span>

        <span class="relative h-full w-[calc(20%_-_.8vw)] px-[4vw] bg-[#151a21] rounded-[3px]">
            <span class="esports block h-[10vw] w-full bg-no-repeat bg-[50%] bg-auto brightness-[6]"></span>
            <span
                class="flex items-center justify-center text-[2.7vw] whitespace-nowrap leading-[1.159] min-[429]:!leading-[1.206] font-semibold text-[rgb(255_255_255_/_0.6)]">Esports</span>
        </span>
    </nav>
</div>

<div class="hidden lg:flex justify-start items-center mt-[0.625rem] min-[820px]:mt-0 bg-black h-[2.625rem]">
    <div class="tab active">
        <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24">
            <path
                d="M19,5h-2V3H7v2H5C3.9,5,3,5.9,3,7v1c0,2.55,1.92,4.63,4.39,4.94c0.63,1.5,1.98,2.63,3.61,2.96V19H7v2h10v-2h-4v-3.1   c1.63-0.33,2.98-1.46,3.61-2.96C19.08,12.63,21,10.55,21,8V7C21,5.9,20.1,5,19,5z M7,10.82C5.84,10.4,5,9.3,5,8V7h2V10.82z M19,8   c0,1.3-0.84,2.4-2,2.82V7h2V8z">
            </path>
        </svg>
        <span>Top Events</span>
    </div>
    <div class="tab">
        <i class="text-[#00aa30] fa-regular fa-clock"></i>
        <span>Upcoming</span>
    </div>
    <div class="tab">
        <span>Live</span>
    </div>
    <div class="tab">
        <i class="text-[#00aa30] fa-solid fa-star"></i>
        <span>My Favourites</span>
    </div>
</div>



<div class="bg-[#000000] flex w-full h-[11.9vw] xl:h-[49px] lg:bg-[#111317] lg:rounded-[3px] pt-0.5">

    <div class="relative grow-[1] xl:max-w-[210px] h-full">
        <input type="text"
            class="bg-transparent placeholder:text-[13px] placeholder:text-[#88898B] border-0 h-full w-full [@media(min-width:420px)]:pl-[calc(12vw_+_6px)] [@media(min-width:375px)]:pl-[calc(12vw_+_3px)]  xl:pl-[49px] leading-[12vw] outline-0 xl:text-base text-[3.5vw] text-white"
            placeholder="Search games">
        <span
            class="material-icons text-[#999999] absolute left-[4vw] xl:left-[1vw] xl:-mt-[7px] pointer-events-none top-[50%]  xl:text-base text-[6vw] -mt-[3.1vw] search-icon">search</span>

    </div>

    <div
        class="flex items-center w-[33vw] h-[100%] before:block before:w-[1px] before:h-[60%] before:bg-[#23282a] xl:before:bg-transparent icon-wrapper">
        <div class="h-[80%] flex items-center  w-[50%] justify-center ml-[25.8px] border-b-[.8vw] border-black"
            (click)="searchEvent('list')" [ngClass]="{'!border-[#00aa30]':searchTab === 'list'}">
            <div class="material-icons text-[7vw] text-[#999999]  relative"
                [ngClass]="{'text-black active-list':searchTab === 'list'}">list
            </div>
        </div>

        <div class="h-[80%] w-[50%] flex items-center justify-center border-b-[.8vw] border-black"
            (click)="searchEvent('line_style')" [ngClass]="{'!border-[#00aa30]':searchTab === 'line_style'}">
            <div class="material-icons text-[5.5vw] text-[#999999] relative "
                [ngClass]="{'text-black  active':searchTab === 'line_style'}">line_style</div>
        </div>

    </div>

    <div
        class="relative icon-wrapper before:block before:w-[1px] before:h-[60%] before:bg-[#23282a] before:absolute before:top-[20%] before:left-[0px] ">
        <span class="flex items-center justify-center w-[13vw] h-full font-[4vw]" (click)="oddToggle()">
            <!-- <i class="fa-solid fa-gear "></i> -->
            <span class="material-icons text-[#999999] text-[4.5vw] pr-1"
                [ngClass]="{'!text-white':isOddType}">settings</span>
        </span>
        <div class="settings-window" *ngIf="isOddType">
            <div class="odds-type">
                <h3>Odds Type:</h3> <label><input type="radio" name="odds-type" value="0"> <span>Decimal</span></label>
                <label><input type="radio" name="odds-type" value="1"> <span>American</span></label> <label><input
                        type="radio" name="odds-type" value="2"> <span>Fractional</span></label>
            </div>
        </div>
    </div>

    <ul class="max-[820px]:hidden ml-auto flex items-center whitespace-nowrap overflow-hidden pr-[28px]">
        <li class="tabs ml-4 h-[35px] basis-auto p-[.5rem] text-white flex items-center justify-center shrink-0 text-center text-[.9rem] overflow-hidden cursor-pointer "
            (click)="selectTab('soccer')" [ngClass]="{'active-tab':activeTab == 'soccer'}">
            <i class="sport-icon text-[#05AA30] text-[1.3rem]" [attr.sport]="'soccer'"> </i>
            <span class="m-[0_.7rem]  text-[12.6px] hidden">Soccer</span>
        </li>

        <li class="tabs ml-4 h-[35px] basis-auto p-[.5rem] text-white flex items-center justify-center shrink-0 text-center text-[.9rem] overflow-hidden cursor-pointer "
            (click)="selectTab('basketball')" [ngClass]="{'active-tab':activeTab == 'basketball'}">
            <i class="sport-icon text-[#05AA30] text-[1.3rem]" [attr.sport]="'basketball'"> </i>
            <span class="m-[0_.7rem]  text-[12.6px] hidden">Basketball</span>
        </li>


        <li class="tabs ml-4 h-[35px] basis-auto p-[.5rem] text-white flex items-center justify-center shrink-0 text-center text-[.9rem] overflow-hidden cursor-pointer "
            (click)="selectTab('tennis')" [ngClass]="{'active-tab':activeTab == 'tennis'}">
            <i class="sport-icon text-[#05AA30] text-[1.3rem]" [attr.sport]="'tennis'"> </i>
            <span class="m-[0_.7rem]  text-[12.6px] hidden">Tennis</span>
        </li>

        <li class="tabs ml-4 h-[35px] basis-auto p-[.5rem] text-white flex items-center justify-center shrink-0 text-center text-[.9rem] overflow-hidden cursor-pointer "
            (click)="selectTab('baseball')" [ngClass]="{'active-tab':activeTab == 'baseball'}">
            <i class="sport-icon text-[#05AA30] text-[1.3rem]" [attr.sport]="'baseball'"> </i>
            <span class="m-[0_.7rem]  text-[12.6px] hidden">Baseball</span>
        </li>


        <li class="tabs ml-4 h-[35px] basis-auto p-[.5rem] text-white flex items-center justify-center shrink-0 text-center text-[.9rem] overflow-hidden cursor-pointer "
            (click)="selectTab('formula1')" [ngClass]="{'active-tab':activeTab == 'formula1'}">
            <i class="sport-icon text-[#05AA30] text-[1.3rem]" [attr.sport]="'formula1'"> </i>
            <span class="m-[0_.7rem]  text-[12.6px] hidden">Formula 1</span>
        </li>


        <li class="tabs ml-4 h-[35px] basis-auto p-[.5rem] text-white flex items-center justify-center shrink-0 text-center text-[.9rem] overflow-hidden cursor-pointer "
            (click)="selectTab('leagueoflegends')" [ngClass]="{'active-tab':activeTab == 'leagueoflegends'}">
            <i class="sport-icon text-[#05AA30] text-[1.3rem]" [attr.sport]="'leagueoflegends'"> </i>
            <span class="m-[0_.7rem]  text-[12.6px] hidden">League of Legends</span>
        </li>
    </ul>

</div>