<div *ngIf="activeRoute !== 'racing'"
    class="custom-scrollbar-content lg:min-w-[198px]  xl:min-w-[252px] max-w-[252px] bg-black text-white h-[calc(100dvh-114px)] max-lg:absolute left-[-100%] mt-[0.8vw] [@media(max-width:1512px)]:!mt-[1vw]  overflow-auto [scrollbar-width:none]">



    <!-- TOP LEAGUES -->
    <div class=" bg-[#101317] rounded-sm mb-[0.25vw]">
        <div class="cursor-pointer text-[14px] rounded-sm  flex items-center justify-between py-[0.7vw] pl-[0.5vw] pr-[0.7vw]"
            (click)="toggleDropdown('topLeagues')">
            <div class="flex items-center space-x-2 gap-[0.182vw]">
                <span class="text-[#00aa30] font-extrabold text-[18px] ">|</span>
                <span class="text-[0.91vw]  font-semibold ">TOP LEAGUES</span>
            </div>
            <i class="text-white "
                [ngClass]="dropdowns['topLeagues'] ? 'fas fa-chevron-down text-[0.8vw] pb-[0.1vw]' : 'fas fa-chevron-right text-[0.8vw] pr-[0.2vw] pb-0'"></i>
        </div>
        <ul class="space-y-2 px-[10px] py-[16px]" *ngIf="dropdowns['topLeagues']">

            <li class="my-1 relative" *ngFor="let event of filterCompetitions; let ii = index">
                <div (click)="toggleLeagues(ii)" class="flex items-center justify-between rounded">
                    <div class="flex items-center gap-[1vw] text-[#FFFFFF99] hover:text-white">
                        <i class="sport-icon !text-[1.17vw]" [attr.sport]="event.sportName.toLowerCase()"></i>
                        <span class="text-[0.8vw] font-medium">{{event.tournamentName}}</span>
                    </div>
                    <span class="text-[0.8vw]">{{tournamentLength[ii]}}</span>
                </div>
                <div class="dropdown-content" [class.open]="activeDropdownIndex === ii">

                    <ul class="text-green-500 p-2 text-sm space-y-1" *ngIf="tournamentData[ii]?.length">
                        <li class="cursor-pointer" (click)="gotoLeagues(match.exEventId, match.sportId)"
                            *ngFor="let match of tournamentData[ii]">
                            {{ match.eventName }}
                        </li>
                    </ul>
                </div>

            </li>

        </ul>

    </div>

    <div class="bg-[#101317] rounded-sm mb-[0.2vw]">
        <!-- Header -->


        <div class="cursor-pointer text-[14px] rounded-sm  flex items-center justify-between py-[0.7vw] pl-[0.5vw] pr-[0.7vw]"
            (click)="toggleDropdown('topLive')">
            <div class="flex items-center space-x-2 gap-[0.182vw]">
                <span class="text-[#00aa30] font-extrabold text-[18px] ">|</span>
                <span class="text-[0.91vw]  font-semibold">TOP LIVE</span>
            </div>
            <i class="text-white "
                [ngClass]="dropdowns['topLive'] ? 'fas fa-chevron-down text-[0.8vw] pb-[0.1vw]' : 'fas fa-chevron-right text-[0.8vw] pr-[0.2vw] pb-0'"></i>
        </div>
        <!-- Content -->
        <div *ngIf="dropdowns['topLive']" class="px-[0.8vw] pb-[0.8vw] space-y-4 text-[11px]">
            <div>
                <!-- <div class="text-[#FFFFFF99] text-xs  border-b border-gray-700 pb-1 mb-2">Soccer</div> -->

                <div *ngFor="let game of filterTopEvent" class="mb-3 flex justify-between items-center">
                    <div (click)="gotoMarket(game)" class="flex flex-col items-start w-[65%] cursor-pointer">
                        <div class="text-green-500 leading-tight  truncate max-w-[90%]">{{ game.eventName }}</div>
                        <div class="text-green-500 leading-tight mb-1  truncate max-w-[90%]">{{ game.tournamentName }}
                        </div>
                    </div>
                    <div class="flex justify-between items-center  text-white text-[11px]  w-[35%]">
                        <span
                            class="hover:bg-green-500 px-[2px] py-[1px] cursor-pointer">{{game.oddsData.runners[0].price.back[0]
                            ?
                            game.oddsData.runners[0].price.back[0].price : '0'}}</span>
                        <span
                            class="hover:bg-green-500 px-[2px] py-[1px] cursor-pointer">{{game.oddsData.runners[0].price.lay[0]
                            ?
                            game.oddsData.runners[0].price.lay[0].price : '0'}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!-- TOP ESPORT -->
    <div class="bg-[#101317] rounded-sm mb-[0.3vw]">

        <div class="cursor-pointer text-[14px] rounded-sm  flex items-center justify-between py-[0.7vw] pl-[0.5vw] pr-[0.7vw]"
            (click)="toggleDropdown('topEsport')">
            <div class="flex items-center space-x-2 gap-[0.182vw]">
                <span class="text-[#00aa30] font-extrabold text-[18px] ">|</span>
                <span class="text-[0.91vw] uppercase  font-semibold pt-[.2vw]">TOP Racing</span>
            </div>
            <i class="text-white "
                [ngClass]="dropdowns['topEsport'] ? 'fas fa-chevron-down text-[0.8vw] pb-[0.1vw]' : 'fas fa-chevron-right text-[0.8vw] pr-[0.2vw] pb-0'"></i>
        </div>
        <div class="space-y-2 px-[10px] pb-[20px]" *ngIf="dropdowns['topEsport']">
            <div *ngFor="let item of raceEvents" class="mb-3 flex justify-between items-center">
                <div class="flex flex-col items-start w-[65%]">
                    <div class="text-green-500 leading-tight  truncate max-w-[90%] text-[11px]">{{ item.eventName }}
                    </div>
                    <div class="text-green-500 leading-tight mb-1  truncate max-w-[90%]"></div>
                </div>
                <div class="flex justify-between items-center  text-white text-[11px] w-[35%]">
                    <span class="hover:bg-green-500 px-[2px] py-[1px] cursor-pointer"></span>
                    <span class="hover:bg-green-500 px-[2px] py-[1px] cursor-pointer"></span>
                </div>
            </div>
            <span *ngIf="raceEvents.length === 0" class="text-[#FFFFFF99] text-[9.9px]">No esports data</span>
        </div>
    </div>

    <!-- TIME FILTERS Section -->
    <div class="bg-[#101317] rounded-sm mb-[0.3vw] mt-[0.88vw]">
        <div
            class="cursor-default font-semibold text-[14px] rounded-sm flex items-center justify-between py-[0.7vw] pl-[0.5vw] pr-[1vw]">
            <div class="flex items-center space-x-2 gap-[0.195vw]">
                <span class="text-[#00aa30] font-extrabold text-[18px]">|</span>
                <span class="text-[0.85vw]  font-semibold">TIME FILTERS</span>
            </div>
        </div>

        <div class="flex justify-between mt-4 px-[13px] pb-3">
            <label *ngFor="let time of ['All', '6H', '12H', '24H', '48H']"
                class="flex flex-col items-center cursor-pointer  gap-2">
                <div class="rounded-full mb-1 transition-all duration-200 w-[9px] h-[9px] bg-[#00aa30] " [ngClass]="{
                       ' shadow-[0_0_10px_2px_rgba(0,255,100,0.5)] ': timeFilter === time,
                       '': timeFilter !== time
                     }">
                </div>
                <span [ngClass]="{
                  'text-white': timeFilter === time,
                  'text-[#FFFFFF99]': timeFilter !== time
                }" class="text-[0.94vw]">
                    {{ time }}
                </span>
                <input type="radio" name="time" [value]="time" [(ngModel)]="timeFilter" (ngModelChange)="filterByTime()"
                    class="hidden" />
            </label>
        </div>
    </div>



    <div class="mt-[1vw] py-2  bg-[#101317] pb-8">
        <!-- Header bar -->
        <div
            class="flex items-center justify-between font-semibold border-b border-[#00aa30] pt-[0.2vw] pb-[0.8vw] pl-2 pr-3 mb-2">
            <div class="flex items-center space-x-2 gap-[0.195vw]">
                <span class="text-[#00aa30] font-bold">|</span>
                <span class="text-[0.94vw] pt-[0.2vw]">Sports</span>
            </div>
            <button class="text-[#FFFFFF99] hover:text-red-500 text-sm" (click)="restSidebar()">
                <i class="fas fa-trash text-[#FFFFFF99]"></i>
            </button>
        </div>

        <!-- Sports List -->
        <ul class="space-y-2">

            <li class="text-[#FFFFFF99] hover:text-white text-[0.9vw]"
                *ngFor="let item of filteredSidebarEvent; let i = index">
                <div (click)="sidebarSportToggle(i)"
                    class="flex items-center justify-between tracking-tighter  hover:bg-[#151a21] px-[0.6vw] pt-[.2vw] cursor-pointer h-[2vw] ">
                    <div class="flex items-center gap-[0.78vw]">
                        <span class="sport-icon text-[1.17vw]" [attr.sport]="item?.sportName.toLowerCase()"></span>
                        <span class="pt-[0.1vw] text-[12.6px]">{{item?.sportName}}</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="text-[#ffffff71]">{{item?.data?.length}}</span>
                        <div class="chbx middlestate" [ngClass]="{'middlestate':parentIndex === i}"></div>
                    </div>

                </div>

                @if (parentIndex === i) {
                <div *ngFor="let tournament of item?.data; let ii = index">
                    <div (click)="subChildIndex(ii)"
                        class="flex items-center justify-between tracking-tighter bg-[#1e222c] px-[0.6vw] pt-[.2vw] cursor-pointer mt-[1px] h-[2vw] ">
                        <div class="flex items-center gap-[0.78vw]">
                            <span class="pt-[0.1vw] text-[11.2px] truncate">{{tournament?.tournamentName}}</span>
                        </div>
                        <div class="flex items-center gap-2">
                            <span class="text-[#ffffff71] truncate">{{tournament?.data?.length}}</span>
                            <div class="chbx middlestate" [ngClass]="{'middlestate':childIndex == ii}"></div>
                        </div>
                    </div>
                    @if(childIndex == ii){
                    <div class="flex items-center justify-between tracking-tighter bg-[#000] px-[0.6vw] pt-[.2vw] cursor-pointer mt-[1px] h-[2vw] "
                        *ngFor="let marketTournament of tournament?.data; let iii = index"
                        (click)="gotoMarket(marketTournament)">
                        <div class="flex items-center gap-[0.78vw]">
                            <span class="pt-[0.1vw] text-[11.2px] truncate">{{marketTournament?.eventName}}</span>
                        </div>
                        <div class="flex items-center gap-2">
                            <!-- <span class="text-[#ffffff71]">{{tournament?.data?.length}}</span> -->
                            <div class="chbx  !bg-[#292929]"
                                [ngClass]="{'lastChild':currentRoute === `/market-detail/${marketTournament.sportId}/${marketTournament.exEventId}`}">
                            </div>
                        </div>
                    </div>
                    }

                </div>
                }
            </li>

        </ul>
    </div>
</div>




<div *ngIf="activeRoute === 'racing'" id="racing"
    class="custom-scrollbar-content lg:min-w-[198px]  xl:min-w-[252px] max-w-[252px] bg-black text-white h-[calc(100dvh-114px)] max-lg:absolute left-[-100%] mt-[0.92398vw]   overflow-auto">


    <div class="racing-menu">
        <ul class="sports">
            <li class="" routerLink="/racing/7" (click)="sendRacingId(7)" routerLinkActive="selected">
                <div sport="horseracing" class="img"></div> <span>Horse Racing</span> <span
                    class="match-count">({{racingLength && racingLength[0] || 0}})</span>
            </li>
            <li class="" routerLink="/racing/4339" (click)="sendRacingId(4339)" routerLinkActive="selected">
                <div sport="greyhound" class="img"></div> <span>Greyhound</span> <span
                    class="match-count">({{racingLength && racingLength[1] || 0}})</span>
            </li>
        </ul>
        <div class="upcoming">
            <p><span class="material-icons">timer</span> <span>UPCOMINGS</span></p>
            <ul>
                <ng-container *ngFor="let racing of racingTimeFilter">
                    @for (subRacing of racing.eventsData; track $index) {
                    <li class="" *ngIf="racingId == racing.sportId" (click)="gotoMarket(subRacing)">
                        <span [attr.country]="racing.tournamentName" class="flag">
                        </span> <span>{{racing.tournamentName}}</span> <span>{{ subRacing.eventTime| date :'H:mm'
                            }}</span>
                    </li> }
                </ng-container>

            </ul>
        </div>
    </div>
</div>