.bg-bg_inputBgColor{
    background-color: #272D33;
    color: white;
   
}

.bg-bg_backBtnBgColor {
    background-image: linear-gradient(115deg,rgba(95,168,238,.9),rgba(144,195,244,.9) 52.26%,rgba(186,221,255,.9) 101.35%);
    color: white;
}

.bg-bg_layBtnBgColor {
    background-image: linear-gradient(245deg,rgba(240,146,173,.9) -0.45%,rgba(252,170,193,.9) 48.62%,rgba(255,208,222,.9) 99.78%);
    color: white;
}

.bg-giftBoxGradient {
    background-image:linear-gradient(133deg, #11E311, #11E311 51.04%, #11E311);
    /* No visual effect, parent color shows through */
}

.bg-cricketHeaderGradient{
         background-color:#22272A;
        color: white;
}
.bg-bg_cashoutBtnGrad{
background: linear-gradient(98deg, #10e312 0.98%, #f4f490);
    color: #101318;
}

.stop-watch{
    background-color: rgba(0, 0, 0, .3);
}

