<div class="fixed bottom-0 w-full py-[11.250px] left-0 flex z-[999] bg-[#0A0C0E] border-t-[5px] border-[#CF2743]">
    <ul class="w-full flex px-[5.674vw] justify-between items-center relative">
        <li class="flex flex-col items-center justify-center gap-[0.709vw] relative opacity-[0.6]">
            <i class="text-[#04f06a] text-[18px] fa-solid fa-bars"></i>
            <span class="text-white uppercase text-[12px] font-bold" (click)="openSidebar()" >Menu</span>
        </li>
        <li class="flex flex-col items-center justify-center gap-[0.709vw] relative opacity-[0.6]">
            <i class="text-[#04f06a] text-[18px] fa-regular fa-life-ring"></i>
            <span class="text-white text-[12px] font-bold">Live</span>
        </li>
        <li class="flex flex-col items-center justify-center gap-[0.709vw] relative opacity-[0.6]">
            <i class="text-[#04f06a] text-[18px] fa-solid fa-sliders"></i>
            <span class="text-white text-[12px] font-bold">Betslip</span>
        </li>
        <li class="flex flex-col items-center justify-center gap-[0.709vw] relative opacity-[0.6]">
            <i class="text-[#04f06a] text-[18px] fa-solid fa-users-between-lines"></i>
            <span class="text-white text-[12px] font-bold">My Bets</span>
        </li>
        <li class="flex flex-col items-center justify-center gap-[0.709vw] relative opacity-[0.6]">
            <i class="text-[#04f06a] text-[18px] fa-solid fa-compass-drafting"></i>
            <span class="text-white text-[12px] font-bold">Drafts</span>
        </li>
        <span
            class="absolute flex gap-[7px] text-white bg-[#CF2743] rounded-sm left-1/2 top-[-54%] translate-x-[-50%] translate-y-[-50%] items-center justify-center w-[60px] h-[20px] leading-[20px]">
            <span class="font-bold text-[13px]">3+1</span>
            <i class="text-[12px] fa-solid fa-angle-up"></i>
        </span>
    </ul>
</div>