@media (max-width: 769px) {
  .page-title {
    height: 14vw;
    line-height: 14vw;
    padding: 0 6vw;
    font-size: 4.5vw;
    background-color: #111317;
    color: #fff;
    font-weight: 400;
  }

  .page-title .arrow {
    float: left;
    font-size: 24px;
    line-height: 14vw;
  }

  .page-title * {
    vertical-align: middle;
    align-content: center;
  }

  .page-title .title {
    float: right;
  }

  .page-title .icon {
    float: right;
    line-height: 14vw;
    font-size: 24px;
    max-height: 6vw;
    margin-right: 1.1vw;
    color: #fff;
  }

  .content {
    padding: 0 6vw;
    min-height: calc(100vh - 45vw);
    font-size: 3.5vw;
  }
}

@media (min-width: 770px) {
  .page-wrapper {
    position: relative;
    float: left;
    width: calc(100% - 253.125px);
    overflow: hidden;
    margin-left: 253.125px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .content {
    padding: 0;
  }
}

.table-container {
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 12.1875px;
}

::ng-deep table,
tbody,
thead,
th,
td {
  white-space: nowrap;
  text-align: center !important;
}

::ng-deep tbody:has(.dt-empty) {
  display: none;
}


::ng-deep div.dt-container .dt-paging .dt-paging-button,
::ng-deep div.dt-container .dt-paging .dt-paging-button:hover,
::ng-deep div.dt-container .dt-paging .dt-paging-button:active {
  background-color: #000000 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

::ng-deep div.dt-container .dt-paging .dt-paging-button.current,
::ng-deep div.dt-container .dt-paging .dt-paging-button.current:hover {
  background-color: #000000 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

::ng-deep div.dt-container .dt-paging .dt-paging-button.disabled,
::ng-deep div.dt-container .dt-paging .dt-paging-button.disabled:hover,
::ng-deep div.dt-container .dt-paging .dt-paging-button.disabled:active {
  background-color: #000000 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}


::ng-deep tfoot tr td .dt-column-title {
  text-align: center;
}

thead {
  background-color: #15191e;
  height: 50.63px;
}

::ng-deep tbody tr,
tfoot {
  height: 50.63px !important;
}

::ng-deep table,
tbody,
thead,
tr,
th,
td {
  border: solid 1px rgba(255, 255, 255, 0.1) !important;
}

::ng-deep div.dt-container div.dt-layout-row {
  margin: 1.5rem 0px;
}

::ng-deep div.dt-container div.dt-layout-row:first-child {
  margin-top: 0.75rem !important;
}

::ng-deep div.dt-container div.dt-layout-row:last-child {
  margin-bottom: 0.75rem !important;
}
