<div class="bg-[#14161B] roboto-medium  page-wrapper">

    <div class="page-title [@media(min-width:770px)]:!hidden ">
        <a class="material-icons arrow">arrow_back</a>
        <span class="title">Password History</span>
        <span class="material-icons icon">lock_person</span>
    </div>

    <div class="content">
        <div class="overflow-x-auto bg-white mt-5 table-container">
            <table datatable [dtOptions]="dtOptions">
                <thead class="bg-gray-100">
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Remarks
                        </th>
                        <th>
                            Date & Time
                        </th>
                    </tr>
                </thead>

                <tr *ngFor="let row of rows;let i=index">

                    <td> {{row.userName}}</td>
                    <td> {{row.remark}}</td>
                    <td>{{row.updatedAt | date : 'medium'}}</td>

                </tr>
                <tr class="odd" *ngIf="rows?.length==0">
                    <td class="no-data-available" colspan="10">No data!</td>
                </tr>

            </table>
        </div>

    </div>
</div>