<h3 class="all-sports" style="display: block; cursor: pointer;" (click)="isSportList = true">
    <span class="text-center">
        <a class="!text-white font-bold !opacity-[.6]">All Sports</a>
    </span>
</h3>


<!-- All sport List -->

<ul class="text-[#ffffff99]" *ngIf="isSportList">
    <li class="text-[3.5vw] mt-[2px]" *ngFor="let sport of sidebarEvent?.data" (click)="filterSubSport(sport.sportId)">
        <div class="sport-item   flex items-center justify-between">
            <span class="region-name font-bold">{{sport?.sportName}}</span>
            <span class="material-icons arrow -mt-[1px]">keyboard_arrow_right</span>
        </div>
    </li>



</ul>

<!-- All sport List -->



<!-- sport event List -->


<ul class="text-[#ffffff99] " *ngIf="!isSportList">
    <li class="text-[3.5vw] mt-[2px]" *ngFor="let sport of subSportList[0]?.data; let i = index">
        <div class="sport-item   flex items-center justify-between" (click)="openListChild(i)">
            <span class="region-name font-bold">{{sport?.tournamentName}}</span>
            <span class="material-icons arrow -mt-[1px]">keyboard_arrow_right</span>
        </div>

        <!-- sub sports list -->
        <ul class="champs text-[#ffffff]" *ngIf="sportIndex == i">
            <li class="flex justify-between items-center mt-[2px]" *ngFor="let subSport of sport?.data" (click)="gotoMarket(subSport)">
                <span class="region-name font-bold">{{subSport.marketName}}</span>
                <span class="material-icons arrow-forward pt-[2px]">arrow_forward</span>
            </li>
        </ul>
        <!-- sub sports list -->
    </li>
</ul>

<!-- sport event List -->