<h3 class="all-sports" style="display: block; cursor: pointer;">
    <span class="text-center">
        <a class="!text-white font-bold !opacity-[.6]">All Sports</a>
    </span>
</h3>


<!-- All sport List -->

<ul class="text-[#ffffff99]">
    <li class="text-[3.5vw] mt-[2px]">
        <div class="sport-item   flex items-center justify-between">
            <span class="region-name font-bold">Cricket</span>
            <span class="material-icons arrow -mt-[1px]">keyboard_arrow_right</span>
        </div>
    </li>

    <li class="text-[3.5vw] mt-[2px]">
        <div class="sport-item   flex items-center justify-between">
            <span class="region-name font-bold">Soccer</span>
            <span class="material-icons arrow -mt-[1px]">keyboard_arrow_right</span>
        </div>
    </li>
</ul>

<!-- All sport List -->



<!-- sport event List -->

<ul class="text-[#ffffff99]">
    <li class="text-[3.5vw] mt-[2px]">
        <div class="sport-item   flex items-center justify-between">
            <span class="region-name font-bold">Ball By Ball</span>
            <span class="material-icons arrow -mt-[1px]">keyboard_arrow_right</span>
        </div>

        <!-- sub sports list -->
        <ul class="champs text-[#ffffff]">
            <li class="flex justify-between items-center mt-[2px]">
                <span class="region-name font-bold">Ball By Ball</span>
                <span class="material-icons arrow-forward pt-[2px]">arrow_forward</span>
            </li>
        </ul>
        <!-- sub sports list -->
    </li>
</ul>

<!-- sport event List -->