<div class="prevent-select">
    <app-header class="relative z-[11]"></app-header>
    <app-sports-nav class="max-[820px]:hidden relative z-10"></app-sports-nav>
    <div class="flex lg:gap-[11px] xl:gap-[14px] layout-wrapper lg:px-[1vw]"
        *ngIf="activeRoute === 'market-detail' || activeRoute === '/' || activeRoute === 'racing' || activeRoute === 'competitions' || activeRoute === 'lottery' || activeRoute === 'virtual' || activeRoute === 'news' || activeRoute === 'lottery-details' || activeRoute === 'inplay' || activeRoute === 'ballByBall' || activeRoute === 'sport' ">

        <div class="lg:max-w-[198px] xl:max-w-[252px]">
            <app-sidebar></app-sidebar>
        </div>

        <!-- <div class="lg:hidden">
            <app-mobile-sidebar></app-mobile-sidebar>
        </div> -->

        <div
            class="mainRouter w-[100vw] flex-auto lg:w-full xg:w-[calc(100vw-608.5px)] max-md:h-[calc(100dvh-52px)] overflow-y-auto [scrollbar-width:none]">
            <app-sports-nav class="sport-nav-mobile"
                [ngClass]="{'hidden': activeRoute === 'market-detail' || activeRoute === 'ballByBall' }">
            </app-sports-nav>
            <router-outlet></router-outlet>

            <app-signup></app-signup>

            @if(forgetPass()){
            <app-forget-modal></app-forget-modal>
            }
        </div>

        <div id="rightSidebar"
            class="overflow-y-auto [scrollbar-width:none] max-lg:hidden lg:min-w-[242px] lg:max-w-[242px] xl:min-w-[308px] xl:max-w-[308px]">
            <app-betslip></app-betslip>
            <app-matched-bets></app-matched-bets>
        </div>

    </div>
    <div class="w-full layout-wrapper !overflow-y-auto"
        *ngIf="activeRoute !== 'market-detail' && activeRoute != '/' && activeRoute !== 'racing' && activeRoute !== 'competitions' && activeRoute !== 'lottery' && activeRoute !== 'virtual' && activeRoute !== 'news' && activeRoute !== 'lottery-details' && activeRoute !== 'inplay' && activeRoute !== 'ballByBall' && activeRoute !== 'sport' ">
        <router-outlet></router-outlet>
    </div>
    <div class="fixed left-0 bottom-0 w-full z-[999]">
        <app-bottom-nav></app-bottom-nav>
    </div>
</div>