@media (min-width: 820px) {
  .layout-wrapper {
    background-color: black;
    height: calc(100dvh - 117.32px);
    overflow: hidden;
  }
  .sport-nav-mobile{
    display: none;
  }
}


@media (min-width: 1512px) {
  .layout-wrapper {
    height: calc(100dvh - 98.78px);
  }
}


@media (min-width: 1601px) {
  .layout-wrapper {
    height: calc(100dvh - 117.32px);
  }
}