<section class="lg:hidden bg-[#13161b] min-h-screen overflow-hidden roboto-medium">
    <div class="px-[6vw] min-h-[calc(100vh-40vw)]">
        <div class="user-info text-white">
            <div class="username flex items-center">
                <span class="material-icons">person</span>
                <span>{{ toggle.username() }}</span>
            </div>
            <a class="balance">
                <span>{{this.userBalance?.data?.bankBalance - this.userBalance?.data?.exposure || '0.00'}}</span>
                <span>INR</span>
            </a>
        </div>
        <div class="payments flex justify-between">
            <a class="btn stroked">Withdraw</a>
            <a class="btn" (click)="toggleDeposit()">Deposit</a>
        </div>

        <ul>
            <li class="h-[15vw] leading-[15vw] flex items-start flex-col">
                <a routerLink="/account/personalinfo" class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">person</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Personal Info</span>
                </a>
            </li>
            <li class="h-[15vw] leading-[15vw] flex items-start flex-col">
                <a routerLink="/account/change-password" class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">lock</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Change Password</span>
                </a>
            </li>
            <!-- <li class="h-[15vw] leading-[15vw] flex items-start flex-col">
                <a routerLink="/account/bonuses" class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">stars</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Bonuses with promo code</span>
                </a>
            </li> -->
            <!-- <li class="h-[15vw] leading-[15vw] flex items-start flex-col">
                <a routerLink="/account/transactions" class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">history</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Transactions History</span>
                </a>
            </li> -->
            <!-- <li class="h-[15vw] leading-[15vw] flex items-start flex-col">
                <span class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">check_box</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Account Verification</span>
                </span>
            </li> -->

            <li class="h-[15vw] leading-[15vw] flex items-start flex-col" routerLink="/account/profit-loss">
                <span class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">trending_up</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Profit & Loss</span>
                </span>
            </li>

            <li class="h-[15vw] leading-[15vw] flex items-start flex-col" routerLink="/account/bet-history">
                <span class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">bar_chart</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Bet History</span>
                </span>
            </li>

            <li class="h-[15vw] leading-[15vw] flex items-start flex-col" routerLink="/account/activity-log">
                <span class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">event_note</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Activity Log</span>
                </span>
            </li>

            <li class="h-[15vw] leading-[15vw] flex items-start flex-col" routerLink="/account/account-statement">
                <span class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">receipt_long</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Account Statement</span>
                </span>
            </li>

            <li class="h-[15vw] leading-[15vw] flex items-start flex-col" routerLink="/account/password-history">
                <span class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">lock_person</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Password History</span>
                </span>
            </li>


            <li class="h-[15vw] leading-[15vw] flex items-start flex-col" (click)="logout()">
                <span class="flex items-center gap-[3px]">
                    <span
                        class="material-icons pt-1 text-[6vw] mr-[3vw] text-[#11e311] inline-block mt-[-1px]">power_settings_new</span>
                    <span class="text-[4.4vw] text-white pt-[2px]">Log Out</span>
                </span>
            </li>
        </ul>
    </div>
</section>


<div class="fixed inset-0 bg-black bg-opacity-50 flex  justify-center z-50 invisible" [ngClass]="{'!visible':isDeposit}"
    (click)="toggleDeposit()">
    <!-- Modal Box -->
    <div class="bg-[#272d33] p-4 rounded-lg max-h-fit mt-4 shadow-lg w-96 relative -translate-y-20 duration-300"
        [ngClass]="{'translate-y-0 duration-300':isDeposit}" (click)="$event.stopPropagation()">

        <!-- Input Field -->
        <input type="number" placeholder="Deposit Amount*"
            class="w-full h-[41.62px] box-border text-white outline-none bg-[#151414] pl-[16.03px] border border-[#242833] text-[14.02px]  rounded-[10.02px]"
            #depositInput name="deposit-amount" />

        <!-- Minimum Amount Note -->
        <p class="text-white ml-1 font-semibold mt-3 mb-4">
            Minimum deposit Amount is 100.
        </p>

        <!-- Button -->
        <div class="w-full justify-center flex">
            <button class="bg-[rgb(17,227,17)] text-white px-5 py-2 rounded">
                Deposit
            </button>
        </div>
    </div>
</div>