<div class="bg-[#13161B] pb-[75px] h-full overflow-x-hidden overflow-y-auto">
    <div class="flex justify-center items-center py-[9.98976px] text-white">
        <div>
            <h1 class="text-[21.4062px] font-bold">
                <span class="text-[#11e311]">Lottery </span> Games
            </h1>
        </div>
    </div>

    @if (loader) {
    <div class="loader-wrapper w-full lg:hidden justify-center">
        <div class="loader"></div>
    </div>
    }
    <ul class="p-[10.406px] grid grid-cols-3 md:grid-cols-5 gap-[10.406px]">
        @for (item of data; track $index) {
        <li>
            <div class="bg group" [ngStyle]="{'background-image': 'url(' + item.url + ')'}">
                <div class="slot-hover">
                    <img src="/assets/images/play.svg" alt="">
                    <div class="star-wrapper">
                        <span class="material-icons text-[24px] float-right ">favorite_border</span>
                    </div>
                </div>
                <div
                    class="game-title absolute h-[1.7031rem] flex items-center justify-center px-[0.6387rem] bottom-0 w-full z-[1] pointer-events-none">
                    <h1 class="pt-2 md:pt-0 truncate text-[12px] poppins-regular !font-bold text-white">
                        {{item.eventName}}
                    </h1>
                </div>
            </div>
        </li>
        }
    </ul>
</div>