<div class="bg-[#13161B]">
    <div class="flex justify-center items-center py-[9.98976px] text-white">
        <div>
            <h1 class="text-[21.4062px] font-bold">
                <span class="text-[#11e311]">Popular </span> Slots
            </h1>
        </div>
    </div>

    <ul class="p-[10.406px] overflow-hidden grid [grid-template-columns:repeat(3,_1fr);] gap-[10.406px]">
        <li class="rounded-[7.49232px] overflow-hidden">
            <div
                class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
            </div>
        </li>

        <li class="rounded-[7.49232px] overflow-hidden">
            <div
                class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
            </div>
        </li>

        <li class="rounded-[7.49232px] overflow-hidden">
            <div
                class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
            </div>
        </li>

        <li class="rounded-[7.49232px] overflow-hidden">
            <div
                class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
            </div>
        </li>

        <li class="rounded-[7.49232px] overflow-hidden">
            <div
                class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
            </div>
        </li>

        <li class="rounded-[7.49232px] overflow-hidden">
            <div
                class="relative pt-[81%] bg-cover bg-center overflow-hidden cursor-pointer [background-image:url('/assets/images/24,077b1a7b66f435.gif')]">
            </div>
        </li>
    </ul>
</div>