.bg-bg_inputBgColor {
  background-color: #22272a;
  color: white;
}
.profit {
  color: #11e311;
}
.loss {
  color: #ff0000 !important;
}
.bg-bg_backBtnBgColor {
  background: var(--back-bg-clr);
  color: var(--back-txt-clr);
}

.bg-bg_layBtnBgColor {
  background: var(--lay-bg-clr);
  color: var(--lay-txt-clr);
}

.bg-giftBoxGradient {
  background-image: linear-gradient(133deg, #31e61496, #048206 51.04%, #065a07);
  /* No visual effect, parent color shows through */
}

.bg-cricketHeaderGradient {
  background-color: #22272a;
  color: white;
}
.bg-bg_cashoutBtnGrad {
  background: linear-gradient(98deg, #10e312 0.98%, #f4f490);
  color: #101318;
}
.text-x {
  font-weight: 400;
  font-size: 10px;
}

.stop-watch {
  background-color: rgba(0, 0, 0, 0.3);
  @apply flex-item-center gap-0.5 py-0.5 px-1;
}

.border-solid {
  border-color: #525253;
}

.runnerBox {
  border-bottom: 1px solid #37383a;
  background: linear-gradient(90deg, #000000 -13.95%, #1a1e24 83.91%);
}

@media screen and (min-width: 819px) {
  .bg-bg_inputBgColor {
    background-color: #202225;
    color: white;
  }
}

.text-text_color_primary2 {
  color: #fff !important;
}

.bg-bg_text_brand_primary {
  background-image: linear-gradient(133deg, #31e61496, #048206 51.04%, #065a07);
}

.border-border_color_brand_primary {
  border-color: #11e311 !important;
}

.bg-bg_color_primary {
  background-color: #1f2c3d;
}

.border-border_color_primary {
  border-color: #545454;
}

.text-text_color_tertiary2 {
  color: #9c9c9c;
}

.text-text_color_primary1 {
  color: white;
}

.text-text_color_oddValue {
  color: #000;
}

.bg-bg_color_layBtnBg {
  background-color: #f9c9d4;
}

.bg-bg_color_backBtnBg {
  background-color: #a7d8fd;
}

.flex-item {
  @apply flex items-center justify-between;
}

.flex-item-center {
  @apply flex items-center justify-center;
}

.active-item {
  @apply border-b-[2px] border-[#11E311];
}

.title-wraper {
  @apply w-full sticky -top-0.5 left-0 right-0 z-[9];
}

.game-title {
  @apply flex items-center justify-between gap-y-1 flex-col w-full px-4 py-2 relative;
}

.left-info {
  @apply absolute bottom-[-5.879px] top-0 w-[38%] left-0 h-[108%] z-0 blur-[97px];
}

.right-info {
  @apply absolute bottom-[-5.879px] top-0 w-[38%] right-0 h-[108%] z-0 blur-[157px];
}

.match-title {
  @apply flex items-center justify-center px-1.5 py-1.5 rounded-full gap-0.5 pr-2.5 shadow-sm;
}

.match-span {
  @apply inline-block w-2.5 h-2.5 z-0 rounded-full bg-red-600;
}

.match-item {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1.5 h-1.5 inline-block z-[2] rounded-full bg-red-600;
}

.match-status {
  @apply font-[roboto] text-xs font-medium;
}

.info-btn {
  @apply inline-block leading-normal relative overflow-hidden active:scale-90 transition-all duration-300 ease-in-out cursor-pointer px-1;
}

.match-eventname {
  @apply w-full flex items-start justify-between gap-x-2 min-h-max;
}

.match-event-wrapper {
  @apply flex items-start justify-start gap-y-[2px] flex-col w-full h-max;
}

.eventName {
  @apply font-[roboto] text-[#e1d7d7] text-base font-semibold w-full break-words whitespace-normal;
}

.competitionName {
  @apply font-[roboto] text-[13px] text-[#99a3ac] font-medium lg:w-full lg:flex items-center justify-between;
}

.page-tabs {
  @apply w-full border-b border-solid lg:hidden;
}

.tabs-wrapper {
  @apply flex flex-row font-[roboto] items-center justify-start overflow-x-auto gap-0 text-nowrap capitalize text-[12px] px-1 relative bg-black;
}

.tab-wrapper {
  @apply cursor-pointer w-full flex flex-row items-center justify-center;
}

.tab-title {
  @apply py-2.5 px-1.5 text-[12px] text-[#888A8C] md:text-[13px] lg:text-base font-bold leading-4 active:scale-95 flex-item-center gap-x-1 block z-10;
}

.tab-overlay {
  @apply w-full h-1 absolute bottom-0 z-[1] transition-all ease-in-out duration-150;
  width: 105.5px;
  bottom: 0px;
  left: 4px;
  height: 3px;
  border-radius: 10px;
}

.rules-overlay {
  @apply fixed bottom-0 transform-gpu  left-0 right-0 top-0 overflow-hidden flex overflow-y-hidden z-[10000] h-[100dvh] w-dvw items-center justify-center;
}

.rules-bg {
  @apply fixed inset-0 w-full h-full bg-black/10 backdrop-blur-sm;
}

.rule-wrapper {
  @apply relative bg-[#22272a] w-[94%] h-[70%] max-w-[550px] flex justify-start overflow-y-auto flex-col rounded-lg py-4;
}

.rule-heading {
  @apply text-xl md:text-2xl font-semibold font-[roboto];
}

.close-rules-btn {
  @apply cursor-pointer rounded-full p-1 size-7 active:scale-95 transition-all duration-300;
}

.rule-text-wrapper {
  @apply flex-1 overflow-y-hidden [scrollbar-width:none];
}

.rule-container {
  @apply w-full space-y-4 px-2 py-2 md:px-4;
}

.rule-item {
  @apply flex flex-col sm:flex-row gap-3 items-start sm:items-center justify-between;
}

.rule-search-container {
  @apply flex items-center w-full flex-1 border py-2 pl-1.5 pr-2 rounded-md focus-within:border-[#00aa30] transition-all;
}

.rule-searchbar {
  @apply pl-2 flex-grow min-w-0 border-none focus:outline-none bg-transparent;
}

.expand-btn {
  @apply px-3 py-1.5 text-xs bg-[#374151] rounded-md hover:bg-[#374151] transition-colors focus:outline-none focus:ring-2;
}

.rule-btn-wrapper {
  @apply bg-[#22272a] border border-[#676767] max-h-[calc(70dvh-117px)] overflow-hidden;
}

.rule-text-heading {
  @apply relative w-full flex-item p-4 text-left transition-colors duration-200 focus:outline-none;
}

.rule-after {
  @apply after:content-[''] after:absolute after:h-[1px] after:w-[91%] lg:after:w-[95%] after:bg-[#11e311] after:bottom-0 after:left-1/2 after:translate-x-[-50%];
}

.rule-text {
  @apply font-semibold text-white text-base leading-6 flex-1 text-left;
}

.toggle-text {
  @apply ml-3 flex-shrink-0 transition-transform duration-300 ease-in-out;
}

.rule-text-container {
  @apply overflow-auto transition-all duration-300 ease-in-out max-h-[calc(70dvh-117px)];
}

.match-odds-wrapper {
  @apply flex-item-center flex-col  w-full rounded-md font-[roboto];
}

.match-container {
  @apply flex-item py-1.5 px-2 w-full relative rounded-tr-[4px] rounded-tl-[4px];
}

.match-effect {
  @apply absolute top-0 left-0 h-full w-[88%];
}

.match-box {
  @apply inline-block leading-normal relative overflow-hidden rounded-md px-1.5 py-0.5 text-center shadow-[inset_-12px_-8px_40px_#46464620] flex-item-center flex-col flex-wrap w-max h-max mr-1  active:scale-[98%] transition-all duration-300 ease-in-out cursor-pointer;
}

.second-box {
  @apply inline-block  leading-normal relative overflow-hidden rounded-md px-1.5 py-0.5 text-center shadow-[inset_-12px_-8px_40px_#46464620] flex-item-center flex-col flex-wrap w-max h-max mr-1 active:scale-[98%] transition-all duration-300 ease-in-out cursor-pointer;
}

.cricket-ico {
  @apply absolute top-0 right-[7%] h-full w-[29%];
}

.marketname {
  @apply font-[roboto] text-sm lg:text-[13px] font-medium capitalize;
}

.sm-text {
  @apply text-[10px] md:text-[12px] whitespace-nowrap;
}

.betdelay {
  @apply font-[roboto] text-xs font-medium tracking-widest;
}

.backlay {
  @apply col-span-5 md:col-span-7 grid grid-cols-2 md:grid-cols-6 pb-[2px] w-[40%] md:w-[60%];
}

.disable-btns {
  @apply col-span-1 text-center font-semibold h-full hidden md:flex items-end justify-center;
}

.valued-btns {
  @apply col-span-1 text-center text-[10px] sm:text-xs md:text-sm leading-[3] font-bold h-full flex items-end justify-center;
}

.matchcontainer {
  @apply flex-item relative z-[1] gap-1 w-[60%] md:w-[40%];
}

.runner-container {
  @apply flex-item w-full pr-0.5 pl-2 !border-none md:border;
}

.marketContainer {
  @apply flex items-start justify-start flex-col w-full pb-20;
}

.runnerContainer {
  @apply flex flex-col w-full gap-[1px] md:gap-[1.2px];
}

.runnerStarter {
  @apply md:w-[40%] w-[60%] grid grid-cols-3 items-center;
}

.runnerId {
  @apply flex items-start justify-start gap-y-[1px] flex-col w-full col-span-3;
}

.runnerId-text {
  @apply font-[roboto] text-sm text-[13px] font-medium capitalize text-[#888a8c] w-full truncate;
}

.runnerBox-container {
  @apply md:w-[60%] flex items-start gap-0 w-[40%];
}

.btns-wrapper {
  @apply rounded-none w-full grid-cols-2 text-[13px] overflow-hidden gap-[1.1px] flex;
}

.marketBox-wrapper {
  @apply leading-normal relative overflow-hidden  transition duration-150 ease-in-out h-[43px] col-span-1 w-full md:w-[20%] flex-item-center active:opacity-70 flex flex-col items-center justify-center disabled:opacity-80 font-bold  cursor-pointer active:scale-[98%];
}

.fancyul {
  @apply text-base font-medium text-center py-1.5 w-full mt-4;
}

#fancyul {
  @apply w-full flex flex-nowrap overflow-x-auto whitespace-nowrap items-center justify-start gap-x-2 [scrollbar-width:none];
}

.fancyItem {
  @apply px-[15px] py-2 rounded-[100px] flex-item-center  cursor-pointer active:scale-95 transition-all ease-in-out duration-100 text-[#9c9c9c] bg-[#1f2c3d] border-[#545454];
}

.fancyText {
  @apply inline-block font-bold  text-xs sm:text-sm md:text-base leading-4;
}

.fancy-market {
  @apply w-full md:col-span-6 col-span-7 grid grid-cols-12 grid-flow-col;
}

.market-status {
  @apply col-span-5 md:col-span-6 grid grid-cols-2 md:grid-cols-6 relative;
}

.fancy-text {
  @apply text-white flex items-end justify-center col-span-1 md:col-span-2;
}

.fancy-title {
  @apply rounded-[3px] shadow-[0_8px_30px_rgb(0,0,0,0.12)] my-[0.6px] cursor-pointer;
}

.fancy-wrapper {
  @apply w-full md:col-span-6 col-span-7 h-12 grid grid-cols-12 grid-flow-col pl-2.5 md:pl-2 py-0.5 pr-[3px];
}

.fancyMarketName {
  @apply w-full flex-1 flex items-center text-start capitalize text-white text-[13px] md:text-sm font-semibold truncate overflow-hidden text-ellipsis min-w-0 pr-0.5 md:pr-0;
}

.marketName-wrapper {
  @apply absolute z-10 min-w-[120%] sm:min-w-max max-w-[300px] px-3 py-2 text-xs rounded-lg transition-all duration-300 ease-in-out shadow-lg opacity-0 scale-95 translate-y-1 pointer-events-none bottom-full mb-2 left-0;
}

.spanMark {
  @apply leading-relaxed break-words font-bold text-xs md:text-sm;
}

.spanOverlay {
  @apply absolute w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent transition-all duration-300 top-full left-3;
}

.fancyDelay {
  @apply col-span-2 md:col-span-1 flex flex-row items-center justify-center gap-x-[2px];
}

.minMax {
  @apply col-span-2 md:col-span-1 flex flex-row items-center justify-end pr-[3px];
}

.minmax-text {
  @apply w-[130px] transition-all h-0 rounded-sm absolute top-4 right-[5px] bg-white text-black text-[12px] flex-item-center overflow-hidden;
}

.fancy-wrap {
  @apply col-span-5  md:col-span-6  h-12 grid grid-cols-2 md:grid-cols-6 relative;
}

#hideScrollBar {
  @apply w-full overflow-x-auto flex h-full sm:px-[2px];
}

.fancy-cont {
  @apply w-full h-full grid grid-cols-2 gap-x-[1px];
}

.fancy-container {
  @apply overflow-hidden relative opacity-100 cursor-pointer active:scale-95 px-1 rounded-sm flex flex-col transition-colors duration-300 ease-in-out items-center justify-center w-full h-full text-black;
}

.oddBtnPrice {
  @apply relative z-[1] transition-all ease-in-out duration-300 origin-center flex-item-center w-full leading-5 text-sm md:text-[15px] font-semibold;
}

.oddBtnSize {
  @apply relative z-[1] transition-all ease-in-out duration-300 origin-center flex-item-center w-full text-[10px]  leading-3 text-center whitespace-normal font-normal;
}

.fancyWrapper {
  @apply col-span-8 md:col-span-10 h-full flex flex-col items-start justify-center;
}

.fancyContent {
  @apply w-full sm:w-max flex flex-nowrap h-max relative;
}

.fancyBack {
  @apply overflow-hidden relative opacity-100 cursor-pointer active:scale-95 px-1 rounded-sm flex flex-col transition-colors duration-300 ease-in-out items-center justify-center w-full text-black h-full;
}

.minBet {
  @apply hidden md:block col-span-2 text-center min-h-12;
}

.minBet-wrap {
  @apply flex flex-col gap-y-1 items-center h-full w-full  justify-center  px-1 text-[#9c9c9c];
}

.sportbook {
  @apply grid grid-flow-col grid-cols-12 text-white text-xs font-[500] mb-1.5;
}

.sportbook-wrapper {
  @apply pl-1 flex items-center justify-start gap-x-1 md:gap-x-1 col-span-8 md:col-span-6;
}

.sportbook-title {
  @apply capitalize font-bold text-xs sm:text-sm md:text-[15px] flex items-start justify-start flex-col;
}

.sportbook-status {
  @apply col-span-4 md:col-span-6 grid grid-cols-2 md:grid-cols-6 pb-[2px] w-full;
}

.sport-space {
  @apply md:col-span-2 col-span-1 text-center text-[10px] sm:text-xs md:text-sm leading-3 font-bold h-full items-end justify-center;
}

.sportRunner {
  @apply rounded-[3px] shadow-[0_8px_30px_rgb(0,0,0,0.12)] py-[1px] cursor-pointer;
}

.sportWrap {
  @apply grid grid-cols-12 border-b border-black;
}

.sport-items {
  @apply w-full md:col-span-6 col-span-7 h-12 grid grid-cols-12 grid-flow-col pl-2.5 md:pl-2 py-0.5 pr-[3px];
}

.sport-items-wrapper {
  @apply col-span-8 md:col-span-10 h-full flex flex-col items-start justify-center;
}

.sport-container {
  @apply w-full sm:w-max flex flex-nowrap h-max relative;
}

.sportId {
  @apply w-full flex-1 flex items-center text-start capitalize text-white text-[13px] md:text-sm font-semibold truncate overflow-hidden text-ellipsis min-w-0 pr-0.5 md:pr-0;
}

.sportData {
  @apply absolute z-10 min-w-[120%] sm:min-w-max max-w-[300px] px-3 py-2 text-xs rounded-lg transition-all duration-300 ease-in-out shadow-lg opacity-0 scale-95 translate-y-1 pointer-events-none bottom-full mb-2 left-0;
}

.Subdata {
  @apply absolute w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent transition-all duration-300 top-full left-3;
}

.sport-first {
  @apply col-span-2 md:col-span-1 flex flex-row items-center justify-center gap-x-[2px];
}

.sport-second {
  @apply col-span-2 md:col-span-1 flex flex-row items-center justify-end pr-[3px];
}

.sport-wrapper {
  @apply col-span-5  md:col-span-6  h-12 grid grid-cols-2 md:grid-cols-6 relative;
}

.sport-wrap {
  @apply w-full h-full grid grid-cols-1 gap-x-0.5 pr-[2px];
}

.ruleas {
  @apply flex-item sticky top-0 z-10 px-4 py-2;
}

.market-value {
  @apply !text-[10px] text-green-500;
}

.popUpOpenAnimation1 {
  animation: popUpOpenAnimation1 0.31s ease-in-out;
}

@keyframes popUpOpenAnimation1 {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.rules-container {
  color: white !important;
}
:host ::ng-deep .rules-container p {
  color: white !important;
  margin-bottom: 1rem !important;
}

.suspended {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  background: linear-gradient(90deg, #a7d8fd, #f9c9d4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: #1e3f5a;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.suspended-SportsBook {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  background: #87efac;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: #1e3f5a;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  .showMobile {
    display: none;
  }
}
