<div class="page-wrapper">
    <ul class="tabs">
        <li class="active">
            <span>Freespins</span>
            <span class="total-count visible disabled">0</span>
        </li>

        <li>
            <span>FreeBets</span>
            <span class="total-count visible disabled">0</span>
        </li>

        <li>
            <span>Mini Games</span>
            <span class="total-count visible disabled">0</span>
        </li>

        <li>
            <span>Bonus</span>
            <span class="total-count visible disabled">0</span>
        </li>
    </ul>

    <section class="freespins">
        <table>
            <thead>
                <tr>
                    <th>Create Time</th>
                    <th>FreeSpin Count</th>
                    <th>Expiration Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>