header {
  position: relative;
  height: 52px;
}

header .content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: #272d33;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 99;
  padding: 0 12.4872px;
  box-sizing: border-box;
  transition: 0.2s ease;
}

header .content .logo-area {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

header .content .logo {
  float: left;
  text-align: center;
  box-sizing: border-box;
  margin-right: auto;
}

header .content .logo img {
  height: 8vw;
  max-width: 26vw;
  @apply md:max-h-[42px];
}

a img {
  vertical-align: middle;
}

header .content #not-authorized.visible {
  display: -webkit-box;
  display: flex;
  gap: 5px;
}

header .content #not-authorized .btn {
  height: 32px;
  font-size: 14px;
  min-width: 108px;
  padding: 0 2px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  color: #fff;
}

header .content #not-authorized .btn.registration {
  background: #13161b;
}

.btn {
  position: relative;
  line-height: normal;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  transition: 0.2s ease;
}

header .content #not-authorized .btn.login {
  background: #11e311;
}

header form .fields-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-right: 2.2rem;
}

header form .fields-wrapper > div {
  gap: 0.5333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

header .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.533rem;
  border-radius: 3px;
}

header form .fields-wrapper .field input {
  height: 24px;
  width: 99px;
  padding: 0 10px !important;
  background: #272d33;
  border: 0;
  border-radius: 3px;
  font-size: 0.8667rem;
  color: #fff;
  outline: none;
}

header form .fields-wrapper .field:nth-child(2) {
  position: relative;
  background: #272d33;
}

header form .fields-wrapper .field:nth-child(2) .forgot-pass {
  position: absolute;
  right: 2px;
}

header .change-lang div.current-lang {
  text-transform: uppercase;
  margin-left: 1.1333rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  gap: 0.3333rem;
  width: 90px;
  height: 2.6667rem;
  border-radius: 10px;
  background: rgba(39, 45, 51, 0.5);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lang-text {
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
}

/* header .change-lang div.current-lang img {
  width: 41px;
  height: 21px;
  border-radius: 3px;
} */

@media (min-width: 820px) {
  header .content {
    background: #171717 !important;
    height: 38px;
  }
  header {
    position: relative;
    height: 38px;
  }

  header form .fields-wrapper {
    margin-right: 19.8px;
  }

  header .change-lang div.current-lang img {
    width: 24px;
    height: 12px;
    border-radius: 3px;
  }

  header .change-lang div.current-lang {
    text-transform: uppercase;
    margin-left: 1.1333rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    gap: 0.3333rem;
    width: 90px;
    height: 24px;
    border-radius: 10px;
    background: rgba(39, 45, 51, 0.5);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  header form .fields-wrapper {
    margin-right: 22px;
  }
  header .content {
    background: #171717 !important;
    height: 42.66px;
    max-width: 908px;
    padding: 0 0px;
    margin: 0 auto;
    position: relative;
  }

  .lang-text {
    font-size: 9px;
  }

  header {
    position: relative;
    height: 42.66px;
    background: #171717 !important;
  }

  header form .fields-wrapper .field input {
    height: 26px;
    width: 110px;
  }

  header form .fields-wrapper .field:nth-child(2)::after {
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;
    right: 2.5333rem;
    background: rgba(255, 255, 255, 0.2);
  }

  header .change-lang div.current-lang img {
    width: 27px;
    height: 14px;
    border-radius: 3px;
  }

  header .change-lang div.current-lang {
    text-transform: uppercase;
    margin-left: 1.1333rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    gap: 0.3333rem;
    width: 60px;
    height: 26px;
    border-radius: 10px;
    background: rgba(39, 45, 51, 0.5);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  header .content {
    background: #171717 !important;
    height: 64px;
    max-width: 1362px;
    padding: 0 0px;
    margin: 0 auto;
    position: relative;
  }

  .lang-text {
    font-size: 14px;
  }

  header {
    position: relative;
    height: 64px;
    background: #171717 !important;
  }

  header form .fields-wrapper .field input {
    height: 40px;
    width: 160px;
  }

  header form .fields-wrapper .field:nth-child(2)::after {
    content: "";
    height: 35px;
    width: 1px;
    position: absolute;
    right: 2.5333rem;
    background: rgba(255, 255, 255, 0.2);
  }

  header .change-lang div.current-lang img {
    width: 41px;
    height: 21px;
    border-radius: 3px;
  }

  header form .fields-wrapper {
    margin-right: 2.2rem;
  }

  header .change-lang div.current-lang {
    text-transform: uppercase;
    margin-left: 1.1333rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    gap: 0.3333rem;
    width: 90px;
    height: 2.6667rem;
    border-radius: 10px;
    background: rgba(39, 45, 51, 0.5);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  header form .fields-wrapper .field:nth-child(2) .forgot-pass {
    position: absolute;
    right: 7px;
  }
}
