<!-- <header>
    <div class="content">
        <div class="logo-area">
            <div class="logo"><a href="/en/"><img src="https://static.inpcdn.com/112,1c3cd62c481703.webp"></a></div>
            <div class="authorized-content">
                <ul>
                    <li class="gifts"><a href="/en/account/freespins"><img src="/assets/images/gifts.png?v2" alt="">
                            <div class="count"></div>
                        </a></li>
                    <li class="notifications-item"><a href="/en/account/notifications"><img
                                src="/assets/images/notifications.png?v2" alt="">
                            <div class="notifications-count"></div>
                        </a></li>
                </ul>
            </div>
        </div>
        <label class="lang"><select name="lang">
                <option value="br" text_key="LANGUAGE__BR">BR</option>

                <option value="es" text_key="LANGUAGE__ES">ES</option>

                <option value="fr" text_key="LANGUAGE__FR">FR</option>

                <option value="de" text_key="LANGUAGE__DE">DE</option>

                <option value="fi" text_key="LANGUAGE__FI">FI</option>

                <option value="nn" text_key="LANGUAGE__NN">NN</option>

                <option value="it" text_key="LANGUAGE__IT">IT</option>

                <option value="ru" text_key="LANGUAGE__RU">RU</option>
            </select>
        </label>
        <div id="authorized">
            <div class="user-info"><a class="balance"><span class="amount"></span> <span class="currency"></span> </a><a
                    class="deposit-money"><img src="/assets/images/header/deposit-money.svg" alt="deposit"
                        style="height: 18px;"> </a>
            </div>
            <a class="user-icon">
                <span class="material-icons icon">person</span>
            </a>
        </div>
        <div id="not-authorized" class="visible"><a href="/en/" class="btn registration open-registration-popup"
                text_key="LOGIN__SIGNUP">Sign Up</a> <a href="/en/static/login" class="btn login open-login-popup"
                text_key="LOGIN__LOGIN">Log
                In</a></div>
    </div>
</header> -->