<div class="bg-[#14161B] roboto-medium  page-wrapper">

    <div class="page-title [@media(min-width:770px)]:!hidden ">
        <a class="material-icons arrow" routerLink="/account/nav">arrow_back</a>
        <span class="title">Bet History</span>
        <span class="material-icons icon">trending_up</span>
    </div>

    <div class="content">
        <form class="filters w-full">
            <ul>
                <li>
                    <div class="title remove-element">Start Date</div>
                    <input name="from-date" type="date" [(ngModel)]="startDate">
                </li>

                <li>
                    <div class="title remove-element">End Date</div>
                    <input name="from-end-date" type="date" [(ngModel)]="endDate">
                </li>

                <li>
                    <div class="title remove-element">Data Type</div>
                    <select name="operation" class="operation-type" [(ngModel)]="selectedDataSource"
                        (ngModelChange)="onDataSourceChange($event)">
                        <option value="">Data Source</option>

                        <option value="LIVE">LIVE DATA</option>

                        <option value="BACKUP">BACKUP DATA</option>

                        <option value="OLD">OLD DATA</option>
                    </select>
                </li>

                <li>
                    <div class="title remove-element">Bet Type</div>
                    <select name="operation-type " class="operation-type" [(ngModel)]="betStatus">
                        <option value="none">Bet Type</option>
                        <option value="settle">
                            Settle</option>
                        <option value="void">
                            Void</option>
                        <option value="unsettle">
                            Unsettled</option>
                    </select>
                </li>

                <li>
                    <div class="title remove-element">Sport Type</div>
                    <select name="type" class="operation-type" [(ngModel)]="reportType">
                        <option value="" disabled="disabled">Sport Type</option>
                        <option [value]="item.sportId" *ngFor="let item of popularSportList; let i = index">
                            {{ item.sportName }}
                        </option>
                    </select>
                </li>

                <li>
                    <div class="title"></div>
                    <button type="submit" class="btn flex justify-center items-center" (click)="rerender()">
                        <span>Get P&L</span>
                        @if(loader){
                        <svg aria-hidden="true"
                            class="w-4 h-4 ml-2 text-gray-200 animate-spin dark:text-gray-600 fill-[#11e311]"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                        }
                    </button>
                </li>

            </ul>


        </form>

        <div class="overflow-x-auto bg-white mt-5 table-container">
            <table datatable [dtOptions]="dtOptions"
                class="datatable row-border no-footer table table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">Sport Name</th>
                        <th class="text-center" style="min-width: 120px;">Event Name</th>
                        <th class="text-center">Market name</th>
                        <th class="text-center">Selection</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Odds Req.</th>
                        <th class="text-center">Stake</th>
                        <th class="text-center ">Place Time</th>
                        <th class="text-center ">Matched Time</th>
                    </tr>
                </thead>
                <tbody *ngIf="historyList.length > 0">
                    <tr *ngFor="let history of historyList">

                        <td class="text-center">{{history.sportName}}</td>
                        <td class="text-center">{{history.eventName}}</td>
                        <td class="text-center">{{history.marketName}}</td>
                        <td class="text-center">{{history.selectionName}}</td>
                        <td class="text-center" [ngClass]=" [ history.type == 'L' ? 'lay-text' : 'back-text'] ">
                            <b>{{history.type == 'L' ? 'Lay' : 'Back'}}</b>
                        </td>
                        <td class="!text-center">
                            {{history.oddsPrice }}/{{(history.oddsRate != 0 ? history.oddsRate : 1)}}
                        </td>
                        <td class="!text-center"> <b>{{history.stake}}</b> </td>
                        <td class="text-center">{{history.createdAt | date : 'dd-MM-YYYY H:mm:ss a'}}</td>
                        <td class="text-center">{{history.matchedTime | date : 'dd-MM-YYYY H:mm:ss a'}}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="historyList.length == 0">
                    <tr>
                        <td colspan="9" style="text-align:center;">No data!</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>


</div>