<div class="bg-[#14161B] roboto-medium  page-wrapper">

    <div class="page-title [@media(min-width:770px)]:!hidden ">
        <a class="material-icons arrow" routerLink="/account/nav">arrow_back</a>
        <span class="title">Profit Loss</span>
        <span class="material-icons icon">trending_up</span>
    </div>

    <div class="content">
        <form class="filters w-full">
            <ul>
                <li>
                    <div class="title remove-element">Start Date</div>
                    <input name="from-date" type="date" [(ngModel)]="startDate">
                </li>

                <li>
                    <div class="title remove-element">End Date</div>
                    <input name="from-end-date" type="date" [(ngModel)]="endDate">
                </li>

                <li>
                    <div class="title remove-element">Data Type</div>
                    <select name="operation" class="operation-type" [(ngModel)]="selectedDataSource"
                        (ngModelChange)="onDataSourceChange($event)">
                        <option value="">Data Source</option>

                        <option value="LIVE">LIVE DATA</option>

                        <option value="BACKUP">BACKUP DATA</option>

                        <option value="OLD">OLD DATA</option>
                    </select>
                </li>

                <li>
                    <div class="title remove-element">Bet Type</div>
                    <select name="operation-type " class="operation-type" [(ngModel)]="betStatus">
                        <option value="none">Bet Type</option>
                        <option value="settle">
                            Settle</option>
                        <option value="void">
                            Void</option>
                        <option value="unsettle">
                            Unsettled</option>
                    </select>
                </li>

                <li>
                    <div class="title remove-element">Sport Type</div>
                    <select name="type" class="operation-type" [(ngModel)]="reportType">
                        <option value="" disabled="disabled">Sport Type</option>
                        <option [value]="item.sportId" *ngFor="let item of popularSportList; let i = index">
                            {{ item.sportName }}
                        </option>
                    </select>
                </li>

                <li>
                    <div class="title"></div>
                    <button type="submit" class="btn" (click)="rerender()">Get P&L</button>
                </li>

            </ul>


        </form>

        <div class="overflow-x-auto bg-white mt-5 table-container">
            <table datatable [dtOptions]="dtOptions"
                class="datatable row-border no-footer table table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">Sport Name</th>
                        <th class="text-center" style="min-width: 120px;">Event Name</th>
                        <th class="text-center">Market name</th>
                        <th class="text-center">Selection</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Odds Req.</th>
                        <th class="text-center">Stake</th>
                        <th class="text-center ">Place Time</th>
                        <th class="text-center ">Matched Time</th>
                    </tr>
                </thead>
                <tbody *ngIf="historyList.length > 0">
                    <tr *ngFor="let history of historyList">

                        <td class="text-center">{{history.sportName}}</td>
                        <td class="text-center">{{history.eventName}}</td>
                        <td class="text-center">{{history.marketName}}</td>
                        <td class="text-center">{{history.selectionName}}</td>
                        <td class="text-center" [ngClass]=" [ history.type == 'L' ? 'lay-text' : 'back-text'] ">
                            <b>{{history.type == 'L' ? 'Lay' : 'Back'}}</b>
                        </td>
                        <td class="!text-center">
                            {{history.oddsPrice }}/{{(history.oddsRate != 0 ? history.oddsRate : 1)}}
                        </td>
                        <td class="!text-center"> <b>{{history.stake}}</b> </td>
                        <td class="text-center">{{history.createdAt | date : 'dd-MM-YYYY H:mm:ss a'}}</td>
                        <td class="text-center">{{history.matchedTime | date : 'dd-MM-YYYY H:mm:ss a'}}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="historyList.length == 0">
                    <tr>
                        <td colspan="9" style="text-align:center;">No data!</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>


</div>