<div class="market-wrapper p-[2vw_2.5vw] bg-[#101317] overflow-hidden">
    <div class="first-line flex items-center h-[6vw]">
        <div class="start text-[4.5vw] mr-[1.2vw] h-full items-center">
            <span class="material-icons text-[#A0A1A2] text-[4vw]">equalizer</span>
        </div>
        <div class="date text-[#00aa30] text-[3vw] font-[200] h-full items-center flex">
            <span>03/07</span>
            <span class="ml-[.8vw] ">21:00</span>
        </div>
        <div class="champ-name relative ml-[2vw] h-full items-center flex">
            <span class="material-icons text-[#A0A1A2] text-[4vw]">error_outline</span>
        </div>
        <div class="market-count text-[3vw] text-white ml-auto">
            <span class="[vertical-align:middle]">+407</span>
            <span class="material-icons text-[4.5vw] [vertical-align:middle]">keyboard_arrow_right</span>
        </div>
    </div>
    <div class="second-line mb-[-2vw] overflow-hidden flex items-center mt-[.5vw]">
        <div class="star-wrapper leading-[6vw] mr-[1vw] ml-[-1px] text-[5vw]">
            <span class="material-icons text-[#00aa30]">star_border</span>
        </div>
        <div class="match-name w-[calc(100%-7vw)] p-0 text-white leading-[6vw] text-[3.5vw]">
            <span>Belgium W.</span><span> - </span><span>Italy W.</span>
        </div>
    </div>
    <div class="header-markets overflow-auto">
        <div class="w-[260vw]">
            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>Match result</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>

            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>Double chance</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>

            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>Total (2.5)</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>

            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>1st half - Total (1)</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-events mt-[1rem]">
    <div class="prematch-matches relative p-0 border-none">
        <div
            class="g-title [border-bottom-left-radius:0] [border-bottom-right-radius:0;] bg-[#070b10] h-[4rem] flex items-center rounded-[3px] leading-[2.5rem]">
            <div
                class="rect-title bg-[unset] w-[26rem] pl-[1rem] h-[100%] flex items-center text-[.9rem] text-[#fff] truncate">
                <div sport="soccer" class="sport-icon text-[#00aa30] text-[1.3rem] mr-[1rem]"></div>
                <div class="title">Soccer</div>
            </div>
            <div class="market-titles w-[calc(100%-32rem)] h-full text-[.8rem]">
                <div class="title-desktop">
                    <div class="market-name relative flex leading-[1rem] items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                            class="mr-[.5rem]">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <span title="Match result truncate "
                            class="dotted-hidden text-[#9C9D9F] font-[200] text-[.8rem]">Match result</span>
                    </div>
                    <div class="pos-names flex justify-center items-center leading-[2rem]">
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">1</span>
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">X</span>
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">2</span>
                    </div>
                </div>

                <div class="title-desktop">
                    <div class="market-name relative flex leading-[1rem] items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" class="mr-[.5rem]">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <span title="Match result truncate " class="dotted-hidden text-[#9C9D9F] font-[200] text-[.8rem]">Match
                            result</span>
                    </div>
                    <div class="pos-names flex justify-center items-center leading-[2rem]">
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">1</span>
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">X</span>
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">2</span>
                    </div>
                </div>

                <div class="title-desktop">
                    <div class="market-name relative flex leading-[1rem] items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" class="mr-[.5rem]">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="white"
                                d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <span title="Match result truncate " class="dotted-hidden text-[#9C9D9F] font-[200] text-[.8rem]">Match
                            result</span>
                    </div>
                    <div class="pos-names flex justify-center items-center leading-[2rem]">
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">1</span>
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">X</span>
                        <span class="whitespace-nowrap text-[#9C9D9F] inline-block w-[3.4rem] text-center">2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>