<div class="market-wrapper p-[2vw_2.5vw] bg-[#101317] overflow-hidden">
    <div class="first-line flex items-center h-[6vw]">
        <div class="start text-[4.5vw] mr-[1.2vw] h-full items-center">
            <span class="material-icons text-[#A0A1A2] text-[4vw]">equalizer</span>
        </div>
        <div class="date text-[#00aa30] text-[3vw] font-[200] h-full items-center flex">
            <span>03/07</span>
            <span class="ml-[.8vw] ">21:00</span>
        </div>
        <div class="champ-name relative ml-[2vw] h-full items-center flex">
            <span class="material-icons text-[#A0A1A2] text-[4vw]">error_outline</span>
        </div>
        <div class="market-count text-[3vw] text-white ml-auto">
            <span class="[vertical-align:middle]">+407</span>
            <span class="material-icons text-[4.5vw] [vertical-align:middle]">keyboard_arrow_right</span>
        </div>
    </div>
    <div class="second-line mb-[-2vw] overflow-hidden flex items-center mt-[.5vw]">
        <div class="star-wrapper leading-[6vw] mr-[1vw] ml-[-1px] text-[5vw]">
            <span class="material-icons text-[#00aa30]">star_border</span>
        </div>
        <div class="match-name w-[calc(100%-7vw)] p-0 text-white leading-[6vw] text-[3.5vw]">
            <span>Belgium W.</span><span> - </span><span>Italy W.</span>
        </div>
    </div>
    <!-- <div class="header-markets overflow-auto">
        <div class="w-[260vw]">
            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>Match result</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>

            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>Double chance</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>

            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>Total (2.5)</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>

            <div class="market float-left w-[63vw] mr-[2vw] mt-[2vw]">
                <div
                    class="title  bg-transparent p-0 flex items-center relative min-h-[7vw] text-[3.5vw] text-[#A0A1A2]">
                    <span>1st half - Total (1)</span>
                </div>
                <div class="overflow-hidden w-full">
                    <div class="odd-rect-wide market-box">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">1</span>
                        <span class="coef font-[600]">5.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">X</span>
                        <span class="coef font-[600]">4.45</span>
                    </div>

                    <div class="odd-rect-wide market-box ml-[2px]">
                        <span class="name mr-[1vw] truncate text-[#A7A9AA]">2</span>
                        <span class="coef font-[600]">1.45</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
   <div class="w-full flex items-center mt-[0.56rem] justify-center gap-x-[0.44rem] "><div  class="w-full relative opacity-70 cursor-not-allowed"><div class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden"><button    class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4  font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">4.2</span></button><button   class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">4.3</span></button></div><div class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">0</div></div><div class="w-full relative opacity-70 cursor-not-allowed"><div class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden"><button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4  font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">55</span></button><button   class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">60</span></button></div><div class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">1</div></div><div  class="w-full relative opacity-70 cursor-not-allowed"><div class="undefined w-full rounded-[0.375rem] grid grid-cols-2 text-[13px] text-text_secondary overflow-hidden"><button class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_backBtnBgColor  h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center  leading-4  font-bold   
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class=" text-[13px]">1.34</span></button><button    class="inline-block  leading-normal relative overflow-hidden  transition duration-150 ease-in-out  h-[35px] col-span-1 w-full flex items-center justify-center bg-bg_layBtnBgColor h-[2.1875rem] active:opacity-70 flex flex-col items-center justify-center leading-4  font-bold  
      cursor-pointer
      active:scale-[98%]
      " type="button"><span class="text-[13px]">1.35</span></button></div><div class="absolute top-1/2 z-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-bg_secondary w-[1.25rem] h-[1.25rem] rounded-full flex items-center justify-center text-text_secondary2 text-[13px] font-semibold">2</div></div>
    </div>
</div>

<div class="top-events mt-[1rem]">
    <div class="prematch-matches relative p-0 border-none">
          <div
            class="g-title [border-bottom-left-radius:0] [border-bottom-right-radius:0;] bg-[#070b10] h-[2.5rem] flex items-center rounded-[3px] leading-[2.5rem]">
            <div
                class="rect-title bg-[unset] w-[26rem] pl-[1rem] h-[100%] flex items-center text-[.9rem] text-[#fff] truncate">
                <div sport="soccer" class="sport-icon text-[#00aa30] text-[1.3rem] mr-[1rem]"></div>
                <div class="title">Soccer</div>
            </div>
           <div class="flex justify-end w-full">
             <div class="flex justify-between w-full max-w-[373px] text-[#7B7D7F] pr-[3rem]">
                   <span class="flex-auto text-center">1</span>
                   <span class="flex-auto text-center">X</span>
                   <span class="flex-auto text-center">2</span>
            </div>
           </div>
        </div>
          <div class="bg-[#121519]  w-full flex justify-between items-center px-2">
                 <div class="max-w-[140px]">
                      <span class="text-[#7B7D7F] mr-2 truncate ">Ball By Ball</span>
                       <span class="text-[#00A930] truncate">In-Paly</span>
                 </div>
                 <div class=" flex items-center ">
                    <div class="mr-5"> 
                        <span class="game-sportbook">S</span>
                    </div>
                     <div class="w-full grid grid-cols-3 gap-2">
                       <div class="flex">
                         <span class="count lay flex items-center justify-center">2.15</span>
                          <span class="count back flex items-center justify-center">0</span>
                       </div>

                        <div class="flex">
                         <span class="count lay flex items-center justify-center">2.15</span>
                          <span class="count back flex items-center justify-center">0</span>
                       </div>

                        <div class="flex">
                         <span class="count lay flex items-center justify-center">2.15</span>
                          <span class="count back flex items-center justify-center">0</span>
                       </div>
                     </div>
                    <div class="w-[3rem] flex justify-center h-full items-center">
                        <span  class="material-icons text-[#898A8C] hover:text-[#fff] text-[1.2rem]">equalizer</span>
                     </div>
                 </div>
                
            </div>
    </div>
</div>