.market-box {
  @apply p-[0_2vw] w-[calc(33.33%-1.33333px)] h-[10vw] text-[3.5vw] flex justify-between items-center relative float-left bg-[#23282a] text-[#fff] border border-transparent;
}

.title-desktop {
    float: left;
    padding-top: .7rem;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    font-weight: 200;
    font-size: .8rem;
}

@media (min-width: 820px) {
  .market-wrapper {
    @apply hidden;
  }
}

@media (max-width:819px){
    .top-events{
        @apply hidden
    }
    .main-wrapper{
        @apply pb-[100px]
    }
}


.bg-bg_backBtnBgColor {
    background: var(--back-bg-clr);
    color: var(--back-txt-clr);
}

.bg-bg_layBtnBgColor {
    background:  var(--lay-bg-clr);
    color: var(--lay-txt-clr);
}

.bg-bg_secondary{
  background-color: white;
}

.back {
    background: #72bbef;
    color: #1e1e1e;
    padding: 2px 10px;
    font-weight: 700;
}

.count {
    min-width: 50px;
    display: inline-flex;
    text-align: center;
    max-height: 20.5px;
    font-size: 9.35px;
}

.lay {
    background: #faa9ba;
    color:#1e1e1e;
    padding: 2px 10px;
    font-weight: 700;
}

.game-sportbook {
    font-weight: 700;
    padding: 0 5px;
    background: linear-gradient(180deg,#f26d1c 15%,#d14100 100%);
    color: #ffffff;
    font-style: italic;
    border-radius: 4px;
    font-size: 12px;
}