:host {
  font-size: 0.94em;
}
.racing {
  font-size: 0.94em;
}
@media screen and (max-width: 1600px) {
  :host {
    font-size: 14px;
  }
  .racing {
    font-size: 14px;
  }
}
section.main-banner {
  position: relative;
  padding-top: 10%;
  background-image: url(/assets/images/racing/banner.jpg);
  background-size: cover;
  border-radius: 5px;
}

section.filters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  height: 4.5em;
  padding: 0.32em 0em;
  padding-top: 0.6em;
  border-radius: 5px;
}
.search {
  position: relative;
}
.search input {
  height: 3em;
  width: 15em;
  background-color: #151515;
  border-radius: 5px;
}
input,
select {
  padding-left: 1em;
  border: 1px solid #151515;
}
button,
input,
select,
textarea {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  font-family: Roboto;
  box-sizing: border-box;
}
.search .material-icons {
  position: absolute;
  right: 0.719em;
  top: 0.578em;
  font-size: 1.4em;
  color: #ffffff99;
}
html .material-icons {
  line-height: unset;
}
section.filters .time-filters {
  margin-left: 1em;
  font-weight: 700;
}
.time-filters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
ul {
  list-style-type: none;
}
.time-filters li {
  word-spacing: normal;
  font-size: 0.9em;
  padding: 0 1.12em;
  color: hsla(0, 0%, 100%, 0.6);
  transition: color 0.12s ease-in;
  cursor: pointer;
}
.time-filters li.active {
  padding: 0 1.12em;
  color: white;
}
section.filters .with-odds {
  margin-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff80;
}

section.filters .with-odds .switcher {
  position: relative;
  width: 2.22em;
  height: 0.89em;
  background-color: #101015;
  border-radius: 0.5em;
  margin-left: 1.58em;
  transition: background-color 0.3s ease;
}
.matches .region-block ul.champs ul.matches > li a.active {
  background-color: #42cf9a;
  color: #101015;
  font-weight: 700;
}
section.matches .region-block ul.champs ul.matches > li a.finished {
  background-color: #e63e4c;
  color: #101015;
  font-weight: 700;
}

section.filters .with-odds .switcher::before {
  content: "";
  position: absolute;
  width: 1.1em;
  height: 1.1em;
  border-radius: 1.1em;
  left: -0.55em;
  top: -0.15em;
  background-color: #97a1c2;
  transition: left 0.3s ease, background-color 0.3s ease;
}

section.filters .with-odds.active .switcher::before {
  left: 1.45em;
  background-color: #41cf9a; /* green on active */
}
section.filters .with-odds.active .switcher {
  background-color: #3e3e56;
}

section.matches .region-block {
  background-color: #151a21;
  padding: 0 0.86em;
  margin-top: 0.17em;
}
section.matches .region-block .region-title select {
  background-color: transparent !important;
  border-radius: 1.33333vw;
  height: 6.66667vw;
  margin-left: auto;
}
section.matches .region-block .region-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 1.7em;
  cursor: pointer;
  /* padding: 1.6em 0em; */
}

section.matches .region-block .region-title .flag {
  transform: scale(0.9);
  margin-right: 0.5em;
}
.flag {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url(/assets/images/racing/flags.png);
  background-repeat: no-repeat;
  background-position: 100px 0; /* fallback */
  transform: scale(0.7);
  transform-origin: left center;
}

/* Per-country flag offsets */
.flag[country="greatbritain"] {
  background-position: -264px -120px;
}
.flag[country^="ireland"] {
  background-position: 0px -168px;
}
.flag[country="turkey"] {
  background-position: -24px -72px;
}
/* Add more countries here */

section.matches .region-block .region-title {
  color: hwb(0 100% 0% / 0.5);
  font-size: 1em;
}
section.matches .region-block .region-title .time-filters {
  margin-left: auto;
  height: 100%;
}
section.matches .region-block .region-title .material-icons {
  color: #ffffff80;
  margin-left: 0.6em;
}

section.matches .region-block ul.champs > li {
  border-bottom: 1px solid black;
  align-items: center;
}
.plus-remove {
  background: none !important;
  font-size: 1em;
}
section.matches .region-block ul.champs > li:last-child {
  border-bottom: none;
}
section.matches .region-block ul.champs ul.matches {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;

  margin-left: auto;
}

section.matches .region-block ul.champs ul.matches > li a {
  background-color: #1e242b;
  color: #fff;
  padding: 0.6em 0.555em;
  margin-right: 0.4em;
  border-radius: 0.3em;
}
section.matches .region-block ul.champs ul.submatches {
  padding-top: 0.8em;
  padding-bottom: 0.57em;
}
section.matches .region-block ul.champs ul.matches > li:last-child a {
  margin-right: 0;
  border-radius: 0.3em;
}
.sb-middle-content .rect {
  border-radius: 5px;
  width: 3.6em;
  height: 2.4em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: -webkit-filter 0.12s ease-in;
  transition: filter 0.12s ease-in;
  transition: filter 0.12s ease-in, -webkit-filter 0.12s ease-in;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
section.filters select {
  border-radius: 1.33333vw;
  width: 55vw;
}
select {
  -webkit-appearance: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiA8Zz4KICA8dGl0bGU+YmFja2dyb3VuZDwvdGl0bGU+CiAgPHJlY3QgZmlsbD0ibm9uZSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBoZWlnaHQ9IjQwMiIgd2lkdGg9IjU4MiIgeT0iLTEiIHg9Ii0xIi8+CiA8L2c+CiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBhdGggZmlsbD0iIzk5OTk5OSIgaWQ9InN2Z18xIiBkPSJtOTguOSwxODQuN2wxLjgsMi4xbDEzNiwxNTYuNWM0LjYsNS4zIDExLjUsOC42IDE5LjIsOC42YzcuNywwIDE0LjYsLTMuNCAxOS4yLC04LjZsMTM1LjksLTE1Ni4ybDIuMywtMi42YzEuNywtMi41IDIuNywtNS41IDIuNywtOC43YzAsLTguNyAtNy40LC0xNS44IC0xNi42LC0xNS44bDAsMGwtMjg2LjgsMGwwLDBjLTkuMiwwIC0xNi42LDcuMSAtMTYuNiwxNS44YzAsMy4zIDEuMSw2LjQgMi45LDguOXoiLz4KIDwvZz4KPC9zdmc+);
  background-repeat: no-repeat;
  background-size: 2vw auto;
  background-position: right 2vw center;
}
@media (min-width: 768px) and (max-width: 768px) {
  section.filters {
    height: 9.5em;
    padding: 1.32em 0em;
  }

  section.filters .with-odds .switcher {
    position: relative;
    width: 4.22em;
    height: 1.89em;
    background-color: #101015;
    border-radius: 1.5em;
    margin-left: 2.58em;
    transition: background-color 0.3s ease;
  }

  section.filters .with-odds .switcher::before {
    content: "";
    position: absolute;
    width: 2.1em;
    height: 2.1em;
    border-radius: 1.1em;
    left: -0.55em;
    top: -0.15em;
    background-color: #97a1c2;
    transition: left 0.3s ease, background-color 0.3s ease;
  }

  section.filters .with-odds.active .switcher::before {
    left: 2.45em;
    background-color: #41cf9a;
  }

  section.filters .with-odds {
    margin-left: 1.9em;
  }

  section.matches .region-block .region-title {
    display: flex;
    align-items: center;
    height: 2.7em;
    cursor: pointer;
    padding: 1.6em 0em;
    font-size: 2em !important;
  }

  section.matches .region-block ul.champs > li .subchamps {
    display: flex;
    align-items: center;
    height: 3.5em;
    color: #ffffff99;
    font-size: 2em;
  }

  section.matches .region-block ul.champs ul.submatches {
    padding-top: 0.8em;
    padding-bottom: 0.57em;
    font-size: 2em;
  }

  section.matches .region-block {
    background-color: #151a21;
    padding: 0 1.86em;
    margin-top: 0.17em;
  }
}

@media (max-width: 1023px) {
  section.matches .region-block ul.champs > li {
    border-bottom: 1.2px solid black;
    padding: 0.9em 0px;
    align-items: center;
  }
  section.matches .region-block ul.champs > li:first-child {
    padding-bottom: 0.9em;
    padding-top: 0px;
  }

  section.matches .region-block .region-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 1.7em;
    cursor: pointer;
    padding: 1.6em 0em;
  }
  section.matches .region-block .region-title .material-icons {
    color: #ffffff80;
    margin-left: 0.6em;
    font-size: 1.3em;
  }
  .sel,
  button,
  input,
  select,
  textarea {
    border: 0;
    outline: 0;
    box-sizing: border-box;
    height: 12vw;
    line-height: 4vw;
    background-color: #272727 !important;
    border: 1px solid #404040 !important;
    color: #fff !important;
    font-family: Roboto;
    font-weight: 200;
    font-size: 3.5vw;
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
    padding-left: 2vw;
  }
  section.matches .region-block ul.champs > li .subchamps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 2.5em;
    color: #ffffff99;
  }
}
@media (min-width: 1023px) {
  section.filters {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.6em 0;
    background-color: #101317;
    height: 4em;
    padding: 0 1.2em;
    border-radius: 5px;
  }
  section.filters .with-odds {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffffff80;
    font-size: 0.9em;
    word-spacing: 1;
  }
  section.matches .region-block {
    background-color: #101317;
    border-radius: 5px;
    margin-top: 5.2px;
    padding: 0.6em 1.3em;
    color: #ffffff99;
  }

  section.matches .region-block .region-title {
    color: hwb(0 100% 0% / 0.5);
    font-size: 1em;
  }
  section.matches .region-block .region-title .time-filters {
    margin-left: auto;
    height: 100%;
  }
  section.matches .region-block .region-title .material-icons {
    color: #ffffff99;
    margin-left: 0.6em;
  }

  section.matches .region-block ul.champs > li:last-child {
    border-bottom: none;
  }
  section.matches .region-block ul.champs ul.matches {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
  }

  section.matches .region-block ul.champs ul.matches > li a {
    background-color: #1e242b;
    color: #fff;
    padding: 0.6em 0.555em;
    margin-right: 0.4em;
    border-radius: 0.3em;
  }
  section.matches .region-block ul.champs ul.matches > li:last-child a {
    margin-right: 0;
    border-radius: 0.3em;
  }
  section.matches .region-block {
    background-color: #101317;
  }

  section.matches .region-block .region-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 1.7em;
    cursor: pointer;
  }

  section.matches .region-block .region-title .flag {
    transform: scale(0.9);
    margin-right: 0.5em;
  }
  .matches .region-block ul.champs ul.matches > li a.active {
    background-color: #42cf9a;
    color: #101015;
    font-weight: 700;
  }
  section.matches .region-block ul.champs ul.matches > li a.finished {
    background-color: #e63e4c;
    color: #101015;
    font-weight: 700;
  }
  section.matches .region-block ul.champs > li .subchamps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 4em;
    color: #ffffff99;
  }
}


