<section class="racing mt-[0.8rem]">
    <section class="main-banner default"><!----></section>


    <section class="filters tracking-tight  !hidden lg:!flex text-nowrap">
        <div class="search"><input type="text" name="search" placeholder="Search Event"> <span
                class="material-icons">search</span></div>
        <ul class="time-filters tracking-normal">
            <li class="active">All</li>
            <li class="">Today</li>
            <li class="">Tomorrow</li>
        </ul>

        <div class="with-odds !text-[#ffffff99] tracking-normal" (click)="toggleOdds()" [class.active]="isWithOdds">
            <span>With Odds</span>
            <span class="switcher"></span>
        </div>

    </section>
    <section class="filters lg:!hidden flex text-nowrap justify-between items-center pt-[0.5em]">


        <div class="with-odds  !text-[#ffffff99] tracking-normal" (click)="toggleOdds()" [class.active]="isWithOdds">
            <span class="text-[0.948em] tracking-normal">With Odds</span>
            <span class="switcher"></span>
        </div>
        <select>
            <option value="">All</option>
            <option value="TODAY">Today</option>
            <option value="TOMORROW">Tomorrow</option>
        </select>
    </section>
    <section class="matches">
        <div class="region-block" *ngFor="let region of regions; let i = index" (click)="toggleRegion(i)">
            <div class="region-title">
                <div [attr.country]="region.country" class="flag"></div>
                <span class="!text-[0.9em] !text-[#ffffff99]">{{ region.title }}</span>

                <ul class="time-filters !hidden lg:!flex">
                    <li class="active">All</li>
                    <li>Upcoming</li>
                    <li>Race Off</li>
                    <li>Finished</li>
                </ul>

                <span class="material-icons cursor-pointer">
                    {{ isCollapsed(i) ? 'keyboard_arrow_right' : 'keyboard_arrow_down' }}
                </span>
            </div>

            <ul class="champs" *ngIf="!isCollapsed(i)">
                <!-- You can put static or dynamic match data here -->
                <li *ngFor="let champ of region.champs">
                    <span class="champ-name">{{ champ.name }}</span>
                    <ul class="matches">
                        <li *ngFor="let match of champ.matches">
                            <a [href]="match.link" class="rect" [ngClass]="{
                                  'finished': champ.state === 'finished',
                                  'active': champ.state === 'active',
                                  'empty': champ.state === ''
                                }">
                                {{ match.time }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

</section>