<div class="bg-[#14161B] roboto-medium  page-wrapper">

    <div class="page-title [@media(min-width:770px)]:!hidden ">
        <a class="material-icons arrow">arrow_back</a>
        <span class="title">Profit Loss</span>
        <span class="material-icons icon">trending_up</span>
    </div>

    <div class="content">
        <form class="filters w-full">
            <ul>
                <li>
                    <div class="title remove-element">Start Date</div>
                    <input name="from-date" type="date" [(ngModel)]="startDate">
                </li>

                <li>
                    <div class="title remove-element">End Date</div>
                    <input name="from-end-date" type="date" [(ngModel)]="endDate">
                </li>

                <li>
                    <div class="title remove-element">Data Type</div>
                    <select name="operation-type " class="operation-type" [(ngModel)]="selectedDataSource"
                        (ngModelChange)="onDataSourceChange($event)">
                        <option value="">Data Source</option>

                        <option value="LIVE">LIVE DATA</option>

                        <option value="BACKUP">BACKUP DATA</option>

                        <option value="OLD">OLD DATA</option>
                    </select>
                </li>

                <li>
                    <div class="title"></div>
                    <button type="submit" class="btn" (click)="rerender()">Get Statement</button>
                </li>

            </ul>


        </form>

        <div class="overflow-x-auto bg-white mt-5 table-container">
            <table datatable [dtOptions]="dtOptions" class="row-border no-footer table table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">Date/Time</th>
                        <th class="text-center">Deposit</th>
                        <th class="text-center">Withdraw</th>
                        <th class="text-center">Balance</th>
                        <th class="text-center">Remarks</th>
                        <th class="text-center">From/To</th>
                    </tr>
                </thead>
                <tbody *ngIf="statementList.length > 0">
                    
                    <tr *ngFor="let statment of statementList;let i=index">
                        <td class="text-center">{{statment?.createdAt | date : 'dd-MM-YYYY H:mm:ss'}}
                        </td>
                        <td class="text-center">{{statment.deposit || '0'}}</td>
                        <td class="text-center"><b class="text-danger">({{statment.withdraw ||
                                '0'}})</b></td>
                        <td class="text-center">{{statment.bankBalance | number}}</td>
                        <td class="text-center">{{statment.remark || 'NA'}}</td>
                        <td class="text-center">
                            <span class="from">Master
                                <i aria-hidden="true" class="fa fa-arrow-circle-o-right"></i>
                            </span>
                            <span class="to ms-2">exchange</span>
                        </td>
                    </tr>

                </tbody>

                <tfoot *ngIf="statementList?.length == 0">
                    <tr>
                        <td colspan="6" style="text-align:center;">No data!</td>
                    </tr>
                </tfoot>

            </table>
        </div>

    </div>


</div>