<div class="wrapper pb-[66.84px]">
    <ul class="tabs tm-or-cmp overflow-hidden font-semibold bg-[#151a21]">
        <li routerLink="/" class="material-icons">home</li>
        <li *ngIf="sportId=='ALL'" (click)="changeTabs('filter')" [ngClass]="{'active': activeTab=='filter'}">Filter
        </li>
        <li *ngIf="sportId!='ALL'" (click)="changeTabs('comp')" [ngClass]="{'active': activeTab=='comp'}">Competitions
        </li>
        <li (click)="changeTabs('upcoming')" [ngClass]="{'active': activeTab=='upcoming'}">Upcoming Matches</li>
    </ul>
    <div class="sportsbook-tree capitalize select-none font-semibold">
        @if (activeTab=='comp') {
        <div (click)="toggle()" class="calendar">
            <span class="material-icons icon">date_range</span>
            <span class="title text-[3.5vw] -mt-[1px]">Calendar &nbsp; ({{filter}})</span>
            <span class="material-icons arrow">
                {{timeFilters ? 'keyboard_arrow_right' : 'keyboard_arrow_down'}}
            </span>
        </div>
        <ul [ngClass]="{'hidden': timeFilters}" class="time-filters text-[3.5vw]">
            <li *ngFor="let item of timeFilter" class="-mt-[1px]" [ngClass]="filter==item?'active':''"
                (click)="changeCompetitionTimeFilter(item)">{{item}}</li>

        </ul>
        <ul class="regions">
            <li (click)="openCompetition(i)" class="text-[3.5vw]" *ngFor="let comp of competitionsArr;index as i">
                <div class="regionname item-name">
                    <!-- <div [attr.country]="comp.competitionName" class="flag"></div> -->
                    <div class="sport-icon flag" [attr.sport]="comp.data[0].sportName.toLowerCase()"></div>
                    <span class="region-name">{{comp.competitionName}}</span>
                    <span class="count">{{comp.data.length}}</span>
                    <span class="material-icons arrow -mt-[1px]">{{!competitions ? 'keyboard_arrow_right' :
                        'keyboard_arrow_down'}}</span>
                </div>

                @if (competitions[i]==true) {
                <ul class="champs">
                    <li *ngFor="let item of comp.data" (click)="gotoMarket(item)">

                        <span class="champ-name">{{item.eventName}}</span>
                        <span class="count"></span>
                        <span class="material-icons arrow pt-[2px]">arrow_forward</span>
                    </li>

                </ul>
                }
            </li>

        </ul>
        }

        @if(activeTab=='upcoming'){
        <div class="upcoming-matches overflow-hidden" *ngFor="let comp of competitionsArr">
            <div class="league-name flex">
                <span [attr.sport]="comp.data[0].sportName.toLowerCase()" class="sport-icon"></span>
                <!-- <span country="eadriaticleague" class="flag"></span> -->
                <span class="name">{{comp.competitionName}}</span>
            </div>
            <div class="prematch-matches relative !roboto border-b-2 border-[black]" *ngFor="let market of comp.data">
                <div class="match-list">
                    <div class="match-line text-[3.5vw]">
                        <div class="first-line">
                            <div class="stats flex items-center pt-[2px]">
                                <span class="material-icons text-[4.5vw]">equalizer</span>
                            </div>
                            <div class="date !roboto">
                                <span>{{market.eventTime | date:'dd/MM'}}</span>
                                <span>{{market.eventTime | date:'HH:mm'}}</span>
                            </div>
                            <div class="champ-name">
                                <span class="material-icons">error_outline</span>
                            </div>
                            <div class="market-count flex items-center" (click)="gotoMarket(market)">
                                <span class="[vertical-align:middle]" *ngIf="market.oddsData.inPlay">
                                    <span  >
                                        <svg  width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path  d="M11.8182 0H1.18182C0.525909 0 0 0.543889 0 1.22222V8.55556C0 9.22778 0.525909 9.77778 1.18182 9.77778H4.13636V11H8.86364V9.77778H11.8182C12.4682 9.77778 12.9941 9.22778 12.9941 8.55556L13 1.22222C13 0.543889 12.4682 0 11.8182 0ZM11.8182 8.55556H1.18182V1.22222H11.8182V8.55556ZM8.86364 4.88889L4.72727 7.33333V2.44444L8.86364 4.88889Z" fill="#11e311"></path>
                                        </svg>
                                      </span>
                                </span>
                                <span class="material-icons">keyboard_arrow_right</span>
                            </div>
                        </div>
                        <div class="second-line flex items-center font-normal">
                            <div class="star-wrapper flex">
                                <span class="material-icons text-[5vw]">star_border</span>
                            </div>
                            <div class="match-name" (click)="gotoMarket(market)">
                                <div class="truncate team">
                                    <span class="truncate name">
                                        {{ getEventName(true,
                                        market?.eventName)
                                        }}
                                    </span>
                                </div>
                                <div class="truncate team">
                                    <span class="truncate name">
                                        {{ getEventName(false,
                                        market?.eventName)
                                        }}
                                    </span>
                                </div>
                            </div>
                            <div class="odds-wrapper ml-auto">
                                <div column-count="3" class="market-odds flex justify-between" (click)="gotoMarket(market)">
                                    <div class="odd-rect"><span class="coef">
                                            {{market?.oddsData?.runners[0]?.price?.back[0] ?
                                            market?.oddsData?.runners[0]?.price?.back[0]?.price :
                                            '0'}}/{{market?.oddsData?.runners[0]?.price?.lay[0] ?
                                            market?.oddsData?.runners[0]?.price?.lay[0]?.price : '0'}} </span></div>
                                    <div class="odd-rect"><span
                                            class="coef">{{market?.oddsData?.runners[2]?.price?.back[0] ?
                                            market?.oddsData?.runners[2]?.price?.back[0]?.price :
                                            '0'}}/{{market?.oddsData?.runners[2]?.price?.lay[0] ?
                                            market?.oddsData?.runners[2]?.price?.lay[0]?.price : '0'}}</span></div>
                                    <div class="odd-rect"><span
                                            class="coef">{{market?.oddsData?.runners[1]?.price?.back[0] ?
                                            market?.oddsData?.runners[1]?.price?.back[0]?.price :
                                            '0'}}/{{market?.oddsData?.runners[1]?.price?.lay[0] ?
                                            market.oddsData?.runners[1]?.price?.lay[0]?.price : '0'}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>


    <!-- filter wrapper -->
    <div class="filter-wrapper" *ngIf="activeTab=='filter'">
        <div class="flex justify-center items-center">
            <div class="btn filter-show-all">Show All</div>
        </div>
        <ul>
            <li *ngFor="let item of mainService.sportsList(); let i = index" (click)="selectSport(item.sportName)"
                [ngClass]="{'!border-[#05AA30]':sportName === item.sportName}">
                <div class="chbx-wrapper"><input name="checkbox" type="checkbox" [checked]="sportName === item.sportName"></div>
                <div class="sport-icon mx-[4vw]">
                    <span [attr.sport]="item.sportName.toLowerCase()" [attr.name]="item.sportName" class="sport-icon !text-[#9f9f9f]"></span>
                </div>
                <div class="name text-[hsla(0,0%,100%,.6)] text-[4vw]">{{item.sportName}}</div>
                <div class="material-icons arrow" *ngIf="sportName === item.sportName">arrow_forward</div>
            </li>
        </ul>
    </div>

    <!-- filter wrapper -->
</div>

<div class="fixed left-0 bottom-0 w-full z-[999]">
    <app-bottom-nav></app-bottom-nav>
</div>