.itemsDropdown {
  border-bottom: 0.0625rem solid rgba(198, 198, 198, 0.1);
}

div.nav-list {
  padding: 0.25rem;
  padding-left: 0.3rem;
}
div.nav-list ul {
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 2.3vw;
}
ul {
  list-style-type: none;
}
div.nav-list ul li {
  position: relative;

  flex-shrink: 0;
  line-height: normal;
}
div.nav-list ul li a {
  border-radius: 6vw;
  border: 1px solid #2b2b2b;
  background-color: #131313;
  width: 18.57vw;
  height: 18.57vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  line-height: normal;
}
a {
  text-decoration: none;
  color: inherit;
}

a img {
  vertical-align: middle;
}
div.nav-list ul li a span {
  position: absolute;
  bottom: 0.2rem;
  font-size: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  text-align: center;
  margin-bottom: 0.3vw;
}
.top-leagues ul {
  margin-top: 4.68vw;
}
div.nav-list ul li a img {
  width: 6.05vw;
  margin-bottom: 4.5vw;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 0.4vw;
}
.sport-icon {
  font-size: 5.454vw;
  color: #696969;
}
@media (min-width: 820px) {
  .sidebar-container {
    display: none !important;
  }
  .overlay {
    display: none !important;
  }
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-content.open {
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 4px 0px;
}
