<div *ngIf="isVisible"
    class="w-[94vw] h-[100dvh] mb-10 fixed top-0 left-0 z-[999999] bg-[#0f1215] text-white sidebar-container  flex-col"
    @sidebarAnimation>
    <!-- Fixed Close Button -->
    <span class="material-icons close text-end w-full pt-[5.2vw] pr-[5.9vw] text-[5vw] sticky top-0 z-10 bg-[#0f1215]">
        <span (click)="closeSidebar()">close</span>
    </span>


    <!-- Scrollable content wrapper -->
    <div class="flex-1 overflow-y-auto">


        <!-- language-dropdown.component.html -->
        <div class="relative" (click)="toggleDropdown()" tabindex="0" (blur)="closeDropdown()">
            <div
                class="flex justify-between items-center itemsDropdown pb-[5.566vw] mx-[6.56vw] pt-[7.4vw] text-[3.3vw] cursor-pointer">
                <div class="flex gap-[4.88vw] items-center">
                    <img src="/assets/images/menu/globe.svg" class="w-[4.87vw] h-[4.87vw]"
                        alt="Language selector globe icon" decoding="async">
                    <span class="text-[3.458vw]">{{ selectedLanguage.label }}</span>
                </div>
                <span class="material-icons transition-transform duration-300 text-[4vw] pb-[1px] pr-[0.5px]"
                    [ngClass]="{ 'rotate-180': dropdownOpen }">
                    keyboard_arrow_down
                </span>
            </div>

            <!-- Dropdown -->
            <div class="overflow-hidden transition-all duration-500 ease-in-out "
                [ngStyle]="{ height: dropdownOpen ? dropdownHeight : '0px' }">
                <ul class="text-[#c6c6c6] bg-[#13171a]  rounded-md " #dropdownList>
                    <li *ngFor="let lang of languages" (click)="selectLanguage(lang)"
                        class="flex items-center px-[6.56vw] gap-[3.6vw] py-[7px] itemsDropdown cursor-pointer text-[3.5vw] border-b border-white/10">
                        <img [src]="lang.flag" alt="{{ lang.code }}" class="w-[5vw] h-[5vw]" [alt]="lang.label"
                            loading="lazy" decoding="async">
                        <span>{{ lang.label }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-list">
            <ul>
                <li routerLink="/sport" (click)="closeSidebar()"><a><img src="/assets/images/menu/sport.svg"
                            alt="Sports menu icon" decoding="async">
                        <span>Sports</span></a></li>
                <li routerLink="/inplay" (click)="closeSidebar()"><a><img src="/assets/images/menu/live.svg"
                            alt="Live menu icon" decoding="async">
                        <span>Live</span></a></li>
                <li (click)="closeSidebar()"><a><img src="/assets/images/menu/esports.svg" alt="Esports menu icon"
                            decoding="async"> <span>Esports</span></a>
                </li>
                <li routerLink="/live-casino" (click)="closeSidebar()"><a><img 
                            src="/assets/images/menu/livecasino.svg" alt="Live Casino">
                        <span>Live
                            Casino</span></a></li>
                <li (click)="closeSidebar(); mainService.gotoAviator()"><a><img class="!w-[8.5vw]" src="/assets/aviator.png" alt="Casino">
                        <span>Viman</span></a>
                </li>
                <li (click)="closeSidebar()"><a><img src="/assets/images/menu/virtual.svg" alt="Virtual"> <span>Virtual
                            sport</span></a></li>
                <li routerLink="/promotions" (click)="closeSidebar()"><a><img src="/assets/images/menu/promos.svg"
                            alt="Promotions">
                        <span>Promotions</span></a></li>
                <li routerLink="/affiliate" (click)="closeSidebar()"><a><img src="/assets/images/menu/affiliate.svg"
                            alt="AFFILIATES">
                        <span>AFFILIATES</span></a></li>
            </ul>
        </div>

        <div *ngIf="filterArray.length > 0" class="top-leagues text-[#afafaf] w-full py-[3.6vw]">
            <h3 class="text-[3.64vw] leading-[1.3] px-[3.6vw] font-semibold text-white">Favourites</h3>
            <app-market *ngFor="let item of filterArray; index as i; trackBy: trackByFn;" [isMobile]="true"
                [market]="item" [index]="i" searchTab="line_style">
            </app-market>
        </div>

        <!-- With this: -->
        <div class="top-leagues text-[#afafaf] w-full px-[3.6vw] py-[3.6vw]">

            <h3 class="text-[3.64vw] leading-[1.3] font-semibold text-white">Top Leagues</h3>
            <ul class="space-y-2">

                <li class="!mb-[2vw]" *ngFor="let event of filterCompetitions; let ii = index">
                    <div class="flex items-center justify-between hover:bg-gray-800  rounded"
                        (click)="toggleLeagues(ii)">
                        <div class="flex items-center gap-[3.6vw]">
                            <i class="sport-icon text-[3.7vw]" [attr.sport]="event.sportName.toLowerCase()"></i>
                            <span class="text-[3.7vw]">{{event.tournamentName}}p</span>
                        </div>
                        <span class="text-[3.7vw]">{{tournamentLength[ii]}}</span>
                    </div>

                    <div class="dropdown-content" [class.open]="activeDropdownIndex === ii">

                        <ul class="text-green-500 p-2 text-sm space-y-1" *ngIf="tournamentData[ii]?.length">
                            <li class="cursor-pointer" (click)="gotoLeagues(match)"
                                *ngFor="let match of tournamentData[ii]">
                                {{ match.eventName }}
                            </li>
                        </ul>
                    </div>

                </li>


            </ul>
        </div>

        <div class="sports text-[#afafaf] w-full px-[3.6vw] py-[3.6vw]">

            <h3 class="text-[3.64vw] leading-[1.3] font-semibold text-white mb-2" text_key="MENU__SPORTS">SPORTS</h3>
            <ul class="space-y-2 ">

                <!-- Special Odds -->
                <li *ngFor="let item of mainService.sportsList(); let i = index"
                    (click)="navigateMarket(item.sportName, item.sportId)">
                    <a class="flex items-center justify-between   rounded">
                        <div class="flex items-center gap-[3.6vw]">
                            <span class="sport-icon" [attr.sport]="item?.sportName.toLowerCase()"></span>
                            <span class="text-[3.7vw]">{{item?.sportName}}</span>
                        </div>
                        <span class="text-[3.7vw] text-gray-400">{{item?.total}}</span>
                    </a>
                </li>

            </ul>
        </div>


    </div>
</div> <!-- End of scrollable content -->

<div *ngIf="isVisible" (click)="closeSidebar()"
    class="bg-black opacity-60 z-[88888] fixed top-0 w-[100vw] h-[100vh] overlay"></div>