<div class="w-full">
    <div>
        <app-header></app-header>
        <app-sports-nav class="[@media(max-width:769px)]:hidden" *ngIf="!hide()"></app-sports-nav>
    </div>

   <div class="layout-wrapper overflow-y-auto">
     <main class="middle ">
        <nav class="account-sidebar [@media(max-width:769px)]:hidden">
            <div class="g-title poppins-medium ">Account Menu</div>
            <ul class="poppins-regular">
    
                <!-- <li routerLinkActive="nav-active" routerLink="/account/dashboard">
                    <a class="nav-li">
                        <span class="material-icons-outlined">dashboard</span>
                        <span>Dashboard</span>
                    </a>
                </li> -->
    
                <li routerLinkActive="nav-active" routerLink="/account/personalinfo">
                    <a class="nav-li">
                        <span class="material-icons-outlined">assignment_ind</span>
                        <span>Personal Information</span>
                    </a>
                </li>
    
                <!-- <li routerLinkActive="nav-active" routerLink="/account/deposit">
                    <a class="nav-li">
                        <span class="material-icons-outlined">credit_card</span>
                        <span>Deposit Money</span>
                    </a>
                </li>
    
                <li routerLinkActive="nav-active" routerLink="/account/withdraw">
                    <a class="nav-li">
                        <span class="material-icons-outlined">directions</span>
                        <span>Withdraw Money</span>
                    </a>
                </li> -->
    
                <!-- <li routerLinkActive="nav-active" routerLink="/account/transactions">
                    <a class="nav-li">
                        <span class="material-icons-outlined">history</span>
                        <span>Transactions History</span>
                    </a>
                </li> -->
    
                <!-- <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/bonuses">
                        <span class="material-icons-outlined">card_giftcard</span>
                        <span>Bonus with Promo Code</span>
                    </a>
                </li> -->
    
                <!-- <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/freespins">
                        <span class="material-icons-outlined">local_play</span>
                        <span>My Bonuses/Gifts</span>
                    </a>
                </li> -->
    
                <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/profit-loss">
                        <span class="material-icons-outlined">trending_up</span>
                        <span>Profit Loss</span>
                    </a>
                </li>
    
                <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/bet-history">
                        <span class="material-icons-outlined">bar_chart</span>
                        <span>Bets History</span>
                    </a>
                </li>
    
                <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/activity-log">
                        <span class="material-icons-outlined">event_note</span>
                        <span>Activity Log</span>
                    </a>
                </li>
    
                <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/account-statement">
                        <span class="material-icons-outlined">receipt_long</span>
                        <span>Account Statement</span>
                    </a>
                </li>
    
                <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/password-history">
                        <span class="material-icons-outlined">lock_person</span>
                        <span>Password History</span>
                    </a>
                </li>
    
                <!-- <li>
                    <a class="nav-li" routerLinkActive="nav-active" routerLink="/account/kyc">
                        <span class="material-icons-outlined">check_box</span>
                        <span>Account Verification</span>
                    </a>
                </li> -->
    
            </ul>
        </nav>
        <router-outlet></router-outlet>
     </main>
     <app-footer></app-footer>
   </div>

</div>