<div class="prevent-select">
    <app-header></app-header>
    <app-sports-nav class="max-[820px]:hidden"></app-sports-nav>
    <div class="flex lg:gap-[14px] layout-wrapper lg:px-[1vw]">
        <div>
            <app-sidebar></app-sidebar>
        </div>
        <div class="lg:hidden">
            <app-mobile-sidebar></app-mobile-sidebar>
        </div>
        <div class="mainRouter w-[100vw] lg:w-[calc(100vw-618.5px)] max-md:h-[calc(100dvh-52px)] overflow-y-auto">
            <app-sports-nav class="sport-nav-mobile"></app-sports-nav>
            <router-outlet></router-outlet>
            @if(signUp()){
            <app-signup></app-signup>
            }
            @if(forgetPass()){
            <app-forget-modal></app-forget-modal>
            }
        </div>

        <div class="max-lg:hidden w-[242px]">
            <app-betslip></app-betslip>
        </div>

    </div>
    <div class="fixed left-0 bottom-0 w-full z-[999]">
        <app-bottom-nav></app-bottom-nav>
    </div>
</div>