<div>
    <app-header></app-header>
    <app-sports-nav></app-sports-nav>
    <div class="flex lg:gap-4 gap-0 layout-wrapper">
        <app-sidebar></app-sidebar>
        <div class="w-[100vw] lg:w-[calc(100vw-492px)] max-md:h-[calc(100dvh-52px)] overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
        <div class="max-lg:hidden w-[242px]">
            <app-betslip></app-betslip>
        </div>
    </div>
    <div class="fixed left-0 bottom-[10rem] w-full z-[999]">
        <app-bottom-nav></app-bottom-nav>
    </div>
</div>